[2021-10-05 23:08] mfontes commented on #352
Any triage update on this issue? We are still seeing this with some regularity. It occurred again today on one of our functions for about 20 minutes.

[2021-10-10 11:30] adrwh commented on #347
Any chance native support to parse x-www-form-urlencoded has been added yet to Azure Functions?
My use case is static apps with API function.

[2021-10-18 12:49] pellebjerkestrand commented on #381
The Applications Insights client has the correct type for `headers` (AFAIK `Record<string, string>` and `{ [key: string]: string; }` are the same) in https://github.com/microsoft/ApplicationInsights-node.js/blob/c13a78d900be17f000992c2a2fbfb162062c5271/Library/Functions.ts#L17

Its whole `HttpRequest` interface looks like this:

[code]

It's not possible to use the Application Insights client with

[2021-10-18 18:20] #427 closed, assigned to nobody

[2021-10-18 19:56] renoirtech commented on #386
Guys, this worked like a charm for me:

https://www.jurnalanas.com/node-js-mac-m1/

or

https://dev.to/courier/tips-and-tricks-to-setup-your-apple-m1-for-development-547g

[2021-10-18 20:33] alrod opened #482 ""14 UNAVAILABLE: failed to connect to all addresses" exception is thrown by language worker"
On restarting a worker language channel (worker crash or timeout) we need to check for grpc server healthiness and shutdown the host itself if the grpc server is unhealthy.

[CRI1](https://portal.microsofticm.com/imp/v3/incidents/details/265710395/home)
[CRI2](https://portal.microsofticm.com/imp/v3/incidents/details/271835687/home)
https://stackoverflow.com/questions/59823424/grpc-14-unavailable-f

[2021-10-19 00:01] ejizba commented on #381
Hi folks we will get rid of `| undefined` in the types. If people want the strict type checking, they can turn on [noUncheckedIndexedAccess](https://www.typescriptlang.org/tsconfig#noUncheckedIndexedAccess) in their TypeScript config

[2021-10-19 13:45] pragnagopa commented on #482
Documentation on Channel State API: https://github.com/grpc/grpc/blob/master/doc/connectivity-semantics-and-api.md#channel-state-api

@fabiocav - please find an owner.

[2021-10-20 20:05] JosefBackovsky commented on #386
Any update?

[2021-10-22 15:26] TeplrGuy commented on #482
@pragnagopa @fabiocav can we please get an ETA on this? Even an estimation will suffice. Thanks a lot team.

[2021-10-26 01:59] thecherrytree commented on #386
The problem is that your current node version is installed using arm64, and there are certain bugs that are not compatible in azure-functions-core-tools that rely on the i386 (intel) installation of node. You can check if your node install is arm64 or i386 by going into your terminal and typing `arch`. If you are in the native M1 environment, you are going to see `arm64`. If this is the case, you

[2021-10-26 08:56] ThaddeusJiang commented on #295
Hi @rukasakurai  @mhoeger

It works.

[code]

[2021-10-28 16:48] ejizba commented on #386
Hey folks, I believe https://github.com/Azure/azure-functions-nodejs-worker/pull/417 may have fixed this particular M1 issue. We switched to a new grpc library which is pure JS and should not have any arch-specific requirements. The change was included in yesterday's release of the func cli, v4.0.3928, which I was able to install through npm. Please note v4 is still in preview - to get more info o

[2021-10-28 18:08] ejizba commented on #214
Closing this as duplicate of https://github.com/Azure/azure-functions-nodejs-worker/issues/169

[2021-10-28 22:17] safihamid opened #449 "Node process is making calls to Azure Files for package.json during cold start"
Cold Start profiles show calls directly to Azure files to try to read package.json file during specialization.
This happens even when content is deployed az zip and we are using zip cache.

Looks like node process looks at all these places to try to load the package.json file:

<HTML>
<BODY>
<TABLE><TR><TD>FileName</TD></TR><TR><TD>C:\Program Files (x86)\SiteExtensions\Functions\4.0.0\workers\node

[2021-10-28 22:20] alrod commented on #449
I am wondering if node tries to find package.json on the function code load:
https://github.com/Azure/azure-functions-nodejs-worker/blob/v2.x/src/FunctionLoader.ts#L47

[2021-10-28 23:26] anthonychu commented on #449
I think this is standard behavior for Node. It uses package.json to figure out things like module system type (commonjs or module) and it'll search all parents to find it. It's searching from that location because workers\node\dist\srcnodejsWorker.js is the entry point. Not sure if we can prevent this but can probably limit it to a single read if we include a package.json in workers\node\dist\src.

[2021-10-29 00:36] alrod commented on #449
To prove the theory I did not load function from file system but instead loaded hardcoded function from memory. It looks like we need some "empty" package.json added to the worker so it will be loaded from worker folder before going to AzureFiles:
![MicrosoftTeams-image (1)](https://user-images.githubusercontent.com/2578359/139354343-5e025927-8158-48ec-bd21-e1561e4b6a09.png)

@safihamid validated

[2021-10-29 13:13] akozlov75 commented on #386
Looks like this release fix the issue, checked on my M1 - works fine. Thnx a lot guys/gals!

[2021-10-29 17:29] chuanqisun opened #455 "Support for Node 16 LTS"
Node 14 LTS has entered maintenance and 16 LTS is now active. [See schedule](https://nodejs.org/en/about/releases/)

However, the support table shows that javascript runtime v3 and even v4 preview both only support up to node 14. I wonder if this is intentional or a miscommunication. [See support matrix](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2#node-v

[2021-10-29 17:48] ejizba commented on #455
Hi @chuanqisun support for Node 16 is in the works for v4. See the new support matrix which is documented here:
https://github.com/Azure/Azure-Functions/issues/1999. That issue is tracking updates to the official docs as well.

You should be able to try out Node 16 in Azure if you follow [these instructions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2#se

[2021-10-29 20:07] anthonychu commented on #455
Note that while you can try it (on Azure Functions v4 on Windows), it's not an officially supported scenario right now. But as you can tell, we're working on it and you'll see an official public preview announced soon. 🙂

[2021-11-02 13:22] aaronadamsCA opened #454 "Support Node.js v16 LTS"
Node.js v16 is the current long-term support release.

Azure Functions doesn't even appear to have an announced support timeline for it.

Is Azure Functions a dead product? What's going on here?

[2021-11-02 17:32] ejizba commented on #454
Hi @aaronadamsCA I've just transferred another issue to this repo which covers the same topic. Please see https://github.com/Azure/azure-functions-nodejs-worker/issues/455 for more information

[2021-11-02 17:32] #454 closed, assigned to nobody

[2021-11-03 00:01] #381 closed, assigned to nobody

[2021-11-04 21:22] ejizba commented on #407
This was fixed in the worker in https://github.com/Azure/azure-functions-nodejs-worker/pull/380 and released in [v2.1.2](https://github.com/Azure/azure-functions-nodejs-worker/releases/tag/v2.1.2)

Which was updated in the cli in https://github.com/Azure/azure-functions-core-tools/pull/2661 and released in [v3.0.3734](https://github.com/Azure/azure-functions-core-tools/releases/tag/3.0.3734)

[2021-11-04 21:22] #407 closed, assigned to alrod

[2021-11-04 21:24] ejizba commented on #312
Fixed in https://github.com/Azure/azure-functions-nodejs-worker/pull/417

[2021-11-04 21:24] #312 closed, assigned to nobody

[2021-11-04 21:27] ejizba commented on #401
Closing in favor of https://github.com/Azure/azure-functions-nodejs-worker/issues/455 and https://github.com/Azure/azure-functions-nodejs-worker/issues/363

[2021-11-04 21:27] #401 closed, assigned to nobody

[2021-11-04 23:27] ejizba commented on #398
Hey all I've released v2.0.0-beta.0 of the types package. See here for release notes: https://github.com/Azure/azure-functions-nodejs-worker/releases/tag/types-v2.0.0-beta.0

If you have time to test it, please let me know if it works as-expected! Assuming there are no surprises, I plan to release an official version 2.0.0 very soon.

[2021-11-10 16:47] #408 closed, assigned to ejizba

[2021-11-10 21:44] fabiocav commented on #482
@TeplrGuy this has been assigned to sprint 114. We'll continue to update the issue as we make progress.

[2021-11-11 19:38] ejizba commented on #398
v2.0.0 is out!

[2021-11-11 19:38] #398 closed, assigned to ejizba

[2021-11-15 17:51] ejizba commented on #361
@Francisco-Gamino this can be closed now, right? Seems like you did the work yourself 😝

[2021-11-16 03:42] jason-mwnz opened #471 "Azure function(javascript) - read local.settings.json property during testing"
- nodejs 14

- JavaScript

During the development time, i can use "process.env[propertyName]" to access the property value inside the local.settings.json file fine. Then i install Jest framework to do the unit testing, i just realised my function app failed to read any values from local.setting.json, or it actually running different environment during development and unit test(i print out the all

[2021-11-17 00:30] anthonychu commented on #421
Option 3, which I think is the one I'd suggest:

- Add a `user` property to the http request object if `x-ms-client-principal` exists:
[code]

[2021-11-18 17:57] v-bbalaiagar commented on #471
Transferring this issue to core tools for further insights.

[2021-11-22 19:19] #471 closed, assigned to ejizba

[2021-11-22 21:07] ejizba commented on #455
FYI - support for Node.js 16 is officially in public preview 🎉

https://azure.microsoft.com/updates/public-preview-nodejs-16-in-azure-functions/

[2021-11-24 00:06] ejizba commented on #428
Both v2 and v3 of the npm package have been released. Since we are now caught up with the worker versions, I will go ahead and close this issue.

[2021-11-24 00:06] #428 closed, assigned to nobody

[2021-11-25 12:00] davidljuba15031979 opened #479 "Old npm version (1.1.37) on Windows Function App with Node.js runtime (v14.16.0)"
In Azure Function App running in Windows OS with Node.js runtime in Azure Cloud, when Node.js version is v14.16.0, npm is very very old version 1.1.37.

It should be like this (Kudu App service https://\<app-name\>.scm.azurewebsites.net/api/diagnostics/runtime):
[code]

It is clearly shown by this code that npm version is wrong in runtime of Azure Function:

[code]

[code]

[code]

I can not execu

[2021-11-25 18:53] davidljuba15031979 commented on #479
I tried in Azure Function App Linux and everything works:

[code]

[code]

[code]

Logs from remote build during deployment of function:
[code]

[2021-11-26 11:47] davidljuba15031979 commented on #479
[code]

[code]
When npm error occurs, message is:

[code]

So it clearly shows that something is wrong with node and npm versions on **Windows**  Azure Function App for Typescript

[2021-11-26 12:24] v-bbalaiagar commented on #479
Hi @davidljuba15031979,  Thank you for your feedback! We will check for the possibilities internally and update you with the findings.

[2021-11-29 17:41] v-bbalaiagar commented on #479
Transferred this issue to nodejs repo for further investigation.
Hi @AnatoliB, Can you kindly look into this.

[2021-11-29 19:52] ejizba opened #480 "Improve Node.js Functions programming model 🚀"
## Goals
1. Be idiomatic for Node.js developers. Users should be able to look at the code and immediately know what's going on
2. Let users define their own file structure (related to https://github.com/Azure/azure-functions-host/issues/5373)
3. Let users define function metadata in js/ts files instead of json
4. Take advantage of types as much as possible, including for JavaScript users (i.e. VS

[2021-11-29 19:58] #426 closed, assigned to nobody

[2021-11-29 20:07] ejizba commented on #343
Closing in favor of https://github.com/Azure/azure-functions-nodejs-worker/issues/480

[2021-11-29 20:07] #343 closed, assigned to nobody

[2021-11-29 20:19] kshyju commented on #482
@alrod Looked into the functions logs for the error mentioned in the attached CRIs (_14 UNAVAILABLE: failed to connect to all addresses_) and I can see that this error is reported from the node.js language worker. Queried logs for the last 3 days in CUS and all the entries are coming from node.js worker.

Channel is a connection abstraction on the client side. A channel instance is needed on the c

[2021-11-29 21:40] chuanqisun commented on #455
Thanks!

[2021-11-29 21:40] #455 closed, assigned to alrod

[2021-12-01 20:40] ejizba commented on #347
I've just about got this working and wanted to post here in case anyone had feedback on the API. cc @anthonychu in particular

[code]

A few notes:

- My preference is to add a method to the request object similar to Anthony's example (I don't think there's much value to putting this in a separate library).
- I chose to model the `Form` interface after Node.js's built-in `URLSearchParams` [class](

[2021-12-04 04:20] anthonychu commented on #347
Love it. Thanks for taking the multiple values into account.

[2021-12-06 11:26] pvpetrac commented on #293
Any changes there? I'd like to be able to customize applicationProperties too.. the only customizable thing is apparently message body

[2021-12-06 18:39] ejizba commented on #449
~~Addressed in https://github.com/Azure/azure-functions-host/pull/7948~~

[2021-12-06 18:53] ejizba commented on #412
Hi @ssidnal we're not super familiar with the benefits and nuances of using res.locals vs standard variables. Can you either give an example and/or describe why you want this functionality?

[2021-12-06 19:15] ejizba commented on #391
Hi @rishabhkumarjain sorry for the delayed response. It's currently not possible to set the code and it was designed this way since a timer trigger is not a request. What exactly do you want to do with the result code and how will you use it in queries? For example - if you just want to know if the function failed, you can check the 'success' property for `true` or `false`.

[2021-12-10 20:01] ghost commented on #412
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-10 20:01] ghost commented on #391
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-13 21:31] alrod commented on #482
This fix addresses the issue:
https://github.com/Azure/azure-functions-host/pull/7979

[2021-12-13 21:48] anthonychu commented on #352
@mfontes Can you please provide the following information from a more recent invocation, as well as a time range of when the issue last occurred?

[2021-12-13 21:54] anthonychu commented on #399
@zhamadagithub Are you still experiencing this issue? If yes, can you please provide more information about the app and function, including the function.json contents? And if there's an example avro file that doesn't contain private info, can you also share that please?

[2021-12-13 22:01] #412 closed, assigned to nobody

[2021-12-13 22:01] #391 closed, assigned to nobody

[2021-12-13 23:20] alrod commented on #482
Reopening the issue, this fix will help to recover function host from "failed to connect to all addresses" grpc error:
https://github.com/Azure/azure-functions-host/pull/7979

We still can not reproduce "14 UNAVAILABLE: failed to connect to all addresses" error but the fix mentioned above will improve automatic recovering after the error.

[2021-12-15 18:26] adamstoffel opened #517 "In NodeJS, Blob trigger always binds as binary buffer regardless of 'dataType' setting"
The Blob Trigger binding for NodeJS functions always binds data as a Buffer even if 'dataType' is set to 'stream' or 'string'.

#### Repro steps

1. Create a node-based function using the blob trigger
2. Set "dataType" to "stream" in function.json:
[code]

#### Expected behavior

`fileBlob` input parameter should be some kind of Stream type

#### Actual behavior

`fileBlob` input parameter is a Bu

[2021-12-15 19:39] alrod commented on #482
Fixing race during language worker start:
https://github.com/Azure/azure-functions-host/commit/5fe77113e30dd05da4ae675c97cd80956ea44a7d

[2021-12-18 02:00] ghost commented on #352
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-12-18 16:28] alibehroozi opened #508 "node process gets killed and all instances fails"
After some time that our functions are running and giving responses to the requests, the process of all functions gets killed.

This behavior is impacting our performance as requests should wait again for a cold start for more than a minute so nothing works.
this is the error we get in application insights:
[code]

with this call stack:
[code]

So do you have any idea why this is happening?

[2021-12-20 17:08] mfontes commented on #352
@anthonychu We were seeing this consistently from Wednesday until about 7AM PST this morning (When we manually restarted the functionapp -- did not resolve on its own this time!)

Timestamp: About ~32,000 failures as early as 12/15/2021, 9:09:55.306 PM PST and as late as 12/20/2021, 6:55:20.638 AM PST
InvocationID: 5a4af4a4-58ab-4359-a959-363839b36aa7  (for 12/15 failure) and 149f0a41-bbc2-4fce-a5

[2021-12-24 20:52] alibehroozi commented on #508
any idea?

[2022-01-03 18:39] ejizba commented on #508
Hi @alibehroozi please take a look at these instructions so that we can get information about your specific function app:
https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately

[2022-01-03 21:30] ejizba commented on #297
Hi @hannesne sorry for the delay. It looks like this was addressed in https://github.com/microsoft/ApplicationInsights-node.js/issues/585 by adding these docs here: https://github.com/microsoft/ApplicationInsights-node.js#azure-functions

[2022-01-03 21:30] #297 closed

[2022-01-07 20:01] ghost commented on #508
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-01-07 20:01] ghost commented on #399
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-01-08 04:16] alibehroozi commented on #508
sorry for the late reply.
Here is what I got from our Application Insights:

time: `2022-01-08T03:56:00.144Z`
region: `Central US`
InvocationId: `3f629c56-f21c-4db6-a31d-19df6c749710`
HostInstanceId: `e5df6581-ed57-4eae-aabe-9719a08ba4c2`

Let me know if any other information is needed.

[2022-01-10 22:01] #399 closed, assigned to nobody

[2022-01-14 01:58] alrod commented on #293
Specifying `messageId `is not supported by ServiceBus output biding in javasript. You can assign a string, a byte array, or a JavaScript object:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-service-bus-output?tabs=javascript#usage

[2022-01-14 06:23] alrod commented on #320
I was able to reproduce the issue in Javascript as well as in Python.
Probably it's related to [Timestamp ](https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#google.protobuf.Timestamp
) protopbuf type and it's truncated somehow during sending grpc messge from function host to language worker.

`DateTime` property with another name works fine.

[2022-01-18 02:01] ghost commented on #293
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-01-19 21:54] anthonychu opened #515 "Feature - an SDK to improve testing experience"
There are some challenges that exist today when testing Node.js Azure Functions, especially when using TypeScript. It might be useful to publish a library/SDK to help with testing.

## Unit testing

When writing unit tests, we need to create mocks for context, request, response, logger, etc. This is especially difficult in TypeScript because the mocks must provide all properties/functions to satis

[2022-01-21 04:01] #293 closed

[2022-01-21 18:50] ejizba commented on #517
The Node.js worker doesn't support streaming data. Here is an issue on the host repo with some of the background: https://github.com/Azure/azure-functions-host/issues/1361

We might be able to make progress on this, though. @gohar94 implemented a 'shared memory' feature that is meant to help with memory usage in general, although I don't know if it necessarily passes a stream to the users's code.

[2022-01-26 17:30] gohar94 commented on #517
Hi @ejizba - the shared memory feature on Python passes the whole set of bytes to the user function as of today. However, I do think that some stream-like abstraction can be given to the user (like `io.BytesIO` over the `mmap`). It will likely still all be loaded in memory but the user could operate on those bytes as a stream, if that's what you're asking.
Happy to take a look if you decide to do

[2022-01-26 18:13] ejizba commented on #517
Yeah I'm less interested in doing a stream if it's just an abstraction, not an actual stream with all the benefits.

How likely is the shared memory feature to help with 'out of memory' issues? Or is it realistically just for performance?

[2022-01-26 18:19] gohar94 commented on #517
I believe it does reduce one extra copy (which gRPC creates when transferring between the host and the worker).
It does seem possible to do full streaming from the host to the worker using shared memory but it would involve some more work (like communicating what pieces of data become available and which ones have been consumed etc.) Would be an interesting project though.

[2022-01-26 19:42] #355 closed, assigned to alrod

[2022-01-27 22:13] #363 closed, assigned to ejizba, hossam-nasr

[2022-01-28 01:09] ejizba opened #522 "Provide function execution hooks"
## Sample Usage

**This has been updated to reflect the final design**

[code]

NOTE: If you want to use hooks with esm, you have to import `registerHook` slightly differently:
[code]

## Background

Basically, users should be able to register a hook that runs a piece of code at various points in time (i.e. pre invocation and post invocation) at both the function level and app level (meaning you r

[2022-01-28 01:21] ejizba opened #523 "Agent based monitoring with app insights"
The monitoring team has provided an agent we can use that will automatically track a lot of beneficial information for users. The agent is already added for web apps, but we would need to make sure it's included in our windows and linux images for function apps. Then we would just need to make sure we load the agent (something like `require /agents/node/build/src/Loader.js`).

A description for we

[2022-01-28 01:36] ejizba commented on #524
Moved this to the node.js repo - I think it was in Java on accident. Unfortunately this work is currently blocked by work in the host first. Related issues here:
https://github.com/Azure/azure-functions-host/issues/4926
https://github.com/Azure/azure-functions-host/issues/7930

[2022-01-28 01:43] ejizba commented on #482
@alrod was this fixed in the linked PR/commit? Or is there still remaining work?

[2022-01-28 01:47] ejizba commented on #382
VS Code was updated in https://github.com/microsoft/vscode-azurefunctions/pull/2712
The func cli was updated in https://github.com/Azure/azure-functions-core-tools/pull/2852

[2022-01-28 01:47] #382 closed, assigned to nobody

[2022-01-28 01:58] ejizba commented on #377
Fixed in https://github.com/Azure/azure-functions-nodejs-worker/pull/414

[2022-01-28 01:58] #377 closed, assigned to nobody

[2022-01-28 01:58] #361 closed, assigned to nobody

[2022-01-28 02:05] ejizba commented on #415
Sorry for the delay here. You should be able to use `languageWorkers__node__arguments` as an app setting or environment variable

[2022-01-28 02:05] #415 closed, assigned to soninaren, v-anvari

[2022-01-28 02:13] ejizba commented on #334
Closing this issue as it doesn't actually have any information

[2022-01-28 02:13] #334 closed, assigned to nobody

[2022-01-28 02:13] #321 closed, assigned to nobody

[2022-01-28 18:06] ejizba commented on #295
Closing in favor of https://github.com/Azure/azure-functions-nodejs-worker/issues/515 and https://github.com/Azure/azure-functions-nodejs-worker/issues/120

[2022-01-28 18:06] #295 closed

[2022-01-28 18:11] ejizba commented on #284
Looks like this was already fixed in v3. Only thing left is this:

But since v2 is pretty old at this point, I will go ahead and close.

[2022-01-28 18:11] #284 closed

[2022-01-28 19:14] ejizba commented on #274
I can confirm this is still happening because of [this logic](https://github.com/Azure/azure-functions-nodejs-worker/blob/e7fc8676ca83017ba06e2b39f5d0fd6c44d0789b/src/converters/BindingConverters.ts#L31). I used this to test:
[code]

We should at least decide on best practice and make sure it's added to the TypeScript definitions. Longer term we should consider removing that extra camel case logic

[2022-01-28 23:00] ejizba commented on #221
@pragnagopa can you give a short description of this issue and if any work still needs to be done?

[2022-01-28 23:09] ejizba commented on #205
Closing due to lack of information and because we already have a few issues to track improvements to bindings, namely https://github.com/Azure/azure-functions-nodejs-worker/issues/345 and https://github.com/Azure/azure-functions-nodejs-worker/issues/480

[2022-01-28 23:09] #205 closed

[2022-01-28 23:11] ejizba commented on #204
This is likely something we can address in https://github.com/Azure/azure-functions-nodejs-worker/issues/480

[2022-01-28 23:22] ejizba commented on #199
Closing this because it's old/stale and I don't see us adding support for decorators by itself. However, I'm sure it will be discussed as a part of https://github.com/Azure/azure-functions-nodejs-worker/issues/480

[2022-01-28 23:22] #199 closed

[2022-01-28 23:26] ejizba commented on #192
Closing because this is stale and the e2e test script has been significantly changed since the issue was originally filed.

[2022-01-28 23:26] #192 closed

[2022-01-28 23:37] ejizba commented on #187
We are aware of the issues for in-portal editing of TypeScript functions and there will be even more issues for both JS and TS once we implement https://github.com/Azure/azure-functions-nodejs-worker/issues/480 (because the new programming model will require a certain amount of app-level code, not just one js/ts file per function).

I'm skeptical we will fix these with the existing in-portal editi

[2022-01-28 23:41] ejizba commented on #151
Closing this issue due to lack of activity

[2022-01-28 23:42] ejizba commented on #146
Closing in favor of https://github.com/Azure/azure-functions-nodejs-worker/issues/347

[2022-01-28 23:42] #146 closed

[2022-01-28 23:44] ejizba commented on #106
Closing this because it's stale. context.done() has been discouraged for a while now in favor of async and we already have several warnings/detectors for it.

[2022-01-28 23:44] #106 closed

[2022-01-28 23:50] #215 closed

[2022-01-29 00:20] pragnagopa commented on #151
Do keep the issue active for adding documentation. Please close this once there is a doc issue

[2022-01-31 14:21] phillipharding commented on #508
I also had this issue a couple of days ago

A queue triggered function running correctly and had been since start up at the beginning of the day, then for no apparent reason the NodeJs process just terminates with an error in the log

After cold restart, replayed the original queue message, triggering the function which ran correctly and as expected.

|   |   |
| ------- | ------ |
| Function Work

[2022-01-31 18:21] ejizba commented on #151
@pragnagopa is this sufficient?
https://docs.microsoft.com/en-us/azure/app-service/overview-managed-identity?tabs=portal%2Cjavascript

[2022-01-31 18:30] pragnagopa commented on #151
@ejizba - I highly recommend having specific documentation for Azure Function Apps - with code snippets.

[2022-01-31 19:02] ejizba commented on #151
Can you point me to specific docs for any other languages? Also you're welcome to file "a doc issue" (I don't know what that means) as you have the context on why this is important.

I'm trying to clean up this repo and there are _a lot_ of old/stale issues. In my experience if an issue stays open for 3+ years with no activity its probably not gonna happen. At least on my old team, we used a bot t

[2022-01-31 19:31] ejizba commented on #147
The link to the docs in the original issue is out of date, and I think by now all languages (except maybe C#Script?) are leveraging an app insights sdk as opposed to something on the logger. We have several improvements around app insights already on the docket, namely https://github.com/Azure/azure-functions-nodejs-worker/issues/522 and https://github.com/Azure/azure-functions-nodejs-worker/issue

[2022-01-31 19:31] #147 closed

[2022-01-31 19:51] ejizba commented on #80
Closing due to lack of activity. Related to https://github.com/Azure/azure-functions-nodejs-worker/issues/349

[2022-01-31 19:51] #80 closed

[2022-01-31 19:56] ejizba commented on #75
Closing due to lack of activity. My guess is this issue was filed before the existing unit tests were written on the default branch, because there's already quite a few - definitely more than the linked file for v1.x.

[2022-01-31 19:56] #75 closed

[2022-01-31 20:00] ejizba commented on #67
Closing due to lack of activity and since as mentioned people should be using async/await

[2022-01-31 20:00] #67 closed

[2022-02-01 01:18] ejizba opened #527 "Switch to native JavaScript private fields"
We currently use TypeScript private fields (`private _data: string`), but those are not enforced as soon as the code is compiled into JavaScript. We should use the relatively new JavaScript private fields (`#data: string`) supported by Node.js 12 and later:
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Classes/Private_class_fields

This will prevent users in both TS and JS from

[2022-02-01 18:32] ejizba commented on #242
Fyi @alrod, this may or may not be improved by a recent PR I did: https://github.com/Azure/azure-functions-host/pull/8101 & https://github.com/Azure/azure-functions-host/pull/8102

[2022-02-01 23:00] ghost commented on #221
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2022-02-02 16:42] pragnagopa commented on #221
@ejizba / @AnatoliB  - Issue description already captured details on the work needed. This is part of the work needed to unify how node version is specified by Cx - as of now only Node version follows a different pattern - App Setting, rest of the languages rely on site config properties such as /javaVersion, /powershellVersion.

If you intend to drive this work forward either yourself or through

[2022-02-09 18:51] ejizba commented on #449
Fixed in https://github.com/Azure/azure-functions-nodejs-worker/pull/501

[2022-02-09 18:51] #449 closed, assigned to alrod

[2022-02-09 18:53] hossam-nasr commented on #421
Closing this issue, implemented in this PR #483.

Basically following @anthonychu's option 3. In `HttpRequest`, the `user` property is added:

[code]

which has the following interface:

[code]

[2022-02-09 18:53] #421 closed, assigned to hossam-nasr

[2022-02-10 08:09] anthonychu commented on #522
I propose adding support for an optional file containing startup code because there's nowhere else to put startup code.

There should be a way to specify the name of the startup file. Options include:

* host.json - It has a schema that our team owns, we can add a section to it for the Node.js worker
* package.json - It's common to add custom sections to package.json. For instance:
[code]

Startup

[2022-02-10 16:21] phillipharding commented on #522
This sounds like a great feature, in terms of where to register the startup file in ```host.json``` or ```package.json```?

Just my 2-pence....

The NodeJs function apps I build are all built using a webpack pipeline resulting in a deployable codebase without a ```package.json``` - in part to remove the cold-start latency caused by the functions runtime _'npm installing'_ package dependencies

For

[2022-02-10 19:18] ejizba commented on #522
Preface: From a technical perspective, we need the function app directory to read the host.json or package.json. That is not provided by the host today, but is provided with the new worker indexing changes as a part of #480, which is still behind a feature flag. If I ignore that limitation temporarily, here are my suggestions:

## package.json

If we're going to add to package.json (my preference)

[2022-02-10 21:40] anthonychu commented on #522
Another point to ensure is considered... because what's proposed so far are separate pre and post invocation hooks, the only way for pre and post hooks to communicate is via adding stuff to the context object. I think there should be clear guidance where in the context object this data should be placed.

[2022-02-10 22:51] aaronpowell commented on #522
As an overall concept - this is something that I think would be really useful and I can see several use cases which it would fit well for, one of this is the [OpenAPI extension](https://github.com/aaronpowell/azure-functions-nodejs-openapi) that I created.

I agree with @anthonychu on having four life cycle events to hook into, this offers the most flexibility (and having a filter on the `preInvoc

[2022-02-11 00:20] ejizba commented on #522
I think that's out of scope for this issue, but very much should be possible with https://github.com/Azure/azure-functions-nodejs-worker/issues/480

[2022-02-11 00:51] aaronpowell commented on #522
Agreed - I'm just thinking through how a design would look and how it can feed into future planning

[2022-02-11 01:04] aaronpowell commented on #480
One of the hardest things to handle is bindings - there's nothing like .NET attributes that you can leverage, so there's really two options IMO - object literal or a fluent API.

Here's some rough prototype ideas:

[code]

Both of those are a "low level API" and I don't see why you couldn't have something more like `app.registerHttp(handler: AzureFunction, route: string, methods?: ("get" | "post"

[2022-02-11 01:07] aaronpowell commented on #480
I'd be looking at libraries like Fastify/Express/etc. as inspirations for how to create the API surface area, but not try and mimic them completely as they are centred so much around HTTP only, when you want to make a programming model that fits nicely for other bindings too.

[2022-02-11 01:13] aaronpowell opened #531 "Respect package.json type: module for ESM Functions"
The preview support for ESM (ES6) modules available (#104 for tracking) requires the use of `mjs` file extensions (https://github.com/Azure/azure-functions-nodejs-worker/blob/v3.x/src/FunctionLoader.ts#L31 for source reference) which is a bit of a pain when it comes to working with TypeScript, [you need to use the nightly compiler](https://www.typescriptlang.org/docs/handbook/esm-node.html) to out

[2022-02-11 01:14] aaronpowell commented on #531
If you're happy for me to PR this in, would you prefer the v3 or v4 branch?

[2022-02-11 01:58] ejizba commented on #531
v3 branch. That being said, you will need the function app directory from the host in order to read the package.json and I don't think that's currently available. AFAIK, it was first added with the [new worker indexing changes](https://github.com/Azure/azure-functions-host/pull/7606), but I would prefer if you let us integrate those changes. You're welcome to investigate a different method for rel

[2022-02-11 02:19] aaronpowell commented on #531
My thought was to have the `load` function walk upwards in the fs to look for the `package.json`, and if found, read it from there, otherwise fallback to the current logic.

Given that `load` is called on first invocation, that _might_ have a perf impact, so it could be optimised by caching the first attempt to lookup so future ones don't pay the penalty.

Agreed that the new worker indexing will

[2022-02-11 07:42] Enngage commented on #479
Running into this as well :/ Using Typescript Azure Functions and tried using Node.js 12/14/16 as well as Azure functions 2,3/4, all with the same result where `npm` is on version `1.1.37` and I can't seem to update it.

Also using windows functions.

[2022-02-11 13:01] phillipharding commented on #522
@ejizba thanks for the info and correction 🙂

[2022-02-11 22:52] #347 closed, assigned to anthonychu, ejizba

[2022-02-12 01:13] ejizba commented on #386
Closing this as fixed in https://github.com/Azure/azure-functions-nodejs-worker/pull/417. Please follow https://github.com/Azure/azure-functions-core-tools/issues/2834 for the remaining core tools support

[2022-02-12 01:13] #386 closed, assigned to nobody

[2022-02-17 00:11] ejizba opened #537 "Add entrypoint for app-level code"
UPDATE: Per the final design, you can specify a single file or a glob pattern for multiple files as the "main" field in your "package.json" file.

---

Basically, provide a way for users to run app-level code when the worker is initialized. This would be directly beneficial for the new hooks feature (#522), but could realistically be used for any arbitrary code. Current proposal is to respect the

[2022-02-17 00:15] ejizba opened #538 "Provide Intellisense for JS users"
VS Code supports Intellisense for JS users based on TypeScript types (docs [here](https://code.visualstudio.com/docs/nodejs/working-with-javascript#_intellisense)). This is a high priority for https://github.com/Azure/azure-functions-nodejs-worker/issues/480, but could be possible even earlier for things like worker hooks (https://github.com/Azure/azure-functions-nodejs-worker/issues/522)

[2022-02-17 00:17] ejizba opened #539 "Provide startup/teardown hooks"
Related to https://github.com/Azure/azure-functions-nodejs-worker/issues/522, which is focused on invocation hooks (needed for distributed tracing), there is benefit to startup & teardown hooks as well

A few differences between putting code at the top level of the startup file vs. a startup hook:
1. Startup hooks can use `await` (commonjs files don't support top level `await`, although es6 does)

[2022-02-17 00:31] ejizba commented on #522
In the interest of enabling distributed tracing faster, I've split the above proposals into several separate issues. We should be able to make progress on them before the new programming model, so I think that'll still satisfy folks.
- https://github.com/Azure/azure-functions-nodejs-worker/issues/537
    - NOTE: I already made progress on this one (PR in the host [here](https://github.com/Azure/az

[2022-02-17 01:11] aaronpowell commented on #537
With the change on the Function Host, will there be some more data provided to the workers when they start up, info that can be used to find the `package.json`?

[2022-02-17 01:17] ejizba commented on #537
Yes that is the point of the change on the host and it will also help with https://github.com/Azure/azure-functions-nodejs-worker/issues/531, if that's what you're after 😝

[2022-02-17 03:00] aaronpowell commented on #537
![MaaaaybeGIF](https://user-images.githubusercontent.com/434140/154396422-888759d3-f8d9-499f-9e2a-ca93705de7c2.gif)

[2022-02-17 18:32] ejizba commented on #531
We should be conscience that this may surprise some users if suddenly their package.json "type" field is respected, especially since our es6 support is technically in preview. I don't anticipate many people would have their type set to "module" (I don't think it's the default anywhere?) so probably not a big deal.

I think it would be nice if we added support for .cjs files at the same time as we

[2022-02-17 22:02] aaronpowell commented on #531
Agreed, I'd see the decision tree being:

1. Do what the `type` field says (module or commonjs)
2. Check the file extension for .js vs .cjs
3. Assume commonjs

[2022-02-28 22:40] ejizba commented on #479
As a workaround, you can hardcode the path to the npm version you want. However, we make NO guarantees that this version/path will continue to exist. Practically speaking, though, its relatively stable and I can't remember a time where we've removed npm versions. Here's an example using the above sample code:
[code]

I think this is a "feature request" as opposed to a "bug" for two reasons:
1. The

[2022-03-04 18:51] alrod commented on #242
The [code](https://github.com/Azure/azure-functions-nodejs-worker/blob/v3.x/src/Worker.ts#L53) logs unhandled exceptions. This was validated on the portal/app insights/kusto.
HttpTrigger returns 500.

[2022-03-04 18:51] #242 closed

[2022-03-04 19:32] alrod commented on #482
@ejizba, we did some work in the function host to ensure a worker is recovered after "14 UNAVAILABLE: failed to connect to all addresses".

we still want this issue to be opened to get more details or repro steps as it's not clear what leads the worker to the error.

[2022-03-04 20:21] hossam-nasr commented on #378
Created a work item [here](https://dev.azure.com/Azure-Functions-Supportability/IPD%20Reduction%20-%20Nickel/_boards/board/t/IPD%20Reduction%20-%20Nickel%20Team/Feature%20Areas/?workitem=612) to track this on the detectors board.

/cc @stefanushinardi

[2022-03-04 22:16] hossam-nasr opened #551 "Enforce HttpResponse type on `context.res`"
This issue is related to #169. This was partially addressed in #529, which exposed interfaces to describe HTTP response types. However, this implementation is still incomplete, because these types are not actually enforced on the `context.res` property. As it stands, the type of the `context.res` property is still:

[code]

Ideally, we want this to be:

[code]

Enforcing this type is challenging i

[2022-03-04 22:18] hossam-nasr commented on #169
Partially addressed in #529. Closing this issue in favor of #551

[2022-03-04 22:18] #169 closed

[2022-03-09 06:38] ryancole commented on #480
I feel honored to be in the bullet list of items that triggers this issue. JK. JK. :P

[2022-03-09 09:01] sinedied commented on #480
With the prominence of TypeScript, I would suggest thinking of how the new API model could leverage TS to make it a first class citizen. For example, I would push forward TS decorators as a way to define bindings and other functions settings. I know decorators' TC39 proposal is currently only stage 2, and TS decorators are already diverging a bit from that proposal. But as syntactic sugar, they're

[2022-03-09 09:14] aaronpowell commented on #480
I'm going to disagree with this. From the conversations that I've had with the TypeScript team, I felt that they were not really encouraging new projects to use the decorators that are in TypeScript because, as you pointed out, they aren't in line with the spec and if/when decorators do make it into the spec, they won't be able to directly port over the current implementation, so they'll have to h

[2022-03-09 09:28] sinedied commented on #480
The first goal is to be idiomatic for Node.js dev, and the fact is that decorators are hugely popular in all TS-first Node.js libs. This is what I think is the most important point here.

Now, I don't say that the API should be built exclusively around decorators, but we can use them as syntactic sugar around the base API. When/if the new decorators spec will be defined, the whole TS ecosystem wou

[2022-03-09 18:22] ejizba commented on #480
I understand there may be technical reasons decorators would be difficult for us (as @aaronpowell said), but I do plan to explore that option and have at least one prototype with decorators. I make no promises, but I think it's worth considering

[2022-03-14 18:58] thomasgauvin commented on #736
What is the guidance for debugging TypeScript projects? EDIT: Had to manually adjust ports for inspection as mentioned here https://stackoverflow.com/a/55932453/18146992

[2022-03-14 22:34] ejizba opened #553 "Add function callback to pre/post invocation hook context"
Met with App Insights folks and the main thing missing from the new [hooks](https://github.com/Azure/azure-functions-nodejs-worker/pull/548) is the function callback. The callback is an argument to [`cls-hooked`](https://www.npmjs.com/package/cls-hooked) in their [wrapWithCorrelationContext](https://github.com/microsoft/ApplicationInsights-node.js#setting-up-auto-correlation-for-azure-functions) m

[2022-03-14 23:28] diberry opened #556 "JS Azure Function Blob Storage Trigger - exception"
When I locally run the following [Azure Function Blob Storage trigger](https://github.com/Azure-Samples/msdocs-storage-bind-function-service/tree/main/javascript), it occasionally throws an exception which stops the local runtime.

**Questions**:
* Is it my code or Azure?
* How can I catch the actual issue?

The specific exception is here:

[code]

The full console log of the local run is here

[c

[2022-03-14 23:30] mattchenderson commented on #151
I am in favor of closing this. It is not clear to me what the gap is. The doc in question covers Functions equivalently in its scope and includes JS reference for interacting with the token service. I have some quibbles with recent refactoring to that doc (and elimination of previously available sample code) and will have to work on fixing that. But that does not need to be tracked here.

[2022-03-17 18:08] ejizba commented on #556
I'd have to look deeper into the code to be sure, but my first guess is this is an out-of-memory problem. That kind of issue is very difficult for us to show a nice message for, but should be detectable if you use a tool to track memory on your machine

[2022-03-21 17:48] ejizba commented on #151
Closing per above comment by Matt

[2022-03-21 17:48] #151 closed

[2022-03-21 17:54] ejizba commented on #134
Closing this due to lack of activity and because the provided workaround feels sufficient for the scope of the issue

[2022-03-21 17:54] #134 closed

[2022-03-21 18:16] ejizba commented on #556
Let us know if you're still running into this issue and the result of looking at the memory. If you're using a large file that could cause the issue, but it doesn't seem like a problem because the files in the /images folder of your repo are pretty small.

FYI, the exit code `-1073741819` converted to hex is `0xC0000005` which is a bit easier to google. It seems like a windows access violation err

[2022-03-21 18:25] diberry commented on #556
@ejizba - seems reasonable. I'll reopen if I have more information.

[2022-03-21 18:25] #556 closed, assigned to nobody

[2022-03-22 00:31] #527 closed, assigned to ejizba

[2022-03-23 00:35] #531 closed, assigned to hossam-nasr

[2022-03-23 17:13] alrod opened #558 "Detect blocking sync operations during function executions"
On blocking sync operation the nodejs worker becomes unresponsive:
1. New invocations hang as nodejs worker is not able to read them from grpc and can reach timeouts/long executions.
2. The logs from nodejs worker can not be written to grpc.
3. It's hard to understand the function code stack trace for blocking operation.

Related [CRI](https://portal.microsofticm.com/imp/v3/incidents/details/27999

[2022-03-24 00:09] #522 closed, assigned to ejizba

[2022-03-28 16:57] ejizba opened #562 "Support Node 18"
Initial release: 2022-04-19
Active LTS start: 2022-10-25

https://nodejs.org/en/about/releases/

[2022-03-29 10:38] kristoffer-zliide opened #566 "Support Node 16"
Initial release: 2021-04-20 - over 11 months ago
Active LTS start: 2021-10-26

https://nodejs.org/en/about/releases/

It has been in "preview" for over four months: https://azure.microsoft.com/en-us/updates/public-preview-nodejs-16-in-azure-functions/.

[2022-03-29 17:10] ejizba commented on #566
Hi @kristoffer-zliide, you will see an announcement regarding Node 16 _very soon_. I share your frustration with how long it took, and I plan to ensure the team does much better with Node 18 which is why I created the issue for it yesterday.

Previously [this](https://github.com/Azure/azure-functions-nodejs-worker/issues/455) was the only issue we had tracking Node 16 support, but it was closed wh

[2022-03-30 10:16] EwaldBorger commented on #508
I'm not sure if this is the exact same issue (if not I'll open a new issue), but it looks like it.
We just see processes die and get no output at all about what caused it.

[code]
and then a
[code]

We can't see more output than this, logs before are just the expected logs from our code and after are all messages related to a new host startup.

Our setup is a durable function with fan-out-fan-in p

[2022-03-30 19:36] kristoffer-zliide commented on #566
Very soon, indeed: https://azure.microsoft.com/en-us/updates/generally-available-nodejs-16-in-azure-functions-2/ 😄 Thanks!

[2022-03-30 19:36] #566 closed, assigned to nobody

[2022-03-30 21:03] ejizba commented on #566
No problem!

Just fyi, you may continue seeing a "Preview" label in the portal and VS Code until [this change](https://github.com/Azure/azure-functions-ux/pull/6589) rolls out (could take a few weeks). Regardless, the announcement trumps those UI labels

[2022-04-05 19:25] ejizba opened #567 "Publish types package for core api"
This work is partially done already, but we are open to changes so I want an issue for potential feedback and to track any remaining work.

The main idea is that we want users to provide information (i.e. hooks and functions) programmatically, meaning we need to define an API in which they can do that. As a part of the hooks feature, we settled on a "built-in" module named `@azure/functions-core`.

[2022-04-05 20:54] ejizba opened #568 "Move existing programming model into separate npm package"
I propose we split the worker up into two pieces, one that ships as-is with the host and one that ships as a separate node module (from here on out, I will reference these as the "core" and "programming model" packages respectively). This specific issue is to track moving the existing programming model out of the worker and into a separate package. The first iteration of this package should exactl

[2022-04-05 21:09] ejizba opened #569 "Support defining functions in code instead of function.json"
This work was unblocked in the host by https://github.com/Azure/azure-functions-host/pull/7606. For now, it requires users to include `EnableWorkerIndexing` in the `AzureWebJobsFeatureFlags` app setting.

This specific issue is to track basic support in the [core worker api](https://github.com/Azure/azure-functions-nodejs-worker/issues/567) for defining functions in code. I imagine this essentiall

[2022-04-06 14:25] anfibiacreativa commented on #480
I support exploring the decorators option. Makes a lot of sense to me.

[2022-04-06 20:04] #553 closed, assigned to ejizba

[2022-04-06 23:52] aaronpowell commented on #480
With decorators progressing to Stage 3 last week, it's probably more viable to consider, but we'd want to leverage the design of decorators that's spec'ed out rather than the one in TypeScript today (and that might make things harder).

[2022-04-22 20:31] #537 closed, assigned to ejizba

[2022-05-04 08:36] sinedied commented on #347
@anthonychu @ejizba It seems that this is only for v3 runtime and not available in v4 😞  Any chance it will also come to v4 or was there a reason to get it removed?

[2022-05-04 16:54] anthonychu commented on #347
@sinedied This change is in v3.2.0 and above of the Node.js worker. It's a bit confusing but Azure Functions v4 uses the v3 Node.js worker, and v3 uses v2. 😆

You can see that here:
- https://github.com/Azure/azure-functions-host/blob/v3.x/src/WebJobs.Script/WebJobs.Script.csproj#L58
- https://github.com/Azure/azure-functions-host/blob/dev/src/WebJobs.Script/WebJobs.Script.csproj#L59

This is the

[2022-05-05 20:49] ejizba commented on #347
Yes Anthony is correct, you will need v4.3.0 of the _host_ or higher (which includes v3.2.0 of the _node.js worker_). You can check the releases of the host in either one of these places:
- https://github.com/Azure/azure-functions-host/releases
- https://github.com/Azure/app-service-announcements/issues

The 4.3.0 release started a while ago, but unfortunately had a few issues requiring them to do

[2022-05-23 21:52] microsoft-github-policy-service[bot] opened #585 "This repo is missing important files"
There are important files that Microsoft projects should all have that are not present in this repository. A pull request has been opened to add the missing file(s). When the pr is merged this issue will be closed automatically.

Microsoft teams can [learn more about this effort and share feedback](https://docs.opensource.microsoft.com/releasing/maintain/templates/) within the open source guidance

[2022-05-24 13:52] sedot42 opened #586 "context.log({ object: 42}) does not stringify object before logging"
Hi! I really like Azure Functions for Node.js, but recently encountered an issue that causes imo unnecessary work. Please excuse me if this is the wrong repo to file this issue.

### Repro steps

[code]

### Expected behavior

Logging an object should write a stringified JSON to the logs, because otherwise parsing this information in e.g. Application Insights requires transforming the log message

[2022-05-24 14:14] sedot42 commented on #480
Wouldn't TS decorators be just a nice potential feature of the new programming model? Imo it sounds like a good compromise to keep this feature in mind and focus on getting the basics of a good programming model right.

I like the brevity of the high-level API form suggested [here](https://github.com/Azure/azure-functions-nodejs-worker/issues/480#issuecomment-1062697601) by @sinedied, leveraging t

[2022-05-24 22:32] aaronpowell commented on #480
I like the idea of decorators _in principle_ but until there's support for the proposal that's going forward not the legacy one in TypeScript and Babel/swc/etc. I see it as being a really hard thing to support as a first-class citizen.

[2022-05-25 18:52] midanilo commented on #294
Same problem here, I've searching a past day looking for this strange behavior on google as my binary upload doesn't have the same size and contents of my original one.
Lucky, I found this opened ticket with this undocumented tip to put content-type to application/octet-stream, but if this a known behavior by microsoft, this could be at least documented

[2022-05-25 23:57] ejizba commented on #586
It looks like we use [util.format](https://nodejs.org/api/util.html#utilformatformat-args) to turn the arguments into a string, which is the same behavior you would see using [console.log](https://nodejs.org/api/console.html#consolelogdata-args) (with or without Azure Functions). My gut says to leave this as-is to maintain consistency and because ultimately I don't see a clear right or wrong answe

[2022-05-27 17:39] ejizba opened #587 "Cannot find name 'Buffer'. Do you need to install type definitions for node?"
The recent release of the types package references `Buffer` which is defined in `@types/node`. Without that package, users will see an error like this:
![image](https://user-images.githubusercontent.com/45614674/170675176-80da179c-924d-4f32-bff5-7990eb42ae33.png)

This is a somewhat common problem in the types world and there's no good solution. Fortunately the error is pretty self explanatory and

[2022-05-29 01:47] lilyjma commented on #168
@AnthonyPhan / @ekurutepe -- Are you still experiencing the issue?

[2022-05-29 18:43] ekurutepe commented on #168
@lilyjma no idea, it's been 3 years. I don't remember what this was about but I guess I'm not using Azure for it anymore.

[2022-05-30 13:18] sedot42 commented on #586
Interesting. I see the main downside of changing the default behaviour in potentially breaking implementations that rely on parsing this malformed JSON. Thanks for your suggestion on how to change this behaviour with invocation hooks. I consider using this in the future. Have a good day!

[2022-06-03 17:19] #585 closed, assigned to nobody

[2022-06-03 20:20] SikoSoft opened #589 "originalUrl does not exist on type HttpRequest interface in Typescript definition"
The definition for the originalUrl property is missing from the HttpRequest interface, resulting in "Property 'originalUrl' does not exist on type 'HttpRequest'.ts(2339)" errors.

#### Investigative information

Not relevant. This is a development issue that is easy to observe when attempting to use this property in Typescript.

#### Repro steps

Provide the steps required to reproduce the problem

[2022-06-03 20:37] ejizba commented on #589
Hmm it looks like `originalUrl` and `url` should have the [same value](https://github.com/Azure/azure-functions-nodejs-worker/blob/1b517a73117a99b0d58f050dcccb9f89709adac4/src/http/Request.ts#L35). In the short term, you can just use `url` and that should fix any errors you see. It's a bit weird that `url` is listed in the types, but `originalUrl` is listed in the docs, though.

I'll add this to o

[2022-06-04 16:07] SikoSoft commented on #589
Interesting...

Yeah, I saw the url definition and wondered what the difference is.

After initial testing, it appears to provide the same value, so I will update my code and start using this property.

Thanks for the info!

[2022-06-04 16:07] #589 closed, assigned to nobody

[2022-06-06 17:45] ejizba commented on #586
Discussed with the team and we're going to close this as won't fix because we're consistent with the default `console.log` behavior in Node.js. Thanks for the suggestion, though!

[2022-06-06 17:45] #586 closed, assigned to nobody

[2022-06-06 19:00] itpropro opened #590 "Query parameters not correctly parsed"
The source code describes the type for the query parameters as being only string values https://github.com/Azure/azure-functions-nodejs-worker/blob/d51a7b0ae919dc47d51bb19076ea51406bed6be8/types/index.d.ts#L111 which is not always the case.
The following query would result in a JavaScript object that consist of only strings:

[code]

#### Repro steps

You can easily create a querystring by using e

[2022-06-06 19:51] itpropro commented on #567
I really like the more functional approach, as it fits better into the current JS ecosystem. Having as much tasks done by code (referring to #569) as possible should be the goal as well of getting rid of the requirement of having multiple separate files (we already have function.json, host,json, extensions, etc.) and of course not introducing new like the startup one.
The JS/TS world already has a

[2022-06-06 23:06] ejizba commented on #590
I believe `req.query` is consistent with the default behavior of `queryString.parse`, since both `parseBooleans` and `parseNumbers` default to false. With that in mind, I would say our existing behavior is "correct" (aka this isn't a bug), but rather it sounds like a feature request to support those config options (`parseBooleans` and `parseNumbers` or something similar). Does that sound right?

[2022-06-06 23:36] #558 closed, assigned to alrod

[2022-06-07 00:15] ejizba commented on #587
Decided to go with option 3. For the version, we will choose the latest version of Node corresponding to the user's version of the Functions runtime. There's a chance users are actually on an earlier version of Node, but the risk of that causing problems is minimal compared to the benefit of the template working out of the box. Since this is set in the template (as opposed to option 2), users can

[2022-06-08 19:16] itpropro commented on #590
I think it should not be consistent with the behavior of querystring, but with the HTTP RFC. I don't know what the exact result would be with the built-in node qs module, but having to write custom code for every field that you want to contain another type than string for every single function (except you are using durable then it's only the starter function) can't be solution.

EDIT: I made a few

[2022-06-08 21:59] ejizba commented on #590
I don't have a quick answer on this, but regardless it would be a breaking change so it probably wouldn't happen any time soon.

We're working on some new features that would make it easier for you to write code that would apply to _all_ functions, which could help in this case. [The feature](https://github.com/Azure/azure-functions-nodejs-worker/issues/522) is called invocation hooks and you coul

[2022-06-08 22:43] itpropro commented on #590
I understand, if it would help, I could create a PR to the docs with an example using the mentioned hooks.
For Durable Functions, would you agree, that something like a switch statement over the `req.query` object in the starter function would be a “good” way of solving this? If tes I would also add that to the PR.

[2022-06-09 18:59] liliankasem opened #592 "Populate WorkerMetadata in WorkerInitResponse message"
The protobuf has been updated to include a `WorkerMetadata` property within the `WorkerInitResponse` message. The worker should include `WorkerMetadata` when sending the `WorkerInitResponse` to the host.

[PR](https://github.com/Azure/azure-functions-language-worker-protobuf/pull/76) for reference on how to fill in the fields.

You will need to pull in the latest protobuf version first (this [doc]

[2022-06-09 21:51] lilyjma opened #593 "Detector for incompatible packages"
- [Add a detector to let customers know that they are importing incompatible packages with their apps](https://dev.azure.com/Azure-Functions-Supportability/IPD%20Reduction%20-%20Copper/_boards/board/t/IPD%20Reduction%20-%20Copper%20Team/Feature%20Areas/?workitem=644)

[2022-06-10 16:48] ejizba commented on #590
We're not ready to document the hooks feature yet. People _can_ use hooks directly from the `@azure/functions-core` module, but the long-term recommended way of using hooks will be as a part of the [new programming model](https://github.com/Azure/azure-functions-nodejs-worker/issues/480) which is a larger effort currently underway

cc @davidmrdavid for the question on durable functions. My quick a

[2022-06-10 22:14] ejizba commented on #569
I did a rough first commit on [this branch](https://github.com/Azure/azure-functions-nodejs-worker/tree/ej/indexing) that only works with "OptionA-Simple" in the prototype repo [here](https://github.com/ejizba/func-nodejs-prototype). Keep in mind you have to add this to the local.settings.json in the app you're testing:
`"AzureWebJobsFeatureFlags": "EnableWorkerIndexing"`

Plan as discussed today

[2022-06-13 17:44] lilyjma opened #594 "Detector for catching timeouts"
- [Check if detector catches timeout exceeding the limit](https://dev.azure.com/Azure-Functions-Supportability/IPD%20Reduction%20-%20Copper/_boards/board/t/IPD%20Reduction%20-%20Copper%20Team/Feature%20Areas/?workitem=645)

[2022-06-13 17:45] lilyjma opened #595 "Detector for unsupported language version and version formatting"
- [Detecting unsupported language version given Functions runtime, and correct formatting of versions](https://dev.azure.com/Azure-Functions-Supportability/IPD%20Reduction%20-%20Copper/_boards/board/t/IPD%20Reduction%20-%20Copper%20Team/Feature%20Areas/?workitem=672)

[2022-06-14 23:23] ejizba commented on #120
A few more docs about unit testing & dependency injection provided to us by Hannes offline:

- https://www.maxivanov.io/unit-testing-azure-function-with-jest-typescript/
- https://medium.com/@magnusjt/dependency-injection-in-nodejs-9601a19c1f36

We should keep unit testing in mind as we work on the new programming model

[2022-06-14 23:38] ejizba commented on #204
More feedback on why we need to simplify `context` in relation to unit testing:

https://www.maxivanov.io/unit-testing-azure-function-with-jest-typescript/

[2022-06-15 22:33] liliankasem commented on #592
Latest proto version is now [v1.5.8](https://github.com/Azure/azure-functions-language-worker-protobuf/releases/tag/v1.5.8-protofile)

Edit: I had to force push so please confirm the commit hash is `14b2ba5` when you pull the protobuf into your repo

[2022-06-15 22:35] haukepribnow commented on #294
I also ran into this issue and was very surprised to learn about this unexpected behavior.

After all, the current behavior is very surprising: Even if `dataType` is set to `"binary"` in the `function.json`, then `req.rawBody` still remains a `string` in any case? And `req.body` also remains a `string` unless the request is of type `application/octet-stream`? This does not feel right and does also

[2022-06-15 23:53] ejizba commented on #294
Hi folks we're working on a new programming model for Node.js and one of the benefits will be to improve the experience around backwards compatibility and breaking changes. We should be able to react much faster to requests like this, and you should have more choice when you adopt the breaking changes. See here for more details: https://github.com/Azure/azure-functions-nodejs-worker/issues/568

It

[2022-06-16 07:06] tonakai opened #597 "getting Microsoft.Azure.WebJobs.Script.Workers.WorkerProcessExitException in some cases when the underlying machine starts up"
Original ticket was created here: it is suggested that i should ask here for more details: https://github.com/Azure/azure-functions-host/issues/8438

#### Investigative information

Please provide the following:

- Timestamp: 2022-06-07T00:11:47.881Z (i've more timestamps but this one is the most recent.)
- Function App version: 4.3.2.18186
- Function App name:
- Function name(s) (as appropriate):

[2022-06-17 20:51] ejizba commented on #597
Sarah mentioned this error `node exited with code -1073740791` and that error code converted to hex is `0xC0000409`. Based on some googling, seems like that code means `STATUS_STACK_BUFFER_OVERRUN` or `STATUS_FAIL_FAST_EXCEPTION`

This is likely caused by something you're doing in your code, as opposed to something on our side. If your code is open source or you're comfortable sharing it here, we

[2022-06-18 00:08] hossam-nasr opened #598 "Get rid of host.json"
This issue is also related to the new programming model we're currently working on, but probably is outside the scope of this effort.

In the same way we're getting rid of the need for `function.json` files with the new programming model, and allowing the worker to provide the necessary metadata to the host, we _could_ also git rid of the `host.json` file, and supply whatever metadata there to the

[2022-06-20 08:30] ronkot commented on #597
We also encountered the `node exited with code -1073740791` error on 2022-06-17T09:28:26.3823561Z. This was (probably) the first time we saw this error and it occurred without any changes to our code.

I'm not sure if the error is related to our own NodeJS code or the underlying Azure infra, but here some possible places in our code that could be related to the problem:

* Running `deflateSync` fr

[2022-06-21 17:43] ejizba commented on #597
Yeah this kind of error (where node exits quickly) is hard because you don't always get helpful stack traces and whatnot. If you can add more comprehensive logging I'm sure that would help. If the issue is happening consistently, another helpful option is to try to create a sample app with the minimum amount of code needed to reproduce.

As an aside, @hossam-nasr mentioned he has seen this error b

[2022-06-22 23:27] hossam-nasr opened #600 "Maintain environment variable case insensitivity for Windows after worker specialization"
This issue was prompted by [this CRI](https://portal.microsofticm.com/imp/v3/incidents/details/312919342/home): a customer was facing frequent crashes on some Windows workers with an error that a particular environment variable is not set. After investigation, it turned out that the environment variable in question was being set in app settings and referenced from `process.env` using different cas

[2022-06-23 06:00] ronkot commented on #597
I think I can't build a sample app as this problem occurs very rarely, once in a few months or so. We'll need to add more logging and follow this issue for more clues.

Yes, we're using axios in this function app, but not in the failing function. So, the deployment zip package does contain axios, but it's not necessarily loaded to memory in this function.. 🤔

[2022-06-23 17:20] hossam-nasr commented on #597
@ronkot There's a good chance axios might be what's causing your app to crash. What version of axios and node are you using? For some versions, axios is known to cause node to crash with this error code. See axios issue here: https://github.com/axios/axios/issues/3396 and node issue here: https://github.com/nodejs/node/issues/36325

[2022-06-23 18:18] ronkot commented on #597
@hossam-nasr thanks for pointers, those look quite interesting indeed! I just started my 3 week summer holidays but will reach back after that!

[2022-06-27 17:22] hossam-nasr opened #601 "How should hooks share data?"
Right now, we have the `hookData` property in all hook contexts, which allows different hooks _of the same cope_ to share data and communicate with each other. There is also the `appHookData`, which allows communication across scopes. The behavior of the `hookData` property is currently inconsistent in terms of allowing overriding it with a new object. Currently, we allow overwriting the `hookData

[2022-06-27 18:01] ejizba commented on #601
### Option 4: readonly behaviour:

We can mark `hookData` readonly (we might have to refactor a tiny bit under the covers to make this work) to make it more clear that you can't overwrite it.

[code]

This would  throw an error during pre invoc hook 2 like `hookData is readonly, you cannot set this value` and never print anything

### Option 5: nice helper methods

Rather than have `hookData` be a

[2022-06-27 18:09] ejizba commented on #601
My personal preference is 4 and that's the one Alexey also wanted during our discussion offline. @hossam-nasr I didn't think of it during our conversation in the PR otherwise I would've mentioned it earlier. I think the main benefit of this is that it prevents accidental overwriting in a much more obvious way - TypeScript users should get a build error and JavaScript users (or TypeScript users who

[2022-06-27 20:22] hossam-nasr commented on #601
@ejizba I agree option 4 is the least ambiguous and most straightforward of the options. I'm happy to go with that option but would still rather keep it as a separate PR

[2022-06-28 21:09] ggailey777 opened #603 "Error running TypeScript quickstarts (HTTP trigger)"
I'm getting errors when I try to create a new TypeScript HTTP triggered function from the TypeScript template. When I try to run either from F5 in VS Code or using `npm install/npm start` I get the following error that seems to be coming from our library:

![image](https://user-images.githubusercontent.com/1388263/176285247-2e49ad61-2de6-4789-b673-1b6d1404a50d.png)

#### Investigative information

[2022-06-28 22:06] ggailey777 commented on #603
It looks like the workaround added this line to `devDependencies` in the package.json file.
[code]

[2022-06-28 22:11] ejizba commented on #603
Hi, this is a duplicate of: https://github.com/Azure/azure-functions-nodejs-worker/issues/587. We changed the default TypeScript templates in both core tools and VS Code to have `"@types/node"` to fix the issue, but I don't think the changes have rolled out yet.

[2022-06-28 22:11] #603 closed, assigned to nobody

[2022-06-28 23:31] hossam-nasr opened #605 "Move host version from startApp context to global in core API"

[2022-06-30 22:26] MarioArriaga92 commented on #517
Is there an ETA on this?

[2022-06-30 23:38] ejizba commented on #517
@MarioArriaga92 no there is not an ETA for this. We want to do it, but it will not be simple and so far other work has been higher priority. Specifically, you can see our roadmap here with the work we currently have prioritized:
https://github.com/Azure/azure-functions-nodejs-worker/wiki/Roadmap

[2022-07-04 07:43] tonakai commented on #597
so we  are running on node.js 16 LTS and we do have axios dependency `"axios": "^0.21.1"`, not directly but it looks like couple of azure libraries using it. I'll take a look if they updated.

[2022-07-06 12:37] verschaevesiebe opened #607 "Major bug in HttpTrigger receival of payload"
Hi All,

After some investigation I'm having trouble with Azure functions.
This is a simple Azure function which receives a HTTP Trigger call with an application/json Content-Type.

The function works perfectly fine for **all** invocation as always.
However, we have added an additional field to our JSON payload which is "bytes": 1253.
To give some small context, the bytes field is just the length

[2022-07-06 22:01] ejizba commented on #587
The fix has rolled out:

Core tools: https://github.com/Azure/azure-functions-core-tools/releases/tag/4.0.4629

VS Code: https://github.com/microsoft/vscode-azurefunctions/releases/tag/v1.7.4

[2022-07-06 22:01] #587 closed, assigned to nobody

[2022-07-07 08:48] verschaevesiebe commented on #607
@surgupta-msft  feel free to email me directly in case you want to see this in action.
I'm 100% sure that this is a bug that we cannot work around.

Thank you.

[2022-07-07 18:13] #600 closed, assigned to hossam-nasr

[2022-07-08 18:05] hossam-nasr opened #606 "Add app teardown execution hooks"
After the host supports the "worker_terminate" gRPC message (https://github.com/Azure/azure-functions-host/issues/2308 and https://github.com/Azure/azure-functions-host/pull/8385), we should implement a handler for the worker_terminate message, allow app teardown executions hooks, and gracefully shut down the worker

[2022-07-11 17:41] hossam-nasr commented on #539
Startup hooks added in #577. Teardown hooks tracked by #606. Closing this issue

[2022-07-11 17:41] #539 closed, assigned to hossam-nasr

[2022-07-13 22:22] surgupta-msft commented on #607
@verschaevesiebe Thank you for bringing up the issue. I was able to reproduce it.

**Repro Steps -**
1. Create a Node app from Azure portal.
2. Create Http trigger.
3. Invoke Http trigger with request body as below and you will get 500 Internal Server Error.
4. Update body to make it string - `"bytes" : "2"` and will get 200OK.

[code]

It seems to be happening with Node apps. I tried repro with p

[2022-07-22 00:24] ejizba commented on #607
Hi @verschaevesiebe I can also reproduce the bug and your analysis appears to be correct. It's only an issue with fields specifically named "bytes" and it's because we try to parse that field into a Buffer (which fails when your field is a number). We will get this fixed - but in the meantime unfortunately the only workaround I'm aware of is to rename your "bytes" field to something else.

[2022-07-22 01:14] ejizba commented on #538
This will be included by default when we implement https://github.com/Azure/azure-functions-nodejs-worker/issues/480 and I don't see us doing anything earlier considering that work is happening relatively soon (roadmap [here](https://github.com/Azure/azure-functions-nodejs-worker/wiki/Roadmap)). Closing in favor of 480

[2022-07-22 01:14] #538 closed, assigned to nobody

[2022-07-22 02:17] aaronpowell commented on #568
Is there a reason why we'd want to split across multiple git repos and not have a monorepo that contains the worker and the libraries around it?

I feel like having them split across multiple repos will make the contributor experience a lot more difficult, as you'll be required to clone multiple repos and then use `npm link` to connect all the packages together, whereas with a monorepo that would

[2022-07-22 17:22] ejizba commented on #568
Interesting question - thanks for bringing it up. I had not considered a monorepo very much, but I still think separate repos is the way to go. Here are my reasons:

1. The first reason (but not necessarily best reason IMO) is to be consistent with the Azure Functions repo strategy in general. There's quite a few repos and none of them are monorepos. If you want to test changes in the host or func

[2022-07-22 19:01] #592 closed, assigned to ejizba

[2022-07-25 13:48] verschaevesiebe commented on #607
Hi @ejizba,

Thanks, that's indeed my workaround for now. Naming it "bytess" 😄
I see you've added it to the August milestone, any idea when i can expect a runtime fix?

The unfortunate part is that we're receiving these events from external sources so we're applying a translation now through a logic app before being able to forward it to **any** function, because they all crash and restart 😢

Than

[2022-07-25 19:56] ejizba commented on #607
I made [some changes](https://github.com/Azure/azure-functions-nodejs-worker/pull/574) a little bit ago to prevent random errors from crashing the whole app. This was included in host version [4.7.2](https://github.com/Azure/azure-functions-host/releases/tag/v4.7.2) which just finished rolling out in Azure this month. Core tools has not shipped with the changes yet, but that should happen in the n

[2022-07-28 07:11] ronkot commented on #597
Hi again 😎 Just checked our error logs from past 4 months and this problem have occurred only once. The problem is so rare that we won't put more effort to find out the root cause. Thanks a lot for the kind advice, I'll come back if the issue pops up again 🙏

[2022-08-01 07:00] aaronpowell commented on #568
I can see that, from a MS-engineering side, having a consistent repo structure across all the supported languages makes sense, so if you're moving between teams you don't have to learn new patterns each time.

I personally have had times where I'm trying to understand something and had to have multiple versions of VS and VS Code running just to try and debug things (and it can be confusing to find

[2022-08-04 23:56] sig9 commented on #517
Having to consider other hosting options due to this limitation.
My use case is to implement a server api in node that calls an OpenAI api function which returns a Server-Sent Events stream. I would like to relay those responses to the browser. I have a minimal git repo that demonstrates the issue. No deployment needed to demonstrate this, the azure-functions-core-tools package behaves the same wa

[2022-08-18 19:58] #568 closed, assigned to ejizba

[2022-08-22 21:46] #605 closed, assigned to hossam-nasr

[2022-08-23 19:24] #294 closed

[2022-08-23 20:19] #601 closed, assigned to ejizba, hossam-nasr

[2022-08-23 20:34] #569 closed, assigned to ejizba

[2022-08-24 01:28] ejizba commented on #388
Minor details might still change, but overall this was addressed in https://github.com/Azure/azure-functions-nodejs-library/commit/9e6a842eec8d4d29e76604a331f641a260cd1501 as a part of the new programming model. I've started a doc here with more information: https://aka.ms/AzFuncNodeV4

[2022-08-24 01:28] #388 closed, assigned to nobody

[2022-08-24 01:32] ejizba commented on #204
Minor details might still change, but overall this was addressed in the following commits as a part of the new programming model:

https://github.com/Azure/azure-functions-nodejs-library/commit/0aac975e880b8090c7519212df0942dd538a7228
https://github.com/Azure/azure-functions-nodejs-library/commit/15e0d384ec17e4b4ec4203356cc826c82e7df229
https://github.com/Azure/azure-functions-nodejs-library/commi

[2022-08-24 01:32] #204 closed

[2022-08-24 01:34] ejizba commented on #551
Minor details might still change, but overall this was addressed in https://github.com/Azure/azure-functions-nodejs-library/commit/a6cc210777f8e9ce4e741874df37e43a889a86a4 as a part of the new programming model. I've started a doc here with more information: https://aka.ms/AzFuncNodeV4

Now that the new model is so close, I find it unlikely we will go back and do a breaking change on this for the

[2022-08-24 01:34] #551 closed, assigned to nobody

[2022-08-24 01:39] ejizba commented on #294
FYI we took two approaches to address this issue:

1. In the existing programming model, we added a new `bufferBody` property to the http request object. The existing `body` and `rawBody` properties should behave the exact same, but the new property should always return a buffer. This has been merged, but will take a month or two to roll out in Azure
2. In the new programming model, we refactored

[2022-08-24 11:51] nosvalds commented on #104
@anthonychu should this be out of Preview now? ES Modules are stable in Node.js 16 now: https://nodejs.org/docs/latest-v16.x/api/esm.html#modules-ecmascript-modules

[2022-08-24 16:48] ejizba commented on #104
Yes this should probably be out of preview by now - we will look into it

[2022-08-25 10:56] andersonmorony commented on #294
I can´t believe it, I tried ALL, fs, Buffer, all library to read xls file and not work. was just add `content-type: application/octet-stream` on header and **it worked!**

Thanks!

[2022-08-25 18:39] ejizba commented on #274
For the existing programming model, we recommend using `request.get('header-name')` because it is case insensitive. I have added the type for that in https://github.com/Azure/azure-functions-nodejs-library/pull/10

For the new programming model, this was addressed in https://github.com/Azure/azure-functions-nodejs-library/commit/efa5fb369c1315fe7c7352cadf2bb9dfe2f31358. I've started a doc here wit

[2022-08-25 18:39] #274 closed

[2022-08-26 01:05] #606 closed, assigned to hossam-nasr

[2022-08-26 01:10] #607 closed, assigned to ejizba

[2022-08-29 19:13] hossam-nasr commented on #597
@tonakai Did you check if the axios dependency was updated? Are you still seeing this error?

[2022-08-30 07:34] tonakai commented on #597
@hossam-nasr sorry i was a bit sidetracked i looked at the last 7 days and it is still there 4 out of 500k requests failed.
one of those reported:
`Exception while executing function:<function-name> node exited with code 1 (0x1) LanguageWorkerConsoleLog[error] Worker e7f07bc8-5269-472b-9601-b179deef3a94 uncaught exception (learn more: https://go.microsoft.com/fwlink/?linkid=2097909 ): Error: Conne

[2022-08-31 22:02] ejizba commented on #562
Node.js 18 on Azure Functions is now supported in public preview 😊🎉

https://azure.microsoft.com/updates/public-preview-nodejs-18-in-azure-functions/

[2022-09-01 02:29] timtucker-dte opened #627 "Version 3.5.0 of the npm package is not appearing in NPM repository"
Version 3.5.0 of the npm package is not appearing in NPM repository

#### Repro steps
Follow instructions from:
https://github.com/Azure/azure-functions-nodejs-library/blob/v3.x/README.md

i.e., run:
npm install @azure/functions

then start using version 3.5.0

#### Expected behavior
Version 3.5.0 is installed

#### Actual behavior
Version 3.2.0 is installed

NPMjs.com registry shows the package a

[2022-09-01 02:51] timtucker-dte commented on #515
Not sure if you'd find it helpful, but at least for logging, the solution I'd come up with was relatively simple.

instead of calling:
`
context.log.info("Some message")
`

I have a function that logs to context if available and to console.log if it isn't -- this way functions that only rely on passing in context for logging work without any issues if I just pass undefined as the context in unit t

[2022-09-01 17:12] ejizba commented on #627
Hi @timtucker-dte that's because 3.5.0 is still a preview version (3.5.0-alpha.3). You can explicitly install it with `npm install @azure/functions@next` if you want to try it out. However there's a few caveats
- There's a small chance we need to make a breaking change before we mark it non preview
- It doesn't actually work in Azure yet. We describe 3.5.0 as the first version where "you can overr

[2022-09-01 17:20] timtucker-dte commented on #627
Ah -- missed the extra detail on the versions page from NPM.

Seems confusing that the version #'s on the GitHub releases page don't align with the NPM version #'s, though -- on most other projects I'm used to seeing them be in sync (so if the NPM version was tagged alpha the GitHub release version would also be tagged as alpha).

Is there a reason why the GitHub release just shows up as "3.5.0" a

[2022-09-01 17:29] ejizba commented on #627
Yes it's a bit confusing as this is a pretty big transition for us. There are two separate pieces that currently have the same version (3.5.0) because we literally just split them, but moving forward will diverge in their versions. The "worker" (this repo) ships in Azure. The "library" (a separate repo [here](https://github.com/Azure/azure-functions-nodejs-library)) ships on NPM. The library repo

[2022-09-02 03:51] ChuckJonas commented on #480
@aaronpowell IMO the object literal approach is where you should start.

Once you have that, community members interested in decorators could roll their own package.  Allowing functions to be registered via code really opens the door to a lot of potential solutions.

IMO, there was **only** support for fluent API, it makes it a bit harder to extend.

[2022-09-02 17:05] ejizba commented on #480
Hi folks! We've actually narrowed it down to one option, and it's a working prototype and everything. More details here if you're interested in giving some feedback: https://aka.ms/AzFuncNodeV4

@ChuckJonas in terms of decorators, it's definitely been on the back burner for now. We want to prototype it still, but we've been focused on a non-decorators approach as described in the link above.

[2022-09-04 00:45] ChuckJonas commented on #480
@ejizba just gave it a review.  I like where this is going!

Honestly the thing I'm most excited about is just being able to specify whatever folder structure fits the project best and not have every function as a folder in the root.

Our project is using OpenAPI specs to define our API contracts along side each function.  We use `openapi-typescript` to get accurate request typings and validate al

[2022-09-06 18:21] ejizba commented on #480
@ChuckJonas thanks for the feedback! I think I've covered everything:

It's the function name. Created this issue to continue the discussion on this: https://github.com/Azure/azure-functions-nodejs-library/issues/17

Yeah here are my example functions with a few service bus ones: https://github.com/ejizba/func-nodejs-prototype/tree/main/src/functions. Make sure to read the readme of that repo if y

[2022-09-12 17:51] ejizba commented on #348
This exists in the docs now: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2-v3-v4-export%2Cv2-v3-v4-done%2Cv2%2Cv2-log-custom-telemetry%2Cv2-accessing-request-and-response%2Cwindows-setting-the-node-version#local-debugging

[2022-09-12 17:51] #348 closed, assigned to nobody

[2022-09-12 17:59] ejizba commented on #597
We believe the root cause here was the axios dependency as @hossam-nasr mentioned. We have a separate work item to help users solves these kinds of issues much faster. Closing in favor of https://github.com/Azure/azure-functions-nodejs-worker/issues/593

[2022-09-12 17:59] #597 closed, assigned to nobody

[2022-09-23 16:24] rahul-adpushup opened #636 "[Premium] - How azure rks?"
Xjdjd

[2022-09-28 12:30] ramya894 commented on #636
@rahul-adpushup We will check this issue internally and update you with more insights.

[2022-09-28 15:31] ejizba opened #630 "Worker was unable to load entry point"
With the rollout of host version 4.12 users can see this error:

NOTE: The filename in the message may be different, but "index.js" is by far the most common.

### Mitigation

Update: The change was rolled back in host v4.12.2.19454. No further mitigation should be necessary.

### Background

We introduced a new feature in https://github.com/Azure/azure-functions-nodejs-worker/issues/537 that lets

[2022-09-28 22:19] ChuckJonas commented on #480
@ejizba Ran into an issue today with distributed tracing that I was wondering if you guys would be solving [via this initiative](https://github.com/Azure/azure-functions-nodejs-worker/wiki/Roadmap#distributed-tracing).

The problem is outlined here.

IDK if maybe this could be solved with the new hooks.   I am using appinsights wrapped context, but you end up needing to rewrite all the `context.lo

[2022-09-28 22:33] ChuckJonas commented on #522
since this is closed, does that mean it's possible to use these hooks today?  Is there any documentation?

[2022-09-28 23:09] ejizba commented on #522
Yes it is technically possible and we have sample usage at the top of this issue. That being said, we are working on an easier way to use the hooks tracked by https://github.com/Azure/azure-functions-nodejs-library/issues/7 and that is the one we plan to fully document. If you have no urgency, I would suggest waiting until that issue is done

[2022-09-29 14:11] ChuckJonas commented on #522
`@azure/functions-core` does not seem to be a valid `npm` package...

Assuming this would be a path forward for fixing distributed tracing, this is pretty high priority...

Whats ETA on the #7 release?

Also, do you happen to know if modifying the function `context.traceContext` in one of these functions would impact the binding of AppInsights to `context.log`?

My use case is to fix the fact that

[2022-09-30 18:31] ejizba commented on #522
You are correct, `@azure/functions-core` is not an npm package. It is a "built-in" module provided by the Functions runtime and is only available within an Azure context (aka running in Azure or using the `func` cli locally). This is similar to how Node.js provides built-in "path" or "fs" modules only available in a Node.js context. (As a side note, we plan to publish a `@types/azure_functions-cor

[2022-09-30 19:40] ChuckJonas opened #632 "Initialize Trace Context for Service Bus Trigger using message "Diagnostic-Id""
#### Investigative information

Please provide the following:

Test was run locally, but if needed can setup a "on cloud" reproduction.

#### Repro steps

1. Create a Service Bus Triggered function (Topic -> Subscription)
- Connected with AppInsights
- Add some traces via `context.log`
- throw an error so as the processed messages gets moved to the DLQ (makes it easier to debug)
2. Fire a service

[2022-09-30 19:42] ChuckJonas commented on #632
Created after discussion in https://github.com/Azure/azure-functions-nodejs-worker/issues/522

@ejizba when you have a second to take a look, it would be greatly appreciated 🙇   I've been chasing this down all week.

Our architecture is entirely using the Azure Managed Services (APIM, Azure Functions, ServiceBus, AppInsights) so I was hoping we'd get this out of the box...

It's also been pretty c

[2022-10-04 00:25] #630 closed, assigned to nobody

[2022-10-04 21:44] liliankasem opened #633 "Fix worker metadata format"
We'd like to be more strict about format for the analytics team.

We currently see this in the metrics table:

[code]

Is it possible to remove the version prefix ("v") from runtimeVersion?
We also noticed the bitness looks wrong: "ia32" which should be "x86"

[2022-10-05 00:02] ejizba commented on #633
It's debatable what is "wrong" or right. Here's [one stackoverflow post](https://stackoverflow.com/questions/53364320/the-most-correct-way-to-refer-to-32-bit-and-64-bit-versions-of-programs-for-x86) discussing some differences. Assuming you're used to windows terminology, I think it's saying ia32 is the same as x86, but not x32. In any case, here is the [list of possible arch values](https://nodej

[2022-10-05 00:30] liliankasem commented on #633
Thanks for the info, that's totally fair and makes sense to me. I think the goal was to make this easier for the analytics team for the adoption dashboard this data is going to be used for.

cc: @fabiocav @cloudmelon @jcookems FYI

[2022-10-05 03:27] jcookems commented on #633
@ejizba, I think you summed it up well: should each layer pass along what the previous one gives us, or should some layer "fix" the value to make them consistent? (The Analytics will follow your example and "just pass along the version given to us" and have the next layer handle it, the dashboard in this case)

@liliankasem, I think the only reason we'd want enforce consistency would be if the Fun

[2022-10-10 15:30] ramya894 opened #635 "@rahul-adpushup We will check this issue internally and update you with more insights."
@rahul-adpushup We will check this issue internally and update you with more insights.

_Originally posted by @ramya894 in https://github.com/Azure/azure-functions-nodejs-worker/issues/636

[2022-10-10 15:31] #635 closed, assigned to nobody

[2022-10-10 15:35] ramya894 commented on #636
@rahul-adpushup
[Sharing Your Function App name privately] (https://github.com/Azure/azure-functions-host/wiki/Sharing-Your-Function-App-name-privately)
@ejizba Could you please have look at this issue, once we get the input from user.

[2022-10-11 17:03] lilyjma opened #637 "❓Survey: Your experience developing with Azure Functions"
Hi Azure Functions users, we'd love to hear about your experience developing with Functions!

Tell us your thoughts by completing this survey before **Oct 25th, 2022**: https://microsoft.qualtrics.com/jfe/form/SV_cO2hDOd22iNu2Z8.

⚡️You'll have a chance to enter into a sweepstake to win one of three $200 gift cards!⚡️

[2022-10-11 20:52] ejizba opened #638 "Support multiple worker scenario in new framework"
Users can get into this situation by explicitly setting the [FUNCTIONS_WORKER_PROCESS_COUNT](https://learn.microsoft.com/azure/azure-functions/functions-app-settings#functions_worker_process_count) app setting to 2 (or more).

It can also happen as a part of the intelligent worker concurrency feature that is currently rolling out. This feature is meant to help with performance and because there is

[2022-10-17 15:10] kshyju opened #639 "Send IncludeEmptyEntriesInMessagePayload capability to host to get empty entries in payload"
For trigger payloads of collection type(ex: event hub trigger payload with batched messages), host will [skip empty entries ](https://github.com/Azure/azure-functions-host/issues/8499)by default. We [recently made a host level change](https://github.com/Azure/azure-functions-host/pull/8642) so that host will not skip empty entries if worker includes `IncludeEmptyEntriesInMessagePayload` capability

[2022-10-25 23:46] liliankasem opened #642 "BlobTrigger payload expression binding not working as expected"
When using a queue trigger binding with a blob input binding, the following example works as expected. In this example, we are able to parse the payload of `myBook` and use the `id` to evaluate `input-container/{id}.txt` to `input-container/1.txt`

QueueTrigger/index.js

[code]

function.json

[code]

Trigger payload:

`{ "id": "1", "name": "mybook" }`

Output:

[code]

**This behaviour is also ex

[2022-10-26 00:11] ejizba commented on #642
I don't know why this is, but AFAIK we're just handling what the host gives us. Specifically, here is the invocation we get for a queue trigger with data set to "string" and for a blob trigger with data set to "bytes":
<img width="230" alt="Screen Shot 2022-10-25 at 5 05 31 PM" src="https://user-images.githubusercontent.com/11282622/197904404-6753815f-118d-4692-94cc-6688cb865814.png"> <img width="

[2022-10-26 00:27] liliankasem commented on #642
If that's the case, this is probably a host or WebJobs sdk issue (I can transfer issue). We should not be giving you bytes in this use case 🙃

[2022-10-27 16:53] BrandonSchreck commented on #562
Is there an ETA on when Node.js v18 and Azure Functions v4 will be ready for general availability?

[2022-10-27 18:39] ejizba commented on #562
Hi @BrandonSchreck our goal is December, but due to the holidays it may end up being January.

You can check here for the latest estimate on our timeline:
https://github.com/Azure/azure-functions-nodejs-worker/wiki/Roadmap

[2022-10-31 16:37] BrandonSchreck commented on #562
Thank you @ejizba

[2022-10-31 17:50] ejizba commented on #633
@lilyjma will sync with the PM team on this as it seems like a problem for all languages

[2022-10-31 18:12] ejizba commented on #639
@kshyju I took a look at https://github.com/Azure/azure-functions-dotnet-worker/pull/1091/, and I'm confused by `workerOptions`. Is that unique to .NET? Can you explain how it works?

Specifically, I'm confused how it would handle the placeholder specialization scenario where the worker gets an initRequest with a dummy app and later a functionEnvironmentReloadRequest with the real app. AFAIK the o

[2022-10-31 18:17] ejizba commented on #636
This is not the case, it will share a VM in most cases. Your `functionTimeout` is set to 59 minutes, which is the exact delay you are seeing between messages. To me, that means something in your function is causing it to hang and do nothing for about an hour, preventing future messages from being processed.

If you're still having issues, please let me know and share the function app name privatel

[2022-10-31 18:43] ejizba commented on #639
Discussed with @kshyju offline and filed https://github.com/Azure/azure-functions-host/issues/8877 which would be a prereq for us doing this

[2022-10-31 20:43] ejizba commented on #632
@RohitRanjanMS do you know if this service bus Diagnostic-Id is propagated as described for other languages? AFAIK, we're just passing along the traceContext we get from the host

[2022-11-01 11:49] rahul-adpushup commented on #636
Dudid

[2022-11-01 11:49] #636 closed, assigned to ramya894

[2022-11-09 21:55] fabiocav commented on #633
@lilyjma let's follow up on this issue. We're trying to have items associated with this feature closed out.

[2022-11-23 11:13] jamiehaywood commented on #627
with `3.5.2` released and the Azure Function Host now updated to `4.15.0` https://github.com/Azure/azure-functions-host/releases/tag/v4.15.0 - does this mean we can use the new function model (sans `host.json`)?

[2022-11-25 10:13] sittingbool commented on #104
Hey, since not just Node 16 LTS is stable now but also 18 LTS, how is this ESM support coming? ESM is becoming the new standard.

[2022-11-30 22:28] ejizba commented on #267
Addressed by https://github.com/Azure/azure-functions-nodejs-library/commit/efa5fb369c1315fe7c7352cadf2bb9dfe2f31358

[2022-11-30 22:28] #267 closed