[2017-05-17 22:45] mamaso opened #4 "Integrate host lifecycle proto messages"
Worker / Function load related

resolved by https://github.com/pragnagopa/azure-webjobs-sdk-script/pull/8

[2017-05-17 22:45] mamaso opened #5 "Clean up HttpMessage"
Investigate if some of the properties (`raw_response`, `raw_body` can be simplified)

[2017-05-17 22:46] mamaso opened #6 "Investigate Rx to handle event stream"

[2017-05-31 17:12] mamaso opened #11 "Automate protobuf gen node"

[2017-05-31 17:13] mamaso opened #12 "Unit tests"

[2017-05-31 17:13] mamaso opened #13 ".proto nuget"

[2017-05-31 17:14] mamaso opened #14 "Add app setting flag to enable out of proc invoker"

[2017-05-31 17:15] mamaso opened #15 "grpc unit tests"

[2017-05-31 17:15] mamaso opened #16 "node worker nuget"

[2017-05-31 17:16] mamaso opened #17 "Add E2E framework tests"
Run invoker tests in the nightly builds

[2017-05-31 17:16] mamaso opened #18 "Investigate import of Any.proto duration.proto"

[2017-05-31 17:24] #6 closed, assigned to mamaso

[2017-05-31 17:25] #4 closed, assigned to mamaso

[2017-05-31 20:18] #11 closed, assigned to mamaso

[2017-05-31 20:18] #18 closed, assigned to nobody

[2017-06-01 18:16] pragnagopa opened #19 "Collect cold start data for nodeJs worker"

[2017-06-09 22:28] pragnagopa opened #20 "Node Integration Failures"
Known test failures:

- [x] - [Scenario_RandGuidBinding_GeneratesRandomIDs](https://github.com/Azure/azure-webjobs-sdk-script/blob/dev/test/WebJobs.Script.Tests.Integration/NodeEndToEndTests.cs#L316) : Need to figure out how handle integers. Should we add number type to proto TypedData?
- [x] - [BlobTriggerToBlobTest](https://github.com/Azure/azure-webjobs-sdk-script/blob/dev/test/WebJobs.Script.T

[2017-06-09 22:30] pragnagopa opened #21 "Move/Refactor NodeLanguageInvoker to Generic language invoker"
[NodeLanguageInvoker](https://github.com/pragnagopa/azure-webjobs-sdk-script/blob/dev/src/WebJobs.Script/Description/Node/NodeLanguageInvoker.cs) in functions host handles invocations for Node. Need to refactor this handle Javascript and Java invocations

[2017-06-09 22:33] pragnagopa opened #22 "Remove duplicate azureFunctions JS code in worker and host"
Need to maintain only one version of: [azureFunctions](https://github.com/Azure/azure-webjobs-sdk-script/tree/dev/src/WebJobs.Script/azurefunctions)

[2017-06-09 22:52] pragnagopa opened #23 "Better way to figure out if a trigger is WebHookType"
Need to figure out better way than to create new input key: [webhookReq](https://github.com/pragnagopa/azure-webjobs-sdk-script/blob/dev/src/WebJobs.Script/Description/Node/NodeLanguageInvoker.cs#L319)

[2017-06-09 22:54] pragnagopa opened #24 "Need to use enum types instead once grpc issue is fixed."
[grpc Javascript enum issue](https://github.com/grpc/grpc/issues/8595)

[2017-06-16 00:36] christopheranderson opened #26 "Move to TypeScript"
It's just like JavaScript, but with Types.

[2017-06-16 00:36] christopheranderson opened #27 "Produce a typings file for TypeScript users"
We should produce a typings file for our externally facing APIs

[2017-06-19 18:30] pragnagopa opened #28 "Add system logs"
- Add verbose and info level system logs with option to turn on verbose logging when debugging

[2017-06-19 19:21] pragnagopa opened #29 "Move to typescript"

[2017-06-19 22:14] #29 closed, assigned to nobody

[2017-06-20 20:34] pragnagopa opened #30 "Investigate Warning: Possible EventEmitter memory leak detected"
Running NodeE2E tests shows following warning:
(node:25816) Warning: Possible EventEmitter memory leak detected. 11 uncaughtException listeners added. Use emitter.setMaxListeners() to increase limit

Needs investigation

[2017-06-21 23:16] JunyiYi opened #31 "Host not able to listen on port 50051."
**Repro Steps**
1. I used the [this snapshot](https://github.com/pragnagopa/azure-webjobs-sdk-script/tree/1a688b8dfebd71c35b7c4eb27237e97147eb2a38) of the host code
2. I created a Functions App on Azure portal, and uploaded the local-published zip to it using Kudu
3. I tried to start my Java worker, but it failed to connect to the server
4. I dumped the logs, and find the related messages below:
[

[2017-06-26 21:37] #30 closed, assigned to nobody

[2017-07-12 21:11] #24 closed, assigned to mamaso

[2017-07-12 21:11] #22 closed, assigned to mamaso

[2017-07-20 17:20] #26 closed, assigned to mamaso

[2017-07-25 02:14] JunyiYi opened #34 "Host throwing exception when HTTP has route parameters"
[item.Value](https://github.com/pragnagopa/azure-webjobs-sdk-script/blob/dev/src/WebJobs.Script/Rpc/RpcMessageConversionExtensions.cs#L115) is of type IDictionary<string, object>, but not IDictionary<string, string>.

i.e. api/nodehttp/{id:int}

[2017-07-27 20:43] #31 closed, assigned to nobody

[2017-07-27 20:44] #5 closed, assigned to nobody

[2017-07-27 20:44] #13 closed, assigned to nobody

[2017-07-27 20:45] #15 closed, assigned to nobody

[2017-07-27 20:48] #28 closed, assigned to nobody

[2017-07-27 20:52] mamaso opened #35 "Filter input bindings from bindings before sending over RPC"
Currently we convert the context.bindings object which still has input bindings attached

Assuming there are no issues with `in/out`

[2017-08-05 22:37] #23 closed, assigned to nobody

[2017-08-05 22:37] #35 closed, assigned to nobody

[2017-08-05 22:40] #34 closed, assigned to nobody

[2017-08-09 20:02] #21 closed, assigned to nobody

[2017-08-09 20:02] #14 closed, assigned to mamaso

[2017-08-09 20:03] #12 closed, assigned to nobody

[2017-08-10 22:01] mamaso opened #37 "Support 'this' parameter in user functions"
https://github.com/Azure/azure-webjobs-sdk-script/issues/1702

[2017-08-22 17:09] mamaso commented on #37
https://github.com/Azure/azure-webjobs-sdk-script/pull/1707

[2017-08-28 16:23] mamaso commented on #16
28abdcef1c2f60b3633fe21484d9960c80cd0703

[2017-08-28 16:23] #16 closed

[2017-09-05 16:51] mamaso opened #38 ".targets should depend on node_modules rather than package.lock.json"
also, solution root may be better than package dir + output path for installation

[2017-09-06 23:45] mamaso opened #39 "recursive camelcase binding data"

[2017-09-25 20:39] #20 closed

[2017-09-25 20:40] #17 closed

[2017-09-25 20:40] #38 closed

[2017-09-28 11:32] nelak opened #43 "Failing to load a function throws an exception that crashes the worker"
**Issue**
Failing to load a function throws an exception that crashes the worker because it's not handled.
The functions CLI retries starting the worker up to 2 times more always with the same issue.
![image](https://user-images.githubusercontent.com/254502/30963436-cc00f7d0-a423-11e7-8d18-60b2c890d986.png)

**Expected behaviour**
The worker doesn't crash but still shows the appropriate error mess

[2017-09-28 11:37] nelak commented on #43
@mamaso Looking at this: https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/src/WorkerChannel.ts#L64
What would happen if the exception if you try/catch and return Status.Failure?
I'm thinking additional checks would be required for https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/src/WorkerChannel.ts#L80
Let me know what would be ok and I can create a PR for this.

[2017-09-28 19:31] nelak commented on #43
@mamaso I created #44 with a sample implementation.
Let me know if it's a valid approach or it would require further changes.

[2017-09-29 18:49] nelak commented on #43
Resolved in #45

[2017-09-29 18:50] #43 closed

[2017-10-26 16:18] christopheranderson commented on #37
This would enable a sample that looks like this:

[code]
where entry point was set to a method on the `myObj` named "increment"

Today, if you do this, it will use a global foo, not the MyObj context. This isn't a good experience.

[2017-10-26 19:10] nelak opened #49 "Returning a promise and calling context.done results in an invalid message"
If you export a promise instead of a function and call context.done you end up with the wrong error message:
`Error: 'done' has already been called. Please check your script for extraneous calls to 'done'.`
Where the error should have read:
`Error: Choose either to return a promise or call 'done'.  Do not use both in your script.`
It would seem that the isPromise parameter in [Context.ts](https://

[2018-01-01 04:31] gkorland opened #50 "Add support for node 8.9.x LTS"

[2018-01-09 18:43] christopheranderson commented on #50
This should already work if you update the node version setting, but we haven't added it to our test matrix. I can add that to our test definition.

[2018-02-03 02:11] christopheranderson opened #51 "Uncaught exceptions crash the worker with no error messages"
Repro:

Send a message greater than 4MB in size. Host will crash with no errors to logs.

Expected behavior:

Host should gracefully handle unhandled exceptions. It should attempt to log them to the host and stderr.

[2018-02-12 22:47] christopheranderson opened #52 "HTTP headers and status sent with response body when context.res.body is undefined"
From https://github.com/Azure/azure-functions-host/issues/2305

Need to not send back just a json response if the body is missing.

https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/src/Converters.ts#L18-L20

[2018-02-16 19:10] #52 closed

[2018-02-16 21:29] christopheranderson opened #54 "When using non-supported version, give helpful error message"
Currently it "literally just craps all over itself" (Brady Gaster)

Repro:
Use Node 9. try to debug in VS Code.

[2018-02-16 21:30] bradygmsft commented on #54
oh gracious. :) i could provide a more descriptive... description...

[2018-02-16 21:51] bradygmsft commented on #54
Repro steps. Make sure you have the [Azure Functions](https://marketplace.visualstudio.com/items?itemName=ms-azuretools.vscode-azurefunctions) tools installed. CCing @fiveisprime FYI on the issue on that side. Also cc'ing @SyntaxC4 on the docs side, as this might be beneficial information to docs readers.

1. `mkdir functionDebugTest`
1. `cd functionDebugTest`
1. `code .`
1. create a new javascrip

[2018-02-16 22:11] burkeholland commented on #54
Some people will say `nvm`. But `n` is 2 letters shorter. That's called "productivity".

[2018-04-03 19:11] mhoeger opened #56 "Entire host crashes if >=1 function throws an exception on initialization"
"result" of GRPC StatusResult message must be string (not exception). We should not be setting an exception object to be "result", which expects a string (here: https://github.com/Azure/azure-functions-nodejs-worker/blob/58ea3456af16e5ca87b2439e7a7d2172ff4bb868/src/WorkerChannel.ts#L82)

Similar issues may be occurring where grpc message components have mismatched types.

Related to: https://githu

[2018-04-03 23:44] mhoeger commented on #39
@mamaso if you're still checking - can you provide details :)

[2018-04-04 00:06] mamaso commented on #39
Yep, the issue is well summarized in the host repo.

I added it here because I think it makes more sense to handle this in the language worker (as it's node specific behavior), rather than special casing it in the host.

One alternate possibility would be to have the camel case handled by the host automatically & a language worker describes to the host if it would like camel case or not in the jso

[2018-04-04 00:27] mhoeger commented on #39
You're the best Matt!! It'd be super nice to have formatting as a part of the language worker contract, but I lean towards your original suggestion of having binding data formatted by each language worker for cases like Python's lowercase_underscores (and for whatever other future languages we support). Thanks again!

[2018-04-04 00:50] mhoeger commented on #39
Note: requires corresponding test change in azure-functions-host repo (https://github.com/Azure/azure-functions-host/issues/2571)

[2018-04-05 18:15] mhoeger opened #57 "Consume .proto file from separated repo"
Follow instructions in the repo's readme:
https://github.com/Azure/azure-functions-language-worker-protobuf

[2018-04-12 18:41] #56 closed

[2018-04-12 21:11] #57 closed

[2018-04-13 18:26] mhoeger opened #60 "Increase grpc max message size"
Sending an message that was too caused an uncaught exception to be thrown and the worker to shut down. Afterwards, the host shutdown. This may be due to an unrelated timeout error, but should be verified.

`Worker xxxx encountered event stream error:  { Error: Received message larger than max (5852896 vs. 4194304)`
`Worker xxxx uncaught exception:  { Error: Received message larger than max (585289

[2018-04-14 00:26] mhoeger commented on #60
Issue moved to https://github.com/Azure/azure-functions-host/issues/2677

[2018-04-14 01:34] pragnagopa commented on #60
Let’s keep this one open to update grpc message size on the client side. Also, let’s catch this exception and log friendly message if the message exceeds the one we set

[2018-04-25 17:48] pragnagopa commented on #60
Here is the documentation on channel options to set max_receive_message_length and max_send_message_length https://grpc.io/grpc/csharp/api/Grpc.Core.ChannelOptions.html

[2018-04-26 00:16] #60 closed

[2018-04-26 19:12] pragnagopa opened #64 "Pin version of grpc"
Update package.json to include exact version of grpc we depend on

[2018-05-01 18:22] pragnagopa opened #65 "Update grpc version"
Update grpc version to address:

- https://github.com/grpc/grpc-node/issues/225
- https://github.com/Azure/azure-functions-host/issues/2758

[2018-05-02 19:57] mhoeger opened #66 "Node 10 support"
Although Node 8 is under long-term support, Node 9 is current. Any install via brew or chocolatey will default to Node 9, which creates a bad experience for local developers that install node for the first time on a machine and must downgrade to 8.

UPDATE: node 10 just released

[2018-05-04 21:45] mhoeger opened #67 "Let user configure option to error if on empty event loop"
"What Lambda is doing is looking for your event loop to be empty, and if it is, stopping the execution."

We could allow users to configure settings to more defensively look for coding errors of not calling done/next by looking at the event loop and seeing if we should stop execution but aren't.

This could prevent users from seeing functions that just hang.

Original request: https://stackoverflo

[2018-05-09 22:35] pragnagopa opened #68 "creating http server fails"
Following function does fails in V2
var http = require('http');
http.createServer(function (req, res) {
res.writeHead(200, {'Content-Type': 'text/plain'});
res.end('Hello World!');
}).listen(8080);

Need to investigate if this is supported in V1.
In V2, as reported here  https://github.com/Azure/azure-functions-host/issues/2321 function fails without any error.

[2018-05-09 22:40] pragnagopa commented on #68
@iredjee  - Did you try functions V1? Can you give us more details on the scenario why you need to setup a listening endpoint?
Please note that [Azure Web App Sandbox restrictions](https://github.com/projectkudu/kudu/wiki/Azure-Web-App-sandbox) apply to Azure functions as well.

[2018-05-10 17:00] pragnagopa opened #69 "Exception was thrown when upload a 0 byte file"
_From @fabiocav on March 26, 2018 17:2_

_From @SimonGuo009 on March 26, 2018 10:10_

**Portal Environment:** https://ms.portal.azure.com
**Browser:** English/Chrome
**Runtime Version:** 2.0.11651.0 (~1) (Private Site Extension)

Please refer to the snapshot:
![bug2_zerobytefileexception](https://user-images.githubusercontent.com/18321627/37900456-dce356ee-3120-11e8-8ecf-532dc584193b.png)

**Repro

[2018-05-10 17:00] pragnagopa commented on #69
_From @SimonGuo009 on April 2, 2018 9:33_

This bug can be reproduced in **Beta runtime** as well.

[2018-05-10 21:04] willmorgan commented on #56
Has the fix for this been released as part of any incremental release that we can use?

[2018-05-10 21:27] mhoeger commented on #56
It was a part of this deployment that unfortunately had to be canceled: https://github.com/Azure/app-service-announcements/issues/105

[2018-05-10 21:29] mhoeger commented on #56
This change will be a part of our next deployment! You could deploy the [functions runtime as a private site extension](https://github.com/Azure/azure-functions-host/wiki/Deploying-the-Functions-runtime-as-a-private-site-extension) if you need it now? You'd want to use this source code: https://github.com/Azure/azure-functions-host/releases/tag/v2.0.11737-alpha

[2018-05-11 23:49] mhoeger commented on #66
We want to update to (at least) `node-pre-gyp@0.10.0` and `grpc@1.11.3`

There's an error in grpc's index.d.ts file that keeps us from being able to use `protobufjs@6.7.0` in the same project: https://github.com/grpc/grpc-node/issues/176

[2018-05-11 23:52] mhoeger commented on #64
Closing as dupe of #64

[2018-05-11 23:52] #64 closed

[2018-05-12 00:08] mhoeger commented on #51
I think this issue is too broad to be actionable. The specific example has been moved here: https://github.com/Azure/azure-functions-host/issues/2840

[2018-05-12 00:08] #51 closed

[2018-05-15 16:40] pragnagopa opened #70 "update proto file"
headers field in RpcHttp is updated to <string, object> pairs.  ToRpcHttp and FromRpcHttp methods in Converters.ts need to be  updated.

[2018-05-15 16:41] pragnagopa commented on #70
@mhoeger - functions host changes and nodejs worker changes need to be merged at the same time as we are updating existing field.

[2018-05-15 20:57] #70 closed

[2018-05-15 21:37] ahmelsayed commented on #66
why is this breaking? Does it mean we will drop node 8?

[2018-05-15 21:42] mhoeger commented on #66
I don't think we've decided whether or not we're keeping node 8 as a backup (likely yes? @paulbatum), but we definitely will be changing the default version to 10

[2018-05-15 21:44] ahmelsayed commented on #66
thanks @mhoeger I was asking in the context of the email thread about handling `WEBSITE_NODE_DEFAULT_VERSION`, I'll respond on that thread

[2018-05-17 18:29] mhoeger commented on #65
Closing in favor of #66 to track updating grpc version

[2018-05-17 18:29] #65 closed

[2018-05-17 20:58] mathewc opened #75 "Take any unit tests from V1 to V2"
We should get some tests in place similar to what we had in v1.x Functions for the Edge.js based interop layer.

As an example, the entry point for our v1.x Node unit tests (Mocha tests) is here: https://github.com/Azure/azure-functions-host/blob/v1.x/runNodeTests.cmd. Mocha unit test file here: https://github.com/Azure/azure-functions-host/blob/v1.x/test/WebJobs.Script.Tests.Integration/TestScrip

[2018-05-17 22:52] #54 closed

[2018-05-17 22:56] mhoeger commented on #54
Note: The error message is improved but still buried in logs (especially for those looking at the Portal). This work item tracks increasing visibility: https://github.com/Azure/azure-functions-host/issues/2299

[2018-05-22 16:16] pragnagopa opened #76 "Beta Runtime's Request Body is a Buffer instead of Object"
_From @danfsd on May 21, 2018 18:24_

Request's body is a `<Buffer>` instead of object in **Azure Function's Runtime Beta**. This works fine in the Cloud (which I suppose is running **Runtime 1.x**

#### Repro steps

Try to run the boilerplate Javascript code in the **Runtime beta**:

[code]

#### Expected behavior

The `context.log(context.req.body.name)` should log:
[code]

#### Actual behavior

[2018-05-22 16:16] pragnagopa commented on #76
@mhoeger can you please investigate?

[2018-05-22 20:07] mhoeger commented on #76
@danfsd I'm not able to repro this..! On a V2 function app, I am observing the correct behavior.
![image](https://user-images.githubusercontent.com/8888531/40387151-b4c17e76-5dc0-11e8-8d98-f10b4c3a1814.png)

Could you tell me which runtime version you are using (see below)? Could you also make sure that your WEBSITE_NODE_DEFAULT_VERSION under application settings is set to an 8.x version (such as

[2018-05-23 00:03] #39 closed

[2018-05-23 18:02] pragnagopa opened #77 "Add worker.config.json"
Add  worker.config.json  file as described [here](https://github.com/Azure/azure-functions-host/wiki/Authoring-&-Testing-Language-Extensions).

[2018-05-23 18:52] danfsd commented on #76
Hey @mhoeger I was using WEBSITE_NODE_DEFAULT_VERSION=8.11.1, which I extracted from `process.version`.

[2018-05-23 19:12] pragnagopa opened #78 "Non-string header values on http response throws error"
See details on the original issue reported here: https://github.com/Azure/azure-functions-host/issues/2768
Initial fix was to update RpcHttp proto file to <string, TypedData> dictionary. According to [HttpSpec](https://tools.ietf.org/html/rfc2616#section-4.2) header values are only valid ASCII characters. Need to fix NodeJS worker to convert to strings before sending message to functions host

[2018-05-25 19:02] mhoeger commented on #78
Great! Thanks Pragna :)

[2018-05-25 19:12] mhoeger commented on #76
@danfsd - I just tested again running in the Cloud (through the Azure Portal) with Functions Runtime version 2.0.11776.0 (beta) and node version (set through WEBSITE_NODE_DEFAULT_VERSION) 8.11.1. The issue does not appear.

Is your issue when you are running locally or in the Cloud? And which exact version of the runtime are you using (found under the "Function app settings" tab).

[2018-05-25 19:17] mhoeger commented on #76
If you're running in Azure and both node version and runtime versions match what I said, can you share your function app name, either directly or [indirectly](https://github.com/projectkudu/kudu/wiki/Reporting-your-site-name-without-posting-it-publicly)?

[2018-05-31 18:04] mhoeger opened #80 "Verbose language worker logging option"
It would be nice to have verbose logging in the language worker that can be requested by host.

For example, we remove HTTP header values that evaluate to null, and it would be nice to log when we do that for better debugging.

[2018-05-31 19:01] pragnagopa opened #81 "Add test that set http response headers"
Add test setting the response headers of different types "stringHeader" , 123
PR #79

[2018-05-31 20:14] mhoeger commented on #81
also include tests for 0, undefined, null, and false

[2018-05-31 20:14] #78 closed

[2018-06-05 22:56] ahmadawais opened #89 "Cannot connect to runtime process, timeout after 10000 ms - (reason: Cannot connect to the target: connect ECONNREFUSED 127.0.0.1:5858)"
I'm facing a weird issue.

Error:

[code]

[code]

Launch.json

[code]

![image](https://on.ahmda.ws/riqo/c)

Trying to create an Azure function.

Several errors in my terminal output:

[code]

Help.

Part of it was fixed here https://github.com/Microsoft/vscode-azurefunctions/issues/387#issuecomment-393973376 and I was asked to move the issue to this repo.

[2018-06-06 17:48] mhoeger commented on #39
Updated details: the bug was that the keys in `context.bindingData` were camelCased one layer down but no further.

**Before Fix:**
`context.bindingData.sys.MethodName` would be `HttpTriggerJS1`

**After Fix:**
`context.bindingData.sys.methodName` would be `HttpTriggerJS1`

[2018-06-06 23:44] arichiardi opened #90 "Add stack trace to func host start import errors"
Hi folks,
it seems like my worker starts fine with `func host start` but it then encounters a problem with my `.js` file.
Since it is compiled, I am not sure where it is breaking and not enough information is shown:

[code]

Is there a way to understand which line breaks? Or enable stack traces?

[2018-06-08 21:56] mhoeger commented on #89
@ahmadawais - If you switch to node 8.x, you should be fine. I'm sorry about the confusion :( we've recently updated the error message you saw to now say this:
https://github.com/Azure/azure-functions-nodejs-worker/blob/0d5d754087baa524e9d636a4ec89b5e08a314df3/src/GrpcService.ts#L3-L5

And we're also working on supporting node 10 shortly!

[2018-06-08 21:57] mhoeger commented on #89
Closing this issue for now, but please re-open and ping me if you are still having issues!

[2018-06-08 21:57] #89 closed

[2018-06-08 22:06] ahmadawais commented on #89
@mhoeger sadly I tried to fix it. And I'm still stuck.

My node version is `v8.11.2`
Extension Azure Functions `0.9.1`
azure-functions-core-tools `2.0.1-beta.28`

I am on MacOS.

Here's the output now.

[code]

and this is what I get in debug console…

[code]

[2018-06-08 22:39] ahmadawais commented on #89
@mhoeger yes it is strange.

I tried everything again. No luck.

I made a video of the process. Using VSCode here not the `func` CLI.

VIDEO: https://on.ahmda.ws/s98K

[2018-06-08 22:44] ahmadawais commented on #89
Oh wow! I just figured it out. It's working fine now.

So, here's what happened. I have `node -v` reporting version `8.11.2` everywhere in the VSCode terminal, and in iTerm2. But I had another project open in VSCode which I was working on earlier. That had the terminal open as well. So, when I tried, that one reported `10.1.0` so instead of reloading VSCode, I quit and started it from scratch. Tha

[2018-06-11 17:44] mhoeger commented on #90
@arichiardi - would you mind sharing a code snippet? Seeing your function.json would also help, since your error is on function load.

[2018-06-11 22:11] arichiardi commented on #90
The code snippet is ClojureScript compiled down to JS. Here is `function.json`:

[code]

[2018-06-11 22:14] arichiardi commented on #90
Is there a way to enable the stacktrace for the error?

[2018-06-11 22:24] #77 closed

[2018-06-11 22:33] mhoeger commented on #90
awesome, thank you! we usually do have the stacktrace along with the error by default. i think you've hit a corner case where we likely don't handle our error gracefully.

[2018-06-11 22:48] mhoeger commented on #90
I was able to repro your error. I don't know exactly how ClojureScript compiles down, but my guess is that your index.js looks something like this:
[code]

However, to work with the runtime, you should define module.exports equal to a function (can be async, as a side-note). `context` is not a global object as it differs per function execution, so you'll need to pass it in as a function parameter.

[2018-06-11 22:51] arichiardi commented on #90
I will investigate more, but if I check the generated JS it looks similar to what you are writing:

[code]

[2018-06-11 22:57] arichiardi commented on #90
I can confirm that node agrees:

[code]

[2018-06-11 23:21] arichiardi commented on #90
To add an additional data point. The lambdas work individually (I have three of them, I move two to a temp folder temporarily so that only one is loaded - that one works).

In any case I think the problem of this particular issue is that no stacktrace is provided, I will try to debug the other problem and open another issue in case.

[2018-06-12 00:14] mhoeger commented on #90
are you using one single function.json for multiple functions ("lambdas") that you're trying to invoke? each trigger and entry point should have a corresponding [function.json](https://github.com/Azure/azure-functions-host/wiki/function.json).

one concept that's different from AWS lambda (if that's your background!) is the notion of a "function app" - which is a bundle of one or many functions. t

[2018-06-12 00:15] mhoeger commented on #90
All this just as FYI / to help you in your debugging, we'll still fix printing a stack trace

[2018-06-12 00:20] arichiardi commented on #90
Yep I am separating like the above but each index.js has basically in theory has its own runtime. So guess this was what I was trying to understand how different is the isolation of Azure lamdbas compared to AWS so thank you for opening the topic for me :smile:

In AWS requiring of the two lamdbas are required in their own node process so that you basically get process isolation effectively and st

[2018-06-12 20:33] mhoeger commented on #90
In Azure Functions, you can think of a single function as a combination of a function.json + index.js script entry point. A "function app" is a group of functions and potentially other files of shared code. So each instance of a function app will run on the same process.

So yes, you're right! multiple functions can and do run on the same process

[2018-06-12 20:35] mhoeger commented on #90
Note that in production, when your functions scale out, you may have multiple instances of function apps running, so multiple processes executing your code. So you shouldn't treat anything as truly global for preserving state, but you certainly can share code. or treat SDK objects, for example, as global.

[2018-06-13 00:32] mhoeger commented on #66
re-opening to track pulling to functions-host repo

[2018-06-13 12:17] jeffhollan opened #94 "Document how to execute async functions in Node 8+"
You can execute async functions in Node 8 today, but means you need to:

1. Add the `async ()` keyword before the method parameters
1. Don't use the `context.done()` method (I assume) as it throws an error and appears to work fine without it.

@asavaritayal to help assign this.  I'm happy to help or own this but wanted to make sure we were tracking somewhere.  Feel free to move to right spot

[2018-06-13 12:17] jeffhollan commented on #94
@ColbyTresness as well - not sure who is managing the Node tasks 😃

[2018-06-13 18:01] mhoeger commented on #94
@jeffhollan - thanks!! a small note, i think it would be better to leave out mention of node version in the verbage. we added node 10 support (not yet released though) and we're moving towards deprecating node 8 in favor of 10.

[2018-06-13 19:34] #66 closed

[2018-06-13 19:47] mhoeger commented on #76
@danfsd - please let me know if you're still seeing this issue and if you're able to provide a repro!

[2018-06-13 19:48] mhoeger commented on #94
Related to https://github.com/Azure/Azure-Functions/issues/431

[2018-06-20 17:34] pragnagopa opened #98 "Fix DeprecationWarning: Buffer()"
Using node 10, nodejs worker shows this warning:
[code]
need to update nodejs worker to use Buffer.alloc()

[2018-06-26 22:58] #49 closed

[2018-06-28 02:11] arichiardi opened #101 "Couldn't require bundle, falling back to Worker.js"
Hi there, I am receiving the following when trying to executing my lambdas:

[code]

The version I am targeting is ` "WEBSITE_NODE_DEFAULT_VERSION",    "10.0.0",` if it can help but please let me know if you need additional info/want me to try something.

It looks like a duplicate of https://github.com/Azure/azure-functions-core-tools/issues/458 but I can't be sure and I am targeting `10.x` cause

[2018-06-28 02:19] arichiardi commented on #101
Maybe I can use `azure-functions-nodejs-worker`, I am a super-newbie to azure functions though, so I would need some guidance on how to do that, if possible.

[2018-06-30 04:03] arichiardi commented on #101
For posterity, the only version that works now against the `beta` function extensions deployed in Azure is `8.9.4` or lower.

[2018-07-02 12:02] mattallenuk opened #102 "Cannot debug with 2.0.1-beta.31 and node 8.11.2"
Hi All,

I'm having an issue that others seem to have had with previous versions of the runtime and node version < 8. I recently upgraded to beta 31 code via homebrew (I'm on a Mac) and now I cannot debug locally :(

I have node v8.11.2 and later versions installed with nvm setting v8.11.2 as default.

[code]

The error I'm getting when I run debug from VSCode is:

Cannot connect to runtime proces

[2018-07-02 19:09] mattallenuk commented on #102
Have found the answer in the Azure Functions Core Tools repo. (https://github.com/Azure/azure-functions-core-tools/issues/557). Need to add NODE_OPTIONS to the local.settings.json settings as below:

[code]

[2018-07-02 19:09] #102 closed

[2018-07-02 22:29] mhoeger commented on #101
@arichiardi - it's misleading, but this is the error you want to fix: "SyntaxError: Unexpected token ILLEGAL". It looks like your code does not compile because of this error (here's one [stack overflow post](https://stackoverflow.com/questions/12719859/no-visible-cause-for-unexpected-token-illegal) on this class of error).

Can you confirm? If yes, I'll re-title this issue to say that we should ha

[2018-07-03 05:11] arichiardi commented on #101
@mhoeger I will try again tomorrow but I am pretty sure it is not a compilino error - the functions are working fine with `func host start`.

[2018-07-03 17:49] mhoeger commented on #101
@arichiardi ahh ok, i think you are targeting the wrong version of node (see this [issue](https://github.com/nodejs/node/issues/17854)). `"WEBSITE_NODE_DEFAULT_VERSION": "10.0.0"` is an app setting you'll want to set for your production app that is deployed on Azure. [Here ](https://docs.microsoft.com/en-us/azure/azure-functions/functions-how-to-use-azure-function-app-settings#settings)are some do

[2018-07-03 20:45] arichiardi commented on #101
@mhoeger...no I have actually stated in the issue the opposite of this :smile:

Everything works with `func host start` but when I deploy my lambda and set `"WEBSITE_NODE_DEFAULT_VERSION": "10.0.0"` then it breaks.

The stack trace is not very informative but it can be a start for you to tell me what to try next if you can :wink:

[2018-07-12 18:21] mhoeger commented on #76
@danfsd - closing this issue, please reopen if your still facing this issue!

[2018-07-12 18:21] #76 closed

[2018-07-12 23:40] ColbyTresness opened #104 "Add ES6 Style Exports"
Will update issue with more information later on.

[2018-07-24 07:52] alexfurmanov opened #105 "debugger problem with 2.0.1-beta.33 (30,31,32)"
# Issue Description:
### Environment
[code]
### Steps to reproduce issue
1. open VSCode
2. run _npm start_ in console
3. press F5 to connect debugger

### Describe the results you received
error popup window with message:
_Cannot connect to runtime process, timeout after 10000 ms - (reason: Cannot connect to the target: connect ECONNREFUSED 127.0.0.1:5858)._

### What is inside your .vscode/launch

[2018-07-24 19:28] pragnagopa opened #106 "Show error if context.done() is missing"
If context.done() is missing we should show warning to the user. As of now, invoking a function without context.done() hangs and eventually timesout.

[2018-07-24 22:05] EricJizbaMSFT commented on #105
@alexfurmanov just released an update to the functions extension in VS Code that asks to update your project the next time you open it. We have to do this because of breaking changes in the functions runtime. You can see https://aka.ms/AA1vrxa for more information, including manual instructions for updating your project

[2018-07-30 21:57] pragnagopa opened #107 "Node version error is not accurate"
_From @EricJizbaMSFT on July 30, 2018 21:24_

I see the following in my logs when debugging a JavaScript function:

But that's inconsistent with the docs here https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#node-version-and-package-management, plus I'm just assuming LTS would be supported. Everything seems to work for me.

_Copied from original issue: Azure/azure-fu

[2018-07-30 21:57] pragnagopa commented on #107
@mhoeger - Can you please follow up update the documentation?

[2018-07-31 22:55] mhoeger commented on #101
@arichiardi - sorry about the delay, have you been able to resolve your issue? we've also recently deployed 10.6.0, meaning that you could try targeting that version as well in App Settings

[2018-07-31 22:56] arichiardi commented on #101
I am still on version `8.9.3` let me try to bump

[2018-07-31 22:56] mhoeger commented on #101
Sounds great, thanks!

[2018-07-31 23:02] arichiardi commented on #101
Just updated and all seems good!

[2018-07-31 23:02] #101 closed

[2018-07-31 23:15] mhoeger commented on #90
Closing as issue was resolved on in azure-functions-host. The error message now shows that entry point must be indicated.

[2018-07-31 23:15] #90 closed

[2018-08-01 20:28] #107 closed

[2018-08-02 00:03] mhoeger opened #110 "'Connection info missing' too generic"
https://github.com/Azure/azure-functions-nodejs-worker/blob/59d9fde5e676bc0d43cfaab4fd0c1e89b11f14e7/src/Worker.ts#L12

the error message thrown is too generic, not super helpful

[2018-08-02 18:49] #110 closed

[2018-08-07 11:51] #105 closed

[2018-08-07 18:06] #37 closed

[2018-08-08 00:04] paulbatum commented on #94
@jeffhollan @ColbyTresness should we turn this into a task to update the v2 templates to use async? If so we could move this issue to the templates repo. Would be nice as it would naturally demonstrate to users that they can use async and help cases where users forget to call context.done().

[2018-08-08 00:13] jeffhollan commented on #94
Yes I have started using by default and haven't seen any bad side-effects. I think it makes sense to move to the templates repo as a v2 must have

[2018-08-08 20:40] jeffhollan commented on #94
[Opened a PR](https://github.com/Azure/azure-functions-templates/pull/718)

[2018-08-10 21:09] mhoeger opened #114 "Package script fails should fail build"
If generating the nuget package in AppVeyor fails, the entire build should fail.

[2018-08-13 15:49] pragnagopa opened #118 "Add E2E test that starts nodejs worker as part of CI"
We need an E2E test that starts nodejs worker and performs basic test such as invoking HttpTrigger. We do have these tests on functions host but we need to catch any regressions before if consume nodejs worker changes in the host.

[2018-08-13 22:49] paulbatum commented on #19
e.g. host.startup.outofproc.nodeworker.latency, host.startup.outofproc.grpcserverstart.latency

[2018-08-14 18:48] mhoeger commented on #98
Re-opening since we are reverting the fix, which was not interacting well with the functions host.
https://github.com/Azure/azure-functions-nodejs-worker/pull/119

Needs more investigation.

[2018-08-16 20:47] mhoeger commented on #104
@ColbyTresness - you brought this up, but putting here for posterity:
We'll wait until node.js has ES6 style export capabilities, and not worry about trying to enable an experimental node feature or transpiling user code (status of feature [here](https://nodejs.org/api/esm.html)).

[2018-08-16 23:29] ColbyTresness commented on #104
Assigning myself so I don't forget about this

[2018-08-16 23:33] ColbyTresness opened #120 "Document Unit Testing Best Practices"
Write a blog post or some documentation for JS similar to what @jeffhollan did for C# here: https://medium.com/microsoftazure/serverless-devops-and-ci-cd-part-1-f76f0357cba4?source=linkShare-dd6e3fb74d52-1533570244

[2018-08-17 02:07] pragnagopa commented on #19
Latency for startProcess method in LanguageWorkerChannel would be good capture to give us an idea on long it takes to start a language worker process. Let’s sync up offline

[2018-08-21 17:45] #114 closed

[2018-08-21 21:18] mhoeger commented on #19
Resolved by https://github.com/Azure/azure-functions-host/pull/3270

[2018-08-21 21:18] #19 closed

[2018-08-22 22:08] jeffhollan commented on #120
FYI also did same scenario in JavaScript if you wanna check it out to help:
https://github.com/jeffhollan/functions-test-samples/blob/master/JavaScriptOddOrEven/test/oddOrEvenQueueTest.js

[2018-09-03 14:51] ltouro commented on #106
Having a problem with ```"context.done" is already called``` in one of my functions when an error is catched. I see two contradictory information is this repo. Can you please clarify the right path?

In https://github.com/Azure/azure-functions-nodejs-worker/issues/94:

[code]

In https://github.com/Azure/azure-functions-nodejs-worker/issues/106
[code]

Pseudo example:
[code]

Logs:

[code]

[2018-09-03 20:53] ltouro opened #123 "[V2] Duplicate logs on Node runtime"
_From @ltouro on September 3, 2018 14:38_

Logs are duplicated when running Node runtime on localhost

#### Investigative information

- Function App version: 2.0.1-beta.37

#### Repro steps

Execute the below function. Observe the "duplicate log" in the console

[code]

[code]

_Copied from original issue: Azure/azure-functions-host#3376_

[2018-09-04 17:27] mhoeger commented on #106
This isn't well documented (https://github.com/Azure/azure-functions-nodejs-worker/issues/94), but if your exported function is returning a promise, then context.done is implicitly called. So no need to call context.done yourself :) That's a good point though that the error message could clearly say that. i'll retitle to track that aspect of this issue

[2018-09-04 20:12] ltouro commented on #106
@mhoeger Fixed the issue by returning the promise (instead of void). Without that, the system can't call context.done automatically. Also, I using a sync function, not async.

Notwithstanding, still can't understand how I ended up with a **context.done** called twice, since no promise was being returned. Could not set up a simple example to show that, so I problably doing something wrong.

Thanks

[2018-09-05 17:39] mhoeger opened #124 "context.done called twice error message confusing for async / promise returning functions"
Today, error message is: `Error: 'done' has already been called. Please check your script for extraneous calls to 'done'.`

This is confusing when the first 'done' has been called due to the function being async or the function returning a promise. If we can tell which scenario it is, our error message should be specific to this case. (note: it should be easy to tell if the 'done' call was interna

[2018-09-05 18:54] mhoeger opened #125 "JSON array data in odd format"
Json array data (for example, bindingData properties such as enqueuedTimeStampArray for event hub trigger), comes deserialized not as a true array as it is expected.

cc: @ConnorMcMahon

[2018-09-05 19:19] paulbatum commented on #94
@jeffhollan @ColbyTresness @mhoeger can we close this?

[2018-09-05 19:38] ColbyTresness commented on #94
Lets leave it for a bit longer (1 week max) since this is something we've touched but haven't done a final pass through yet. I'll close this when that happens.

[2018-09-05 19:38] paulbatum commented on #27
Does not need to be tracked in regards to V2 GA

[2018-09-05 19:39] paulbatum commented on #106
@mhoeger should this issue stay open? I'm unclear what its tracking at this point.

[2018-09-05 19:59] mhoeger commented on #106
@paulbatum - i think this should stay open, although not necessary for GA. The most recent issue in comments is being tracked here: https://github.com/Azure/azure-functions-nodejs-worker/issues/124

[2018-09-06 19:01] #125 closed

[2018-09-10 17:36] #124 closed

[2018-09-10 20:06] mhoeger commented on #123
@pragnagopa - do you know if this is related to fabio's changes or if this is related to grpc server changes? either way, we may want to re-open the original issue in funcitons-host.

[2018-09-11 16:05] pragnagopa commented on #123
Investigating.

[2018-09-11 16:06] pragnagopa commented on #123
This issue was moved to Azure/azure-functions-host#3432

[2018-09-11 16:06] #123 closed

[2018-09-13 22:22] ConnorMcMahon opened #128 "Misleading error message when WEBSITE_NODE_DEFAULT_VERSION is missing"
When an app is missing the app setting WEBSITE_NODE_DEFAULT_VERSION, we get the following error message:

``Function (HttpTriggerJS1) Error: Failed to start language worker process for: node. node exited with code 1 console.error(`${logPrefix}Couldn't require bundle, falling back to Worker,SyntaxError: Unexpected token ILLEGAL.``

#### Investigative information

- Timestamp: 2018-09-13T22:11:16.70

[2018-09-16 21:35] mhoeger commented on #94
@ColbyTresness - how is [this](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#contextdone-method)? or does async deserve its own bucket?

[2018-09-17 20:50] ColbyTresness opened #129 "Better Error Message when dependency not found"
Customer got the following error message:

2018-09-17T18:35:05.120 [Information] Executing 'Functions.processor' (Reason='This function was programmatically called via the host APIs.', Id=2135d642-8a26-4bd7-b828-dc97eb3ba720)
2018-09-17T18:35:05.159 [Error] Executed 'Functions.processor' (Failed, Id=2135d642-8a26-4bd7-b828-dc97eb3ba720)

When I looked at the logs, it was more verbose:

Microsoft.A

[2018-10-03 21:14] ColbyTresness commented on #94
@mhoeger Sorry about the delay. I think what we have is a good start, but it doesn't seem sufficient: the only place we mention async in our JavaScript developer guide is in the context.done() section, which doesn't 100% make sense since using async means they don't need context.done(), and hence wouldn't look there. Upon further examination, I think this is important enough information to add as

[2018-10-11 14:32] pragnagopa commented on #118
@mhoeger -Please see https://github.com/Azure/azure-functions-java-worker/blob/dev/appveyor.yml for reference on how to add E2E tests. Let me know if you  have any questions.

[2018-10-11 19:01] pragnagopa opened #132 "Expose list of output bindings on the context object"
As part of function load request, functions host sends a list of input and output bindings
[LanguageWorkerChannel.cs#L352](https://github.com/Azure/azure-functions-host/blob/8f712eba4a95d1e57b93c98532f1ce02def89d83/src/WebJobs.Script/Rpc/LanguageWorkerChannel.cs#L352)
And NodeJS worker  stores this information as part of [FunctionInfo.ts#L19](https://github.com/Azure/azure-functions-nodejs-worker/

[2018-10-11 19:01] pragnagopa commented on #132
cc : @kashimiz

[2018-10-11 19:06] kashimiz commented on #132
Use case: I'm in the process of writing a module for Durable Functions in JavaScript that needs to assign information to an output binding. Ideally the user wouldn't need to specify the binding's name; the module would simply accept the context object and scan the bindings to locate the desired output binding (based on some characteristic.)

[2018-10-12 02:10] mhoeger commented on #132
@pragnagopa @kashimiz - This sounds good! We could either:
1. Have members on the context.bindings object with value: "undefined" (since assigning values to context.bindings is one way of writing outputs and I think that "undefined" is never set for an input binding? Will have to verify)
2. Have explicit metadata elsewhere.

One question on automatically assigning outputs - how would work for user

[2018-10-12 17:11] kashimiz commented on #132
@mhoeger That's a good point. 🤔 If a function has two output bindings, A and B, going with your proposed option 1 would make it impossible to determine if A or B is the orchestrationClient output binding the module is looking for.

Ideally (for the use case I'm interested in) information about the binding type (orchestrationClient, blob, cosmos, etc.) would also be exposed in some way, which makes

[2018-10-12 17:18] pragnagopa commented on #132
Yes. I agree exposing metadata is more helpful. @mhoeger - can you please provide sample code snippets for the proposal?

[2018-10-13 05:38] mhoeger commented on #132
Thoughts on this structure?
[code]
Which lets people write code like this?
[code]

Another option: we could nest the list of bindings under context.bindingData (context.bindingData.definitions?). bindingData currently contains function invocation metadata (trigger-specific metadata and function invocation data like invocationId, sys.methodName, sys.utcNow, and sys.randGuid)

[2018-10-15 16:57] #128 closed

[2018-10-15 18:02] mhoeger opened #133 "Tests for node version validation logic"
There are added complications to testing node version validation in nodejsWorker (introduced here: https://github.com/Azure/azure-functions-nodejs-worker/pull/131). Work item to track adding tests

[2018-10-15 20:10] filipesilvaa opened #134 "ServiceBusTrigger is not converting correctly my message"
#### Investigative information

Hello,
Maybe the function exported as ServiceBusTrigger, is not converting my binding parameter as should, even thought I set `Content-type` to `text/plain`
I'm using Azure Function Extension at my VS Code, but I'm getting the same issue using Portal Azure

**Portal**: https://portal.azure.com/
**Runtime Version**: 2.0.12134.0 (~2)

#### Repro steps

To reproduce th

[2018-10-15 22:39] mhoeger commented on #129
Fixed in [latest release](https://github.com/Azure/azure-functions-host/releases/tag/v2.0.12134)

[2018-10-15 22:39] #129 closed

[2018-10-16 13:53] pragnagopa commented on #132
bindingDefinitions looks good to me as well. This would be a new list with the metadata info coming from function.json and will avoid any confusion with existing bindingdata we already provide.

[2018-10-16 21:06] kashimiz commented on #132
Offline discussion with Pragna has won me over. +1 for bindingDefinitions.

[2018-10-16 23:54] asavaritayal opened #135 "Support multi-value outputs"
For example - user should be able to write multiple messages to the same queue binding without having to define it more than once in `function.json`

[2018-10-18 21:04] mhoeger commented on #134
Yes - it looks like the input isn't being treated as a string and is being rounded due to being greater than the [MAX_SAFE_INTEGER](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER)

[2018-10-25 22:02] jbaumbach opened #139 "Some node.js code will permanently kill an Azure function app"
### Description

Including "something bad" in a node.js function app kills the entire function app and apparently it will never run again.  Stopping/starting the app doesn't fix the issue.  The function app must be completely deleted and a new one created.  The error returned when in this state is:

[code]

It's not clear what "something bad" is.  I started out with a simple index.js file that inc

[2018-10-30 06:40] JohnReeson opened #141 "Binding data type in v1"
v1 blob trigger reads content as string by default, we need to add `"dataType":"binary"` to get binaries. But this option seems not that obvious as there's no `dataType` parameter in generated template.

Is it possible that v1 can read incoming blob as Buffer by default like v2 functon does?

[2018-10-31 23:33] #132 closed

[2018-11-01 01:54] daniel-rocha opened #142 "Apparent buffer overrun affecting the Request object passed to the function"
Suppose a function requires a query string parameter, like “productId”. Previously, if either the key wasn’t present in the query string, or if the value was null, the corresponding req.<queryParameter> in node would be null, and we could do validation on it to decide how to proceed with the function.

#### Investigative information

Please provide the following:

- Timestamp: 2018-11-01T01:48:59.

[2018-11-01 23:37] maximffs opened #143 "Missing support for Node LTS 10.1"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known work

[2018-11-01 23:38] #143 closed

[2018-11-01 23:51] maximffs opened #144 "Missing support for Node LTS 10.13.0"
#### Investigative information
On October 30th 2018, Node updated their LTS to v10.13.0 and current release to 11.x.
Please see more details here:
https://github.com/nodejs/Release#release-schedule

I ran it on a sample new Function App and HttpTrigger1 that is generated from the portal (no custom code at all)

Trying to set this function app to run using the LTS version 10.13.0 (by updating the a

[2018-11-03 00:33] ColbyTresness commented on #144
We'll definitely look to update to 10.13, but note that we're not locked into the same release cycle as Node, so we never planned to take this on October 30th. (As an aside, we never plan to support Node 11.)

Adding @mhoeger to fix the references to CURRENT in our code, that should definitely be switched as 10 is LTS.

[2018-11-03 00:34] ColbyTresness opened #145 "Add Node 10.14.1"
Marie is going to add Node 10.13!

[2018-11-03 00:35] ColbyTresness commented on #144
Leaving this open to track the code fixes, opened #145 to track the actual version update.

[2018-11-03 00:51] ColbyTresness commented on #141
We won't be adding any new features to V1.

[2018-11-03 00:51] #141 closed

[2018-11-03 15:28] maxhov opened #146 "Url encoded request body not parsed"
#### Investigative information

Please provide the following:

- Timestamp: 2018-11-03T15:26:20.458
- Invocation ID: d38cce31-c3d2-49ff-b56a-3f595d5967c5
- Region: West-Europe

#### Repro steps

1. Generate a starter Function with Azure Core Function tools (2.1.725) with the following settings:
    1. `func init` -> select 2. node
    1. `func new` -> select 5. HTTP trigger -> choose default name

[2018-11-04 03:51] jeffhollan opened #147 "Provide a way to log metrics via context.log"
In C# you can use the [logger to create custom metrics](https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#logging-custom-metrics) in App Insights.  Would be nice to expose this as well - potentially with something like `context.log.metric('Duration', 1234)`

[2018-11-04 04:07] jeffhollan commented on #104
I expect this is what this is tracking but any thoughts on why when I use things like:

``javascript
import foo from './foo.js'

default export function() { }
[code]

[2018-11-04 11:11] willmorgan commented on #104
@jeffhollan You're correct - Node currently just supports CJS style exports (that's `require` and `module.exports = { stuff }`. But with a flag, you can switch on ESM, which is in the experimental phase: https://nodejs.org/docs/latest-v10.x/api/esm.html

[2018-11-04 22:05] ColbyTresness commented on #104
@jeffhollan Yes, the fact that VS Code prompts for this is a bug that I brought up with @fiveisprime. We left this issue open though since we'd like to support this once Node does.

[2018-11-04 22:07] jeffhollan commented on #104
Nice thanks. @fiveisprime would be nice if any related code issue we could link

[2018-11-06 14:34] 0x6d6178 commented on #146
So I looked into this a bit more and it seems that whenever you do a POST with a form (i.e. data is format as: "name=test&hobby=test", it is not parsed. However, when you make a JSON object of it (i.e. '{"name": "test"}', it will pick it up. I found that the way it is parsed in the function is unrelated to the content-type header set in the request (tested both with application/x-www-form-urlencod

[2018-11-12 17:42] #118 closed

[2018-11-14 19:56] fabiocav commented on #142
@mhoeger are we targeting Sprint 37 for this? If so, can we assign to the sprint?

[2018-11-28 18:20] pragnagopa opened #151 "Managed Service Identity (MSI) with Java Script functions"
Tracking issue to try and document using MSI authentication with java script functions.

[2018-11-28 18:21] pragnagopa commented on #151
cc @mhoeger @paulbatum
@mattchenderson  - Have you tried this? I am trying to figure out if there are any blockers for using MSI authentication for out-of-proc languages

[2018-11-28 18:58] willmorgan commented on #151
Last year @martinpeck and I did some stuff with MSI. It's being used here:

https://github.com/martinpeck/dotenv-keyvault/blob/6ee8fdd9e445643784f00d3634ca67c89adc383d/index.js#L12-L38

Hope this might be helpful?

[2018-11-29 02:56] ColbyTresness opened #152 "Default JS to Linux Hosting"
This shouldn't be considered until our Linux offerings are GA, but we should change the default hosting behavior for JS functions from Windows to Linux at some point in the future. Further exploration is needed but adding this as a tracking issue.

[2018-11-30 17:45] #142 closed

[2018-12-03 23:33] maximffs commented on #145
Please notice this security update:
https://nodejs.org/en/blog/vulnerability/november-2018-security-releases/

They've identified several security vulnerabilities and released Node 10.14

[2018-12-06 00:33] mhoeger opened #154 "Warnings on context.log after context.done is called"
It's very easy to mess up async patterns when using callbacks. We should emit a warning if we see any activity via context.log **after** context.done() has been called.

[2018-12-06 18:22] mhoeger commented on #145
Closing as the deployment is now underway (you can set WEBSITE_NODE_DEFAULT_VERSION to 10.14.1 and being tracked here: https://github.com/Azure/app-service-announcements/issues/150

Please wait for the announcement issue to be closed to know when 10.14.1 is available in all regions.

[2018-12-06 18:22] #145 closed

[2018-12-07 21:48] mhoeger opened #158 "Support 64 bit NodeJS executable"
_From @AshleyGrant on November 19, 2018 17:15_

Switching to the 64 bit runtime does not switch to a 64 bit version of Node. Unfortunately, this causes issues as there are some NPM packages that only support running on 64 bit Node. One in particular is "sharp." This is an image manipulation library that is orders of magnitude faster than alternatives, but only supports running on 64 bit Node due t

[2018-12-08 00:53] #27 closed

[2018-12-12 08:54] janaagaard75 opened #162 "The log methods should be identified as methods"
With the current type definitions for `error`, `warn` etc. VSCode is identifying them as properties and not methods. It works out though, but I think it would be a bit nicer if they were identified as methods.

Changing `info: ILog;` to `info(...args: any[]);`

VSCode sees `info` as a property when it's written as `info: ILog;` in the type definitions file.
<img width="358" alt="property" src="htt

[2018-12-12 23:11] ColbyTresness commented on #162
@mhoeger

[2018-12-17 19:00] mhoeger opened #163 "Document debugging"
Should document how to debug in official docs and not just [wiki](https://github.com/Azure/azure-functions-host/wiki/Language-Extensibility)

[2018-12-18 21:31] hannesne opened #164 "Warning message on Node version is inaccurate regarding current versions"
The warning about the node version when running locally is not accurate, similar to issue #107 At the moment the current node version is v11, but the code checks for v10.x. (in https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/src/nodejsWorker.ts)  When run against node 11, it gives an error that the node version is not LTS or Current. In the code it seems to only check for v10.
In I

[2018-12-19 23:16] #164 closed

[2019-01-04 08:35] yoichiro opened #168 "The charset of content-type request header is ignored"
#### Abstract

It seems that a charset of the content-type response header is ignored in specific case. If a request has an Accept-Charset request header including "utf-16, utf-8" value, the Azure Functions returns a response that has a response body encoded by UTF-16LE ignoring a charset in the "content-type" response header and has a "charset=utf-16" (this means "UTF-16BE") in the "Content-Type"

[2019-01-05 01:10] mhoeger commented on #147
(Note: this feature is available in V1 but not V2)

[2019-01-10 02:36] mhoeger opened #169 "Add an interface for the HTTP response"
We should add a TypeScript interface for an HTTP response object. This gets tricky because we support both express-like and http-module-like ways of crafting a Response.

See discussion here:
https://github.com/Azure/azure-functions-nodejs-worker/pull/160

[2019-01-10 03:46] ryancole opened #170 "How to install type definitions?"
I don't see the `@azure/functions` package on npm. How to install this?

[2019-01-10 18:46] #170 closed

[2019-01-10 23:22] #162 closed

[2019-01-16 00:30] mhoeger commented on #168
@yoichiro - Is something like this what you're looking to do?

[code]
Note the response here is:
[code]

[2019-01-16 00:54] mhoeger commented on #168
@yoichiro - I hope I'm understanding your request correctly... I think you're wondering why the `Accept-Charset` isn't appearing to work for you. [`Accept-Charset`](https://developer.mozilla.org/docs/Web/HTTP/Headers/Accept-Charset) only advertises which character set the client is able to understand. Then, using content negotiation, the server (i.e., your function) selects one of the proposals, u

[2019-01-16 05:34] yoichiro commented on #168
@mhoeger Unfortunately, this issue was reproduced even if using the `enableContentNegotiation: true`. The behavior of Azure Functions was not changed by using the flag.

I tested the code above with the `enableContentNegotiation: true`, and sent the following request with `curl` command:

[code]
then I received the following response:

[code]

* content-type: `application/json; charset=utf-16` (th

[2019-01-17 18:00] #154 closed

[2019-01-17 22:58] mhoeger commented on #146
Yes, we don't automatically parse `application/x-www-form-urlencoded` data to JavaScript objects. We do automatically parse JSON objects of `application/json` content type (and if you don't want this automatic JSON parsing, you can leave off the content-type header or access the payload through `req.rawBody`).

I don't think we make this clear in documentation, but the assumption should be that au

[2019-01-21 21:55] yoichiro commented on #168
@mhoeger Is [the information above](https://github.com/Azure/azure-functions-nodejs-worker/issues/168#issuecomment-454657844) enough for you?

[2019-01-22 16:03] mrgrain commented on #168
I can reproduce this issue here and suffering from the same defect. Azure functions seems to ignore my carefully crafted content-type response header and does it's own content negotiation anyway.

One could re-phrase the bug as "Content negotiation is on by default and cannot be turned off" (though @yoichiro's report is far more comprehensive)

[2019-01-22 17:49] IGx89 commented on #168
Nice job investigating this, @yoichiro! I reported something similar to this a couple months ago and they said they were going to investigate content-type being ignored as well: https://github.com/Azure/azure-functions-host/issues/3435. However the utf-16be/le issue you identified is probably the bigger issue, since we wouldn't have any need to set content-type if Azure Functions was doing it corr

[2019-01-22 22:30] yoichiro commented on #168
Yes, at least, I believe that the UTF-16LE/BE issue is a bug which must be fixed.

[2019-01-23 21:27] jpetitte opened #173 "access to node req/res objects"
Can we access the native nodejs req/res objects? That would be extremely helpful for working with a number of libraries.

[2019-01-24 20:23] yoichiro commented on #168
@mhoeger Thank you for handling this issue! Feel free to hear me if you have some question about the behavior of this issue.

[2019-01-24 20:46] pragnagopa opened #174 "[Placeholder]Add support for reloading environment variables"
Implement handlers for environment reload requests
defined here: https://github.com/Azure/azure-functions-language-worker-protobuf/blob/73896fd4bf1ec13183ad638e80e3d5a9c19c58cb/src/proto/FunctionRpc.proto#L69-L71

FunctionEnvironmentReloadRequest is sent by the functions host during specialization when a language worker is started in placeholder mode.

cc @ColbyTresness

[2019-01-26 17:41] jpetitte commented on #173
Understood. Just out of curiosity, what was the impetus for using a different req/res interface? Was it based on the shape of the req/res objects of the underlying code that runs the worker?

[2019-01-30 01:49] mhoeger commented on #173
@jpetitte - the shape of the req object is based off of [this contract](https://github.com/Azure/azure-functions-language-worker-protobuf/blob/73896fd4bf1ec13183ad638e80e3d5a9c19c58cb/src/proto/FunctionRpc.proto#L362) for languages we support. This is what we use to turn an HTTP object for dotnet into a generic http object. We've added a few methods on req/res to be both "native http-like" and "ex

[2019-01-30 16:34] jpetitte commented on #173
Gotcha, that's what I suspected. Looks like I'll have to write a shim myself if I need it to be in the shape of Node's objects. Some people have already tried to adapt it to express specifically, https://github.com/yvele/azure-function-express, but it seems like there are a few compatibility issues with V2.

Thanks for the info! You can close this one now unless you need it open.

[2019-01-30 18:02] mhoeger commented on #173
Np - thanks John! Would love to take a look at what you come up with :)

[2019-01-30 18:02] #173 closed

[2019-01-31 09:36] egiray commented on #94
Hi, so where is the document? Still I can't use async function and it doesn't behave normal.

[2019-01-31 22:16] paulbatum commented on #94
Just for anyone that finds this issue and is looking for the updated docs, they are here:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#exporting-an-async-function

[2019-02-01 17:30] pragnagopa commented on #174
cc : @dariagrigoriu

[2019-02-07 23:02] IGx89 commented on #169
Would love this! Also, FYI, currently the response object is defined as optional which seems to be incorrect according to discussion in #160. It misleading suggests that `if (!context.res) { ... }` is a valid way to check if a response has been set, which isn't.

[2019-02-07 23:57] mhoeger commented on #169
@IGx89 - the response object is optional because in non-HTTP scenarios, there is no context.res (ex: functions that are queue-triggered, cosmos DB-triggered, event grid-triggered, etc.). But you are right that the res object is always there for HTTP scenarios (which is most common for JS developers), and that function code should never be checking `if (context.res)`

[2019-02-08 00:01] IGx89 commented on #169
Ha, good point! Completely forgot about the non-HTTP scenarios. If you don't mind me asking here, what is the proper way to check if an HTTP response (`context.res = {}`) has already been set or not?

[2019-02-12 21:52] IGx89 opened #176 "How to correlate dependencies with traces/requests in Application Insights?"
Hello! Currently request and trace logs are automatically sent to Application Insights by the Functions host, but any sub-requests done by the function (specifically HTTP requests out) aren't automatically logged. They can manually be logged by following the instructions at https://docs.microsoft.com/en-us/azure/azure-functions/functions-monitoring#custom-telemetry-in-javascript-functions, however

[2019-02-12 21:54] IGx89 commented on #176
HUGE bonus points if you move all this Application Insights setup into the worker, so that everyone automatically gets it!

[2019-02-13 19:41] fabiocav commented on #176
+ @brettsam for comment

[2019-02-13 20:08] brettsam commented on #176
This isn't working in v2 today -- it's being tracked in issue https://github.com/Azure/azure-functions-host/issues/3747.

Going to close this as it's a "duplicate" issue -- that issue will be linked here, but please do follow that issue and weigh in with anything you think we're missing in the discussion.

[2019-02-13 20:08] #176 closed

[2019-02-13 20:30] IGx89 commented on #176
Thanks for the reply! It sounds like that issue incorporates all of the following:

1. Lack of access to the operationId
2. No automatic dependency tracking (requires adding the appinsights package to the Node app)
3. No automatic correlation of tracked dependencies to the request when appinsights is added to the Node app to work around #2.

Assuming so, I'll happily monitor [Azure/azure-functions

[2019-02-17 21:07] alexisbg commented on #158
It is really boring. I need to find an alternative to Azure Functions. Are there any update about this issue?

[2019-02-19 20:15] mhoeger opened #179 "Target major versions of node instead of minor + patch"
Right now, we ask users to pick highly specific node versions via WEBSITE_NODE_DEFAULT_VERSION, which is cumbersome for so many reasons (see [docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#node-version) for current node version recommendations).

We should be allowing users to choose major versions instead and running on the latest available within that major

[2019-02-19 20:29] mhoeger commented on #158
Sorry for the delay. We don't fully support a 64 bit Node.js executable. However, we do have a workaround to "bring your own node executable" and then point to it.

#### Bringing your own node.exe
- In [Kudu](https://david-obrien.net/2016/07/azure-functions-kudu/), which will be at [sitename].scm.azurewebsites.net, go to Debug Console.
- Drop the node.exe you want to use in D:\home (can be in root

[2019-02-20 00:37] mhoeger opened #180 "Link to "uncaught exception recommendations" document on non-nodejs worker uncaught exceptions."
If user code throws an exception outside of the scope of function execution, it results in an uncaught exception.

Example:
[code]

Results in:
`[error] Worker ##### uncaught exception:  ReferenceError: missing is not defined.`

The root cause is usually confusion with async code. Although these errors should be minimized with: https://github.com/Azure/azure-functions-nodejs-worker/commit/e97f7856

[2019-02-20 21:23] alexisbg commented on #158
Thank you for your answer. It is also required to switch Platform to 64-bit in Application Settings for this to work.

[2019-02-22 03:43] ChrisSmith5 commented on #158
@mhoeger Hello, when I follow your instructions App Functions won't start and I get the following error:

Microsoft.Azure.WebJobs.Script.HostInitializationException: Failed to start Language Worker Channel for language :node ---> System.ComponentModel.Win32Exception: Access is denied
   at System.Diagnostics.Process.StartWithCreateProcess(ProcessStartInfo startInfo)
   at System.Diagnostics.Proces

[2019-02-22 03:47] ChrisSmith5 commented on #158
@mhoeger I followed your instructions and loaded from a x64 node.exe. However, I am still getting the following error when loading the Sharp node module:

Microsoft.Azure.WebJobs.Host.FunctionInvocationException: Exception while executing function: Functions.postProcessMedia ---> Microsoft.Azure.WebJobs.Script.Rpc.RpcException: Result: Failure
Exception: Worker was unable to load function postProc

[2019-02-22 06:24] alexisbg commented on #158
`
\D:\home\site\wwwroot\postProcessMedia\node_modules\sharp\build\Release\sharp.node is not a valid Win32 application.
`
Are you sure your function runs on the 64-bit node.exe?
If you print a process.arch in your code, do you see 'x64' and not 'ia32'?

[2019-02-25 21:11] landondavidson opened #233 "Function timeout using got npm package"
returning promises from [got](https://www.npmjs.com/package/got) will fail/timeout with an error:

#### Investigative information

Please provide the following:

- Timestamp: 2019-02-25T20:50:34.317
- Function App version (1.0 or 2.0): 2.0
- Function App name: Smart-Alerts-v2
- Function name(s) (as appropriate): QueueTrigger1
- Invocation ID: 023425d0-c73d-4e95-bc69-5a32fc7bb4fa
- Region: South Ce

[2019-02-28 21:02] AshleyGrant commented on #158
I was not able to get past running `npm install` It doesn't seem to use the 64 bit version of Node when running `npm install` during deployment. This stops me from successfully deploying.

[2019-03-01 10:32] alexisbg commented on #158
Sadly while Git/CI npm install, a deprecated Node.js 6.x is called instead of your 64-bit node.exe.

The only way is to upload a ZIP file containing your compiled prod dependencies to a blob container. This can be achieved with WEBSITE_RUN_FROM_PACKAGE app setting together with "bundledDependencies" and "files" properties in your package.json.

[2019-03-01 19:11] mhoeger commented on #158
@ahmelsayed - I'm guessing that choosing the bitness of node.exe will be much easier to support on the Linux offering. Is that right?

[2019-03-02 19:02] pragnagopa opened #184 "Implement all the message types in StreamingMessage"
Functions host will start sending various messages defined under StreamingMessage: https://github.com/Azure/azure-functions-language-worker-protobuf/blob/dev/src/proto/FunctionRpc.proto#L20

To avoid breaking language worker, please implement all of them otherwise grpc will start throwing errors.
Note: only dummy implementations needed for now to avoid breaking changes

[2019-03-04 23:42] jeffhollan commented on #184
[similar comment](https://github.com/Azure/azure-functions-java-worker/issues/276#issuecomment-469472858)

[2019-03-04 23:45] pragnagopa commented on #184
This is a prerequisite for placeholders and https://github.com/Azure/azure-functions-host/issues/3543
I have opened tracking items for all the workers as this is a breaking change for the language workers

[2019-03-05 15:25] AshleyGrant commented on #158
I have to say this is extremely frustrating. IMHO, FaaS offerings should do their best to abstract away the underlying infrastructure. This issue lays bare the underlying infrastructure that Azure Functions is built on. Frankly, the underlying OS shouldn't matter to a developer building on a FaaS platform.

I find it hard to understand how Azure Functions, a product that was first announced less t

[2019-03-06 02:08] mhoeger commented on #158
@AshleyGrant - I am sorry about the frustrating experience. I think you are primarily asking for all functions to run on a 64 bit host and a 64 bit node.exe by default. We have changed the default on the Linux offering to run on 64 bit node (Linux consumption apps are currently [in preview](https://github.com/Azure/Azure-Functions/wiki/Azure-Functions-on-Linux-Preview)). It's a bit trickier for th

[2019-03-06 02:26] AshleyGrant commented on #158
I'm not necessarily asking for all functions to run on a 64 bit host w/64 bit Node by default. I do think that 64 bit Node should be used when running on a 64 bit host, though.

Thank you for the explanation of the underlying constraints. Hopefully this can be resolved sooner rather than later. Let's please keep this issue open until then, though.

[2019-03-06 15:15] kichinsky opened #187 "Provide IDE-like experience for viewing/editing Node.js functions in the portal"
Updated AF tools allow to create TypeScript-template for Azure Functions in VSCode, that is great.

1. **Displaying files from the `/dist` folder**
The structure of the project suggests that after ts-files are compiled, the output js-files are store in the `/dist` folder.
[code]
The `function.json` file in the function folder also references to that `dist` folder. 👍
The portal in the editing inter

[2019-03-07 18:14] mhoeger opened #185 "Move scripts to "scripts" file"
Cleanup :)
After Katy's PR merges: https://github.com/Azure/azure-functions-nodejs-worker/pull/183

[2019-03-09 20:18] Eikc opened #186 "typescript typings for HttpRequest"
Hello :-)

Yesterday i started working on an azure http function in typescript where I needed access to the rawbody of the request to do some http request verification. It took me a while to figure out the issue but the HttpRequest.rawbody was always undefined.

It turns out that the typing for HttpRequest.rawbody is mistyped and should be HttpRequest.rawBody instead. If i manually fixed the typin

[2019-03-11 21:17] pragnagopa commented on #187
@mhoeger - Please take a look.

[2019-03-11 21:28] mhoeger commented on #187
@kichinsky - thanks for taking a look and for the feedback!! How did you deploy to get to this state? The flow we want developers to follow is to develop and test functions locally and then publish (by default, it publishes as "read-only"). For further changes, the expectation was to make them locally and then publish. Could you tell us how you got to using the TypeScript template but not publishi

[2019-03-11 21:36] kichinsky commented on #187
@mhoeger I'm using ADO Pipelines to deploy from the typescript source code (I had to add compiler step on build to make it working). You are right, by default as soon as I configure CI/CD it is readonly, but...

1. When I attemp to explore the files by default the portal opens the index.js file, but it is not available in the list of files:
![image](https://user-images.githubusercontent.com/979457

[2019-03-12 00:32] mhoeger commented on #187
@kichalla - I still struggle with this scenario because our local debug/tuning is going to run the same code paths as production. I definitely understand the convenience of being able to adjust deployed code, but we've seen a lot of mistakes in the past from being able to directly alter production code and we're trying to move away from this dangerous game.

We'll keep this under consideration, bu

[2019-03-12 00:58] mhoeger opened #188 "camelCase Timer Trigger object"
In V1, the timer trigger object looked something like this:

[code]

In V2, the timer trigger object looks something like this:
[code]

In 3.x, we should be sure to camelCase the properties and hopefully address this todo: https://github.com/Azure/azure-functions-host/blob/v1.x/src/WebJobs.Script/Description/Node/NodeFunctionInvoker.cs#L408

[2019-03-12 08:31] kichinsky commented on #187
@mhoeger I think it is more complicated meanwhile the ultimate goal is still to simplify and streamline developer experience.

The way how I hear what you say is that there some dangereous practices (e.g., editing on deployment) and we are trying to get rid of them (by pushing towards local testing and strong CI/CD pipeline). But having front-end background I feel that there is a mismatch in that

[2019-03-12 20:21] mhoeger commented on #186
@Eikc - thank you so much for catching and reporting! A new version is published (1.0.2-beta1) that has `rawBody`.

[2019-03-12 20:21] #186 closed

[2019-03-13 01:29] mhoeger commented on #168
@yoichiro - I'm so sorry about the delay on this! I've finally gotten the chance to look into this, and I think that (as @mrgrain) suggested, there is some automatic content negotiation going on when there should not be that's producing the undesirable behavior (of making the body UTF-16LE).

The way I'm going to suggest going around it is to make sure that the content body returned is actually en

[2019-03-13 02:25] mhoeger commented on #168
@yoichiro - could you please outline your situation a little better for us too?

We're looking into the issue a little deeper, and it looks like we are following the default behavior of ASP.NET Core. We could add code to allow you and others to override the request's accept-charset, but we'd like to understand your scenario a little better.

In the RFC, it also says the following:

I think this wo

[2019-03-13 13:45] yoichiro commented on #168
@mhoeger Thank you for the confirmation. I try to describe my situation again.

I have already described about how to understand this specification (how to decide whether a string is encoded by UTF-16LE or UTF-16BE) in the description of this issue. I quote that below.

Here is the thing. In RFC2781, we must decide the encoding of **the string labelled with the "UTF-16"** by the following rule:

*

[2019-03-13 16:12] zavr-1 commented on #158
@AshleyGrant @ChrisSmith5 when using git deployment, you can install sharp by setting `npm_config_arch = x64` to allow that old npm to install x64 dependencies, and then use the solution by @mhoeger to run x64 node env.

[2019-03-15 21:31] mhoeger opened #190 "Log console output in tests"
redirecting functions process std output to console for debugging e2e tests

[2019-03-15 21:41] #190 closed

[2019-03-18 16:56] mhoeger opened #192 "Fail build if latest core tools version not found"
When we get the latest core tools version for running end to end tests (https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/setup-e2e-tests.ps1), we ran into an issue where the correct version was actually not being found.

We should fail a build in this case.

[2019-03-20 19:37] mhoeger opened #193 "Add default method types in TypeScript HttpRequest"
[req.method](https://github.com/Azure/azure-functions-nodejs-worker/blob/628042f9d114eb2472714bd4829585806b9f9166/types/public/Interfaces.d.ts#L77) is typed as `string`, but really it can only be a subset of string values: [GET,POST,HEAD,PUT,DELETE,OPTIONS,PATCH,TRACE]

[2019-03-20 19:38] mhoeger commented on #193
cc: @johnpapa

[2019-03-28 06:36] jeffhollan commented on #154
Reviewing a support case where the problem was they were mixing async and callbacks and was causing code to not work as expected.  I think this may help but I'm wondering why it didn't work for them.  I know it's a larger problem, but wondering where this warning shows? In otherwords - if we emit this warning does it show in app insights traces? Kusto? The Portal?

[2019-04-04 19:03] AshleyGrant commented on #158
I've come up with a workaround that allows me to bring a custom Node executable along for the ride when I "build" my application using Azure Devops. I'm mostly using the strategy specified by @mhoeger, but distributing node.exe as part of my application zip file. Details here: https://aurelia.ninja/2019/04/04/a-strategy-for-deploying-a-custom-node-executable-to-azure-functions-on-windows/

[2019-04-04 19:16] AshleyGrant commented on #158
@zavr-1 I've confirmed that your solution works, but I figure if I'm going far enough to include my own node executable in my demo code, I might as well use a CI/CD tool (Azure Devops in my case) to orchestrate the build. My solution also eliminates the need for manually copying `node.exe`. In a pinch, I would use your solution, though!

[2019-04-05 01:02] #193 closed

[2019-04-05 13:26] johnpapa commented on #193
thank you!

[2019-04-06 00:05] yeahsicy opened #198 "Request to enable OPTIONS by default for Javascript HTTP trigger function"
### Request to enable OPTIONS by default for Javascript HTTP trigger function

#### Reason:
All the major javascript HTTP clients like jquery, axios, use pre-flight OPTIONS requests. Configuring functions by default to support CORS better is needed.

#### Current:
HTTP function is with GET and POST by default.
![image](https://user-images.githubusercontent.com/34499027/55661957-47200c80-57c4-11e9-

[2019-04-06 11:51] meds opened #199 "Add support for parameter decorators in typescript"
The following does not work and causes issues when attempting to do reflection:

[code]

It appears to be caused by the parameter decorator 'arg' being ignored.

[2019-04-12 18:29] brandonh-msft commented on #106
FWIW, This is being tracked by CSE as a P1
<details><summary>Internal Tracking</summary>203617</details>

cc @theangellmethod

[2019-04-15 23:49] mhoeger commented on #180
Per discussion with @fabiocav, it's dangerous and bad practice to not exit the node process on uncaught exception ([node docs](https://nodejs.org/docs/latest-v10.x/api/process.html#process_warning_using_uncaughtexception_correctly)). Instead, we should link to documentation that gives examples of common coding patterns / mistakes that would lead to this (async work not being scoped properly).

[2019-04-16 19:25] JamieMagee opened #200 "Node.js v12 support"
According to [nodejs/Release](https://github.com/nodejs/Release#release-schedule), the next LTS version is Node.js, v12, is due to be released in 1 week on the 23rd April. Do you currently have a plan to support this?

Any package managers that currently target Node.js v10 for their `nodejs-lts` packages will shortly point to v12. I think this will provide a bad developer experience for anyone who

[2019-04-17 19:25] mhoeger commented on #200
Thanks for filing :) we don't have plans to support Node.js v12 until it becomes "Active LTS" instead of current. @JamieMagee - does `nodejs-lts` take whatever "LTS version" is most recent, even if that version is Current?

[2019-04-17 19:50] JamieMagee commented on #200
Looking a bit closer at the chocolatey package history, the jump from v8.x to v10.x more closely lines up with the Active LTS date. Whoops! Never hurts to be prepared!

That means that this work can be put off until October 2019.

[2019-04-17 19:56] mhoeger opened #201 "Deploy 64-bit versions of node"
Change UpdateSiteExtension.exe to do this by default

[2019-04-17 19:57] mhoeger commented on #201
Closed with Rapid Update deplpyment

[2019-04-17 19:57] #201 closed

[2019-04-17 20:19] mhoeger commented on #200
Awesome! Thanks for checking that. We'll do this in October!

[2019-04-20 23:18] ankitkumarr opened #202 "Node worker intermittently fails to restart after a crash"
Noticed a few cases where node worker would exit due to an uncaught exception. However, it then fails to restart with this error-
[code]

[2019-04-21 16:02] thomas-mindruptive commented on #180
@mhoeger
I'm not sure if this is the right place to ask, but I'm hosting a nodejs/express app on azure which exits in spite of an "on uncaughtException" handler.
- node 10.15.2. 64 bit (I did the "languageWorkers:node:defaultExecutablePath" "trick" as well as add the path to the 64 bit node version to iisnode.yml)
-  gemlin javascript 3.4.0
- express 4.16.4

Problem:

- nodejs gets killed in spite

[2019-04-26 23:27] #184 closed

[2019-04-26 23:50] mhoeger commented on #180
@thomas-mindruptive - apologies about the delayedresponse! just to clarify - is this an nodejs/express app that is running on azure app service or azure functions?

[2019-04-27 17:43] thomas-mindruptive commented on #180
@mhoeger - No prob, it's a nodejs/express app on azure app service.
Best

[2019-04-30 11:15] vamsi981 commented on #187
@kichinsky  any Luck on the CI/CD with the Typescript, we are also facing the same issue directly we can't able to push typescript based functions :(

[2019-04-30 13:46] kichinsky commented on #187
@vamsi981 My current setup to deploy Azure Functions (AF) on TypeScript through Azure DevOps (ADO) is the following:
1. In AF portal -- setup the source code and CI/CD to use ADO. It will generate some standard pipelines for build and deploy.
2. For the source code - ensure you have the `extensions.csproj` file (run `func extensions install`) in your folder. It will capture the dependencies from y

[2019-04-30 18:22] mhoeger opened #204 "Remove duplication / improve organization on "context" properties"
Originally posted here: https://github.com/Azure/azure-functions-host/issues/4335
In the above issue, it was expected that `context.bindings` should include output binding names as well as input/trigger binding data. Although we could add output binding names to `context.bindings`, this issue is to track improvements around the organization and duplication of input and output binding data.

This i

[2019-04-30 19:42] JamieMagee commented on #204
Thanks for following up with this. This doesn't necessarily need to be a breaking change right now. Updating the [documentation you linked](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#contextbindings-property) to change:

to

Would have saved me some time :smile:

[2019-04-30 20:08] mhoeger opened #205 "Add names of output binding data to `context.bindings`"
Will make it more clear that you can assign properties here.

[2019-04-30 20:11] mhoeger commented on #204
@JamieMagee - omg... haha thanks, fixing now :)

[2019-05-09 01:20] #174 closed

[2019-05-15 17:31] pragnagopa commented on #202
closing this as dup of https://github.com/Azure/azure-functions-host/issues/4424

[2019-05-15 17:31] #202 closed

[2019-05-15 18:21] #144 closed

[2019-05-15 19:58] mhoeger opened #209 "Log details on uncaught exceptions and unawaited async"

[2019-05-15 19:59] #209 closed

[2019-05-15 20:17] mhoeger opened #210 "Migrate to Node Worker repo DevOps"

[2019-05-15 20:18] mhoeger opened #211 "Nightly builds"
After DevOps move

[2019-05-15 20:19] mhoeger opened #212 "Update detector for async patterns"
Detectors can be found in the Azure Portal => Diagnose and Solve Problems.

This detector in particular looks for bad async patterns. We need to upgrade this detector to correlate to a specific function name.

[2019-05-15 20:29] mhoeger commented on #212
blocked for now on release

[2019-05-16 17:42] kevinclarkneudesic opened #214 "Update TypeScript definitions for response"
Please update the TypeScript definitions for context response.  I constantly have to refer to the documentation for the correct properties.  And the interface is already in the documentation:

Property | Description
body | An object that contains the body of the response.
headers | An object that contains the response headers.
isRaw | Indicates that formatting is skipped for the response.
status |

[2019-05-16 22:48] pragnagopa opened #215 "Rename GrpcService.ts to GrpcClient.ts"
Node language worker is a grpc client. Need to rename
https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/src/GrpcService.ts tp GrpcClient.ts

[2019-05-17 18:02] kevinclarkneudesic commented on #214
I could also help, but I have not contributed before - do I just create a pull request?

[2019-05-20 16:15] mhoeger commented on #214
@kevinclarkneudesic - thanks. we need to do this but please read up on the context of why your solution isn't complete: https://github.com/Azure/azure-functions-nodejs-worker/issues/169

Please do feel free to open a PR if you'd like.

[2019-05-20 18:07] kevinclarkneudesic commented on #214
Ah okay, thank you Marie!  I do see now what you mean.  Let me look more into things and potentially open a pull request.

[2019-05-20 20:19] mhoeger commented on #214
@kevinclarkneudesic - much appreciated, i'd love to see/hear your thoughts! we definitely don't want to just delay this indefinitely.

[2019-05-20 21:02] mhoeger opened #219 "Enable Remote Debugging"
The underlying platform is implementing a way to remote debug. Currently, this should work on App Service Linux machines with the addition of language worker arguments to enable debugging (article here: https://medium.com/@auchenberg/introducing-remote-debugging-of-node-js-apps-on-azure-app-service-from-vs-code-in-public-preview-9b8d83a6e1f0)

We need to:
1. Make sure that this works and document

[2019-05-20 23:49] #210 closed

[2019-05-20 23:52] mhoeger commented on #211
Resolved

[2019-05-20 23:52] #211 closed

[2019-05-21 00:45] kevinclarkneudesic commented on #214
I cloned the repo but am getting an import error at: import { AzureFunctionsRpcMessages as rpc } from '../azure-functions-language-worker-protobuf/src/rpc'; in a couple files.  Haven't really tried to debug much, do you know what the issue woudl be?  "Cannot find module '../azure-functions-language-worker-protobuf/src/rpc'"

Why don't you use a union for status, and then you would not need two sep

[2019-05-22 22:48] mhoeger opened #221 "Move Node Version Source to Site Config setting over WEBSITE_NODE_DEFAULT_VERSION"
## Backfilling values:
Option 1:
 - Copy current app setting and fill into website config, regardless of current website config value

Option 2:
 - Copy current app setting and fill into website config, regardless of current website config value
 - Delete app setting value? (NOTE: THIS RESTARTS SITE)

Option 3:
 - Explicitly null all website config values (wait until complete for all sites)
 - Cop

[2019-05-22 22:49] mhoeger commented on #221
cc: @pragnagopa

[2019-05-23 17:05] paulbatum opened #614 "JavaScript function app using table storage output his int64 issue"
Create a javascript V2 function app with a table storage output and the following code:

[code]

You'll get the following error:
Executed 'Functions.TimerTrigger1' (Failed, Id=9a52e4e2-65b8-4384-b627-7f5769942620)
Value was either too large or too small for an Int32.

Not sure whether this is straightforward to address of there is a limitation with table storage here.

[2019-05-29 19:46] mhoeger opened #222 "Allow setting cookies in JavaScript Response object"
Resolves https://github.com/Azure/azure-functions-host/issues/2737 for JavaScript

[2019-06-03 22:37] #212 closed

[2019-06-04 03:26] jeffhollan commented on #212
Hey @mhoeger did we complete this or is it still blocked?  Hoping to call this out in our supportability sync

[2019-06-04 14:42] IgorHalfeld opened #223 "GraphQl Subscriptions/Web Sockets"
It's not a bug, but a question...
I did this [tweet](https://twitter.com/igorhalfeld/status/1135367379146412034) asking if azure function has support to GraphQl Subscriptions but nobody said nothing and I didn't found content about it on the internet.

I wanna know if az functions has support to real time without using SignalR?

[2019-06-04 17:38] mhoeger commented on #212
Done!

[2019-06-18 17:43] #222 closed

[2019-06-21 07:47] CastleArg commented on #68
I'm still getting this error.
I suspect the actual error is related to passing too large object to orchestrator function, similar to #665.
It would be great to know the actual error.

Microsoft.Azure.WebJobs.Host.FunctionInvocationException: Exception while executing function: Functions.<MyFunctionName> ---> Microsoft.Azure.WebJobs.Script.Rpc.RpcException: Result: Failure
Exception: Error
Stack: E

[2019-06-24 18:02] mhoeger opened #228 "HTTP output through context.done(null, res) is not handled correctly"
Setting HTTP output through context.done(null, res) and http output is not handled correctly.

Example:
[code]
Will return ```System.Collections.Generic.List`1[System.Object]``` as the body and not properly set the HTTP cookie.

We can't change this yet because the bugfix is a breaking change. Currently, this behavior is supported (which would break with the bugfix):
[code]
Today, this returns a 2

[2019-06-25 10:51] mikhailshilkov opened #232 "Node: Blob output binding should support passing a Buffer"
#### What problem would the feature you're requesting solve? Please describe.

I'm running a Node.js Azure Function with an output Blob binding. I'm trying to save a binary file from a `Buffer`.

My binding:

[code]

Note that I tried `dataType=binary` but it doesn't seem to make any difference.

and in the function body:

[code]

The blob contents is written as

[code]

#### Describe the solution

[2019-06-26 17:09] IgorHalfeld opened #230 "Invoke functions support"
AWS Lambda provides another way to call them.
[Invoke](https://docs.aws.amazon.com/pt_br/lambda/latest/dg/API_Invoke.html)(as it is known).  Is there a way to do this with Azure Functions or is it not yet supported?

[2019-07-02 21:14] nzthiago commented on #158
@mhoeger should this still be open? I seems the two work items you mentioned needed closing to fix this are done?

[2019-07-02 21:19] mhoeger commented on #158
@nzthiago - It's almost out!!

In its final form, we'll let people target 64-bit node by choosing to run their site as 64-bit AND setting `WEBSITE_NODE_DEFAULT_VERSION` to a value that targets a major version with a tilda (ex: `~8` and `~10`). This will default them into using the latest major version 64-bit node without extra configuration needed. The change is being deployed on our underlying in

[2019-07-02 21:24] nzthiago commented on #158
Great - fully agree with not closing until it's done ;) Thank you for the update

[2019-07-10 19:51] #180 closed

[2019-07-12 22:48] AE-MS opened #240 "Node runtime errors shown in console logs are missing important information"
I recently had an issue where I was trying to develop my Azure Function and consume an npm package which was an ES6 module instead of a CommonJS module (node doesn't yet natively support ES6 modules without experimental flags, is my understanding).  However, I didn't know this was the problem because when trying to run my Azure function using "func", this is the output I got on the console:

    [

[2019-07-23 16:48] pragnagopa commented on #211
@mhoeger - Are the builds enabled to run nightly? If yes, can you please point me to where can i find nightly builds and test results?

[2019-07-23 17:31] mhoeger commented on #211
Yep! https://azfunc.visualstudio.com/Azure%20Functions/_build?definitionId=10

For just looking at nightly builds, you can filter by "Requested for: Microsoft.VisualStudio.Services.TFS"

[2019-08-06 08:17] ekurutepe commented on #168
@mhoeger is there any update on this issue? I'm running into this while trying to serve an ISO-8859-1 encoded XML file:
[code]

But I always get:
[code]

[2019-08-13 17:58] mhoeger commented on #158
Update: rolling out this feature has been delayed. However, there is an easier temporary workaround. You can add the app setting `languageWorkers:node:defaultExecutablePath` with the value `D:\Program Files\nodejs\10.15.2\node` to target a 64-bit version of 10.15.2. This is a version that is already deployed on machines and does not require you to manually deploy node.exe.

![image](https://user-i

[2019-08-21 17:39] krankin commented on #158
@mhoeger -- I've set up a function all with the settings listed above. When I go the console and
`node -p "process.arch" ` I still see `ia32`.
`node -v` gives me `v10.15.2 `.
`which node ` gives ` /d/Program Files (x86)/nodejs/10.15.2/node`

I have my setting as you mentioned above, platform set to 64 bit. Any idea what I might be missing?

[2019-08-21 18:00] YannickRe commented on #158
@krankin try setting `WEBSITE_NODE_DEFAULT_VERSION` to `D:\Program Files\nodejs\10.15.2`
I believe that worked for me.

[2019-08-21 18:03] krankin commented on #158
@YannickRe -- 👍 That worked!

[2019-08-21 18:03] mhoeger commented on #158
@krankin - try doing process.arch from inside a function app, this is a bit hacky so it won't propagate to the kudu/scm/console environment. @YannickRe - never thought about that's an interesting workaround too! Clever!

[2019-08-21 19:04] YannickRe commented on #158
@mhoeger It's the only way I consistently get the 64-bit binaries across the platform (running the code, testing in the Kudu Console, when doing Kudu CI with deployment center, etc).
Got the idea/solution from this thread (which could also use a follow up): https://github.com/projectkudu/kudu/issues/1914

Only difference is with the `languageWorkers:node:defaultExecutablePath` setting: in this iss

[2019-08-23 11:14] mawtex commented on #158
I get 64-bit in the function app and 32-bit in Kudu with the below:
[code]
Setting `WEBSITE_NODE_DEFAULT_VERSION` to `D:\Program Files\nodejs\10.15.2` instead give me 64 bit both places.

So, I do not need 64 bit default in Kudu, but it did confuse me for a long time, since I used Kudu to try to verify the architecture. But for all purposes the workaround from @mhoeger works for the function app.

[2019-08-23 17:50] mhoeger opened #242 "Uncaught Exceptions not obvious in production"
When there's an uncaught exception, we log it and it is fairly obvious in local development. However, in production and Portal development scenarios, these uncaught exceptions are fairly hidden. To the request issuer, it'll just look like the request hangs indefinitely, as in here: https://github.com/Azure/azure-functions-host/issues/4787

[2019-08-30 16:10] emily-curry commented on #158
Hi @mhoeger, thank you for the workaround! This appears to be exactly what I needed. Can we expect `D:\Program Files\nodejs\10.15.2\node` to continue to contain the 64bit version of node 10.15.2 going forward, or might that be changed unexpectedly (causing an outage for my application)?

[2019-09-03 18:14] mhoeger commented on #158
@emily-curry - yes, you can expect that to keep working going forward! It will be good to switch over to  `~10` when that is available, but even then we don't have any plans of removing 10.15.2 any time soon.

[2019-09-04 23:20] #240 closed

[2019-09-13 20:47] Cpcrook commented on #158
@YannickRe one of my devs was struggling with this today.  It appears that
`WEBSITE_NODE_DEFAULT_VERSION` should be `D:\Program Files\nodejs\10.15.2` (absolute path to the node _folder_) and `languageWorkers:node:defaultExecutablePath` should be the absolute path to the actual node _executable_.

[2019-09-17 23:30] ColbyTresness opened #245 "Worker Thread Investigation"
Tracking item for the investigation into worker threads, which have been introduced in Node 12. We're not sure how much this will help relative to some other changes we've been planning on making (multiple worker processes, principally).

Let's build a POC with worker threads and do some preliminary performance testing.

[2019-09-23 09:29] ahmedspiir opened #247 "node.js function not parsing JSON content from EventHubTrigger"
I have Azure function to trigger eventhub events.
After deploying my function i got many errors about parsing JSON content.
#### Investigative information

Please provide the following:

- Timestamp: 2019-09-23 07:29:16.932

- Function App name:
- Function name(s) (as appropriate):
- Invocation ID: 247803a0-1252-4c9a-bba4-b6bd9ef7e425
- Region: NE

#### Repro steps

Provide the steps required to r

[2019-10-01 21:38] kyallanum opened #248 "NodeJS Worker not running ibm_db module"
#### Issue Description
Whenever I am trying to use the ibm_db module in a NodeJS Azure Function, I receive the error:

2019-09-09T16:45:57.114 [Error] Executed 'Functions.testDb2' (Failed, Id=c18020f5-ddd4-46e1-9ff8-044bd8222d84) Result: Failure Exception: Worker was unable to load function testDb2: 'Error: The application has failed to start because its side-by-side configuration is incorrect. Pl

[2019-10-04 18:55] brettsam opened #249 "Validate Functions v3 Preview"
Details will be coming soon. Opening issues right now to track.

Functions v3 preview (on .NET Core 3) is coming soon and we'd like the language worker owners to take it for a spin first and let us know if there are any issues.

Initial plan:
- Build details coming early Mon Oct 7, with a CLI build and a private site extension links.
- Would like some kind of signoff by EOD Wed Oct 9
    - That si

[2019-10-08 23:10] brettsam commented on #249
Some directions and links have been added to https://github.com/Azure/azure-functions-host/issues/5041.

[2019-10-09 22:12] mhoeger commented on #247
@ahmedspiir - sorry for the delay! another workaround is to set

[code]

[2019-10-09 22:30] mhoeger commented on #158
Two updates to close this issue:
1. For Function Apps deployed on Linux, a 64 bit Node.js executable is default.
2. For Function Apps deployed on Windows, you can change a few settings to get a 64 bit executable.
    - First, go to "Configuration" in the Azure Portal
![image](https://user-images.githubusercontent.com/8888531/66524836-6d42a400-eaa8-11e9-91a5-09e7820b9340.png)
    - Then, either cha

[2019-10-09 22:30] #158 closed

[2019-10-09 22:37] mhoeger commented on #248
@kyallanum - sorry for the delayed response. My understanding of this issue is that:
 - If Windows, ibm_db module only works with Node.js 12
 - If Linux, ibm_db module will work for Node.js 8+?

And when you say you have it running locally, is it through the Azure Functions extension (or Azure Functions CLI, `func start`)? Or is it through running your code directly from a node process?

[2019-10-09 23:01] kyallanum commented on #248
Hello @mhoeger its okay!
So I've been told that Linux works with the ibm_db module, I don't know what version of Node.js.

With Windows, any version seems to work locally (by pressing the F5 Key in my VSCode (which has Azure Functions Extension). Running it on an Azure Function gives it the above error with every version I've tried (which is any LTS version), with "side-by-side configuration is in

[2019-10-09 23:14] mhoeger commented on #248
@kyallanum - thanks for the details! Sorry one more bit to clarify, so locally, you have your host.json and function.json's and everything, and that seems to work. But when you deploy it, and it's "running on an Azure Function", so running it on the cloud/Azure, it starts throwing that error?

If that's the case, how are you deploying your function app? And can you share your function app name, ei

[2019-10-09 23:28] mhoeger commented on #248
And my two theories are this:
When you ran `npm install`, something about your local environment may be different than your deployed version (major version of node, for example). One thing that you can do, is not deploy your node_modules and install them on the deployed version.

You can do this through [Kudu](https://david-obrien.net/2016/07/azure-functions-kudu/) or in the Azure Portal through t

[2019-10-10 20:49] mhoeger commented on #247
@ahmedspiir - The node version fixed it? I wouldn't have expected that to effect this. Typically, that error is thrown in an earlier step (where node is not involved), when the input is unable to be parsed into valid JSON.

If you do happen to see this issue again, our recommendation is to take it as a string (by dataType), and then use something like this:
[code]

Also as an aside, we've recently

[2019-10-11 17:45] fabiocav opened #251 "test"
#### Investigative information

Please provide the following:

- Timestamp:
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:
- Region:

#### Repro steps

Provide the steps required to reproduce the problem:

#### Expected behavior

Provide a description of the expected behavior.

#### Actual behavior

Provide a description of the actual behavior observed.

#### Known work

[2019-10-11 17:45] #251 closed

[2019-10-11 18:10] fabiocav commented on #223
There's no built in support for real time/persistent connections with Functions today. You can have something setup when using dedicated (non-consumption) hosting models, but again, there's nothing built in to assist with that.

This is a request we've been tracking.

/cc @mattchenderson

[2019-10-11 18:10] #223 closed

[2019-10-11 21:01] mhoeger commented on #200
Update on the timeline - Active LTS for node 12 starts on 10/21, and we won't have an Active LTS version deployed and ready to use until November

[2019-10-11 21:07] mhoeger commented on #247
Closing in favor of: https://github.com/Azure/azure-functions-templates/issues/905

[2019-10-11 21:07] #247 closed

[2019-10-15 19:14] kyallanum commented on #248
Taking out of idle. I will get back to this as soon as I can.

[2019-10-16 20:07] fabiocav commented on #249
Closing as done.

[2019-10-16 20:07] #249 closed

[2019-10-23 09:09] khaledosman commented on #200
How's the process to update azure functions to the latest LTS node version usually like? Is there a way we can subscribe/be notified of updates when that happens so we know how/when to update?

[2019-10-23 20:52] mhoeger commented on #200
We post announcements on [Azure/app-service-announcements](https://github.com/Azure/app-service-announcements) which you can subscribe to, although this includes many announcements that are not node-related. Examples of node-related announcements [here](https://github.com/Azure/app-service-announcements/issues/150) and [here](https://github.com/Azure/app-service-announcements/issues/208).

cc: @Co

[2019-10-28 16:41] dhensby opened #252 "$return http binding returns body buffers as JSON"
I am trying to serve an image from a function app running on node. At the moment we are doing this successfully using the `context.res` binding, however we are migrating our function apps to use the `$return` output name/binding ([as is the recommendation in the docs for functions with a single output](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#outputs)).

Howe

[2019-10-28 18:08] dhensby commented on #252
@pragnagopa is there an GitHub issue you can share for that?

[2019-10-28 18:11] pragnagopa commented on #252
@dhensby  - this is is the issue tracking the fix

[2019-10-28 18:22] mhoeger commented on #252
This is the root cause - https://github.com/Azure/azure-functions-nodejs-worker/issues/228

Known bug, saving for v3 for the breaking fix :\

[2019-10-30 20:46] fabiocav commented on #245
Changing priority assignment.

[2019-11-02 00:25] christopheranderson opened #256 "Warning I need to use LTS when I am using LTS 12"
I get the following warning (locally) when trying to use node 12:

[code]

Node 12.13.0 is the latest LTS release, so I wouldn't expect to be told to use an LTS release.

#### Investigative information

Please provide the following:

N/A - repros locally with node 12.13.0 installed

Func host version:

[code]

#### Repro steps

Provide the steps required to reproduce the problem:

install node 12.

[2019-11-07 15:00] Crisfole opened #253 "Empty Query Parameters not coming through"
Empty Query parameters are not correctly parsed into the req.query object.

#### Investigative information

- Timestamp: 1573138139970
- Function App name: N/A Repro Below
- Function name(s) (as appropriate): N/A Repro Below
- Invocation ID: N/A Repro Below
- Region: US Central

#### Repro steps

Provide the steps required to reproduce the problem:

Run the following extremely useful query to JSON

[2019-11-08 22:29] alextran1502 opened #254 "Cannot bind SignalR to output in EventHubTrigger function"
Hello,

I am trying to use EventHub to send a message to SignalR. I have succesfully getting the message from EventHub but I cannot bind to an SignalR output. As I don't see it in context binding to send the message to the pipe.

I am running Node Azure Function.

Here is my `function.json`

[code]

And here is my `local.settings.json`

[code]
**I notice the version of the `AzureSignalRConnectionS

[2019-11-09 01:41] mhoeger commented on #200
I would highly recommend using [nvm ](http://nvm.sh/) for local development while Node.js v12 is still blocked. Thanks!

[2019-11-11 15:07] alextran1502 commented on #254
I got it working, you don't need to see the `bindings` property in `context` in order to bind. As long as you specify the output binding in your `function.json`, you should be able to trigger it

[2019-11-11 15:07] #254 closed

[2019-11-13 17:51] pragnagopa commented on #221
cc @sanchitmehta fyi

[2019-11-13 20:46] brettsam commented on #256
@mhoeger

[2019-11-14 00:17] mhoeger commented on #253
Hi @Crisfole, the reason why we don't pass this information is because of a serializing issue that we discovered with using [proto3](https://developers.google.com/protocol-buffers/docs/proto3).

Here's the original issue: https://github.com/Azure/azure-functions-nodejs-worker/issues/142

And this is the fix needed: https://github.com/Azure/azure-functions-language-worker-protobuf/issues/21

While

[2019-11-18 13:57] ustun commented on #200
It seems like node 12.9 is now supported as the option exists in the portal. I have not given a try yet though.

<img width="794" alt="Screen Shot 2019-11-18 at 4 55 19 PM" src="https://user-images.githubusercontent.com/94374/69058189-402cce00-0a24-11ea-8660-c585db1c1f14.png">

However, I have not been able to find any updates regarding this anywhere.

Is it still in beta, or is there a particular

[2019-11-18 17:08] ColbyTresness commented on #200
We haven't made the announcement for this yet, but will at some point. This issue will be updated once we have "official" support.

[2019-11-18 18:24] mhoeger commented on #200
Update:
The next V2 functions host release will allow for apps to run on Node.js v12. There will be a warning saying that it's [not fully supported by Azure Functions V2](https://github.com/Azure/azure-functions-nodejs-worker/blob/1debc81d2d5917206b7e590f849ab9a78200f17f/src/nodejsWorker.ts#L28). The biggest reason for this is because we will not be adding performance optimizations for Node.js v12

[2019-11-20 01:27] mhoeger opened #260 "Functions Host V3 and Nodej.s Worker V2"
v2.x branch currently (see changes [here](https://github.com/Azure/azure-functions-nodejs-worker/compare/v2.x?expand=1)):
- introduces "v1WorkerBehavior" flag which reverts everything "[breaking]"
    - _In the future: we want to have the functions host send over specific breaks to opt out of_
- [breaking] throws on Node.js v8, keeps 8 binaries for V2 host compat
- changes worker version to 2.0.0

[2019-11-23 03:20] ColbyTresness commented on #260
Also note we need a change on the platform to auto upgrade customers node versions if they move to V3 and are on an older Node version (8, for instance). They should be notified of this change.

[2019-11-25 19:58] mhoeger commented on #232
Fixing this with Functions V3. Thanks!

[2019-11-25 20:02] mhoeger opened #262 "Event hub, Binary datatype and Cardinality many"
An array of binary inputs will not be correctly serialized as such.

https://github.com/Azure/azure-functions-java-worker/issues/297

[2019-12-02 06:53] mhoeger opened #265 "Update docs on V3"
Update documentation on V3 functions host + javascript:

- introduce way to revert "[breaking]"
- [breaking] throws on Node.js v8, keeps 8 binaries for V2 host compatability
- fully support node.js 12
- [breaking] does not duplicate http payload in `context.bindingData`
- [breaking] fixes #228 (handles http output correctly on context.(null, { body: "hello" });
- [breaking] fix camelCase of timer

[2019-12-02 19:03] johnpapa commented on #200
Hi - do we have an update on when we feel Node 12 will be supported?

[2019-12-02 19:07] StefanSchoof commented on #200
@johnpapa It was announced two hours ago: https://github.com/Azure/app-service-announcements/issues/216

[2019-12-02 19:09] johnpapa commented on #200
Cool!

I didnt know that repo existed. What's the plan for telling the world?

I'll test this in the azure functions extension to see if it works ... should "just work" or if not, we should look at that.

[2019-12-02 19:56] mhoeger commented on #200
@johnpapa - For Functions V2, Node.js 12 is currently unblocked but not officially supported (meaning no perf optimizations and not available for Linux... you'll see a short warning when you run with 12). You can try this out today by changing WEBSITE_NODE_DEFAULT_VERSION to ~12.

Functions V3 is where we will more broadly tell the world about Node.js 12 support :) A preview version with Node.js 1

[2019-12-02 20:08] mhoeger opened #267 "Improve default of toTypedData method (converting protobuf messages => JavaScript)"
Issue raised in this PR: https://github.com/Azure/azure-functions-nodejs-worker/pull/263

We should change the default to something more helpful than doing nothing

[2019-12-03 20:23] mhoeger opened #268 "[Worker V2] Fail gracefully on invalid http output"
Fail gracefully on invalid output for http response. Especially because breaking change, need very explicit error message.
https://github.com/Azure/azure-functions-nodejs-worker/pull/264

Currently, this:
[code]

Should check if output is object or not and give appropriate recommendation.

[2019-12-04 04:21] #228 closed

[2019-12-04 04:21] #188 closed

[2019-12-04 04:21] #232 closed

[2019-12-04 04:22] #262 closed

[2019-12-04 10:11] dhensby commented on #228
What version of functions is this fix available in?

[2019-12-04 17:54] mhoeger commented on #228
Functions V3 (https://github.com/Azure/azure-functions-host/releases/tag/3.0.12915). This is still a preview version of Functions, but we're targeting to get it out of preview by end of year!

[2019-12-04 20:05] mhoeger opened #272 "[Worker V2] Output bindings should be able to be assigned in a combination of ways"
Per docs, anything in context.done/return *overrides* anything set by context.bindings. However, context.done/return should not invalidate anything set in context.bindings that has not been set in context.done/return
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#contextdone-method

Ex:
[code]
should be a valid way to set both output bindings

[2019-12-04 23:41] #268 closed

[2019-12-05 04:53] #272 closed

[2019-12-09 18:10] mhoeger commented on #265
Jeff has this covered

[2019-12-09 18:10] #265 closed

[2019-12-09 18:11] mhoeger commented on #260
Closed with https://github.com/Azure/azure-functions-host/pull/5335

[2019-12-09 18:11] #260 closed

[2019-12-10 02:00] mhoeger commented on #200
Node.js 12 is now supported with our Azure Functions 3.0 go-live announcement: https://azure.microsoft.com/en-us/updates/announcing-go-live-release-for-azure-functions-v3/

Note: difference between go-live and "GA" (general availability) are also talked about in the link above. Specifically, see link to progress of known tooling gaps

[2019-12-10 02:00] #200 closed

[2019-12-10 14:13] dhensby commented on #228
thanks

[2019-12-10 18:10] harshithkashyap opened #274 "Headers cased incorrectly"
#### Investigative information

Please provide the following:

- Core Tools: Azure Functions Core Tools (2.7.1948 Commit hash: 29a0626ded3ae99c4111f66763f27bb9fb564103)
- Function Runtime Version: 2.0.12888.0
- Timestamp: NA
- Function App name: NA
- Function name(s) (as appropriate): NA
- Invocation ID: NA
- Region: NA

#### Repro steps

Provide the steps required to reproduce the problem:
1. Cre

[2019-12-18 21:33] mhoeger commented on #274
Hi @harshithkashyap, the reason why we don't pass this information is because of a serializing issue that we discovered with using [proto3](https://developers.google.com/protocol-buffers/docs/proto3).

Here's the original issue: https://github.com/Azure/azure-functions-nodejs-worker/issues/142

And this is the fix needed: https://github.com/Azure/azure-functions-language-worker-protobuf/issues/21

[2019-12-26 09:44] harshithkashyap commented on #274
@mhoeger I can now see the header under `context.bindingData.headers` object but it looks like the first character in the header is lowercased and the original casing is maintained for others. Eg, `X-CUSTOM-HEADER` becomes `x-CUSTOM-HEADER`. The headers should not be case sensitive and ideally be lower cased even in bindingData object.

[2020-01-07 02:00] cgillum opened #276 "Durable JS not working in Functions 3.0"
**Describe the bug**
When I run the sample orchestrations on Functions 3.0, they always complete immediately with a `null` output.

**Investigative information**

- Durable Functions extension version: 2.1.0
- durable-functions npm module version: 1.3.1
- Language (JavaScript/TypeScript) and version: JavaScript
- Node.js version: v10.14.1
- Functions runtime version: 3.0.2009

**To Reproduce**
Ste

[2020-01-08 14:22] cgillum commented on #276
I’ve transferred this over because I believe this is as issue with the node worker. I debugged our extension’s custom trigger code and what I saw is that we no longer get function return values back unless we add the compatibility flag. We didn’t observe any such issue with .NET precompiled functions. I think trigger return values are a trigger feature only used by Durable Functions so it wouldn’t

[2020-01-09 06:51] fabiocav commented on #276
@mhoeger moving this to the current sprint because of the impact and upcoming changes to default to V3.

Hoping this is something we can look at to see if we can include a fix with the next deployment, we can figure out the assignment once we better understand the problem.

[2020-01-15 06:19] cgillum commented on #276
The following PR addresses this issue: https://github.com/Azure/azure-functions-nodejs-worker/issues/276

[2020-01-16 22:55] christopheranderson opened #280 "Make Response type public"
[feature request]

I need the Response type to be public to make my TypeScript happy. Bot Framework takes a `WebRequest` and `WebResponse` object which is compatible with express-like equivalents. Azure Functions offers these, but the types aren't public, so I end up with some ugly shims to assert that things are working nicely.

https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/src/

[2020-01-17 18:19] pragnagopa opened #281 "Node worker crashing on unhandled exception on function invocation"
Following code crashes node worker
[code]

Expected:
Function invocation exception with stack trace from request module

[2020-01-22 21:09] fabiocav commented on #276
@mhoeger closing this as completed. Feel free to reopen if additional work is needed.

[2020-01-22 21:09] #276 closed

[2020-01-30 01:16] dcollien opened #282 "Publish types regularly to NPM"
The last publish of @azure/functions to NPM was reportedly 9 months ago:
https://www.npmjs.com/package/@azure/functions

NPM: v1.0.3
Current: v1.2.0

As such, newer updates (e.g. Cookies typedef) are not available

It'd be great if there was a more frequent publish schedule for this NPM package to keep it up to date with what's in the repo.

#### Repro steps

e.g.
```import { Cookie } from "@azure

[2020-01-30 01:39] dcollien commented on #282
N.B. I'm unable to work out how to reference the subdir in package.json, this is as far as I got with NPM: https://github.com/npm/npm/issues/2974
and with yarn: https://github.com/yarnpkg/yarn/issues/4725 to no avail.

A method like: https://github.com/ramasilveyra/gitpkg looks like a potential solution, if there's any reason to hold off from NPM releases, but still making the latest available in

[2020-01-30 17:01] awoSYS opened #283 "WEBSITE_NODE_DEFAULT_VERSION not working in Linux"
My `WEBSITE_NODE_DEFAULT_VERSION` is `~10`, but if I check the actual Node version (`context.log(process.version);`) it prints `v8.17.0`. Is there another setting that affects the Node.js version?

I was pointed at that, when my app crashed with error message
[code]
Which seems to be Node.js version related (`for await` supported after v10.0.0).

#### Investigative information

Please provide the

[2020-02-14 01:39] mhoeger commented on #283
Known issue for Linux :( Very sorry :( We're waiting on a better UX to light up soon that brings version selection to one spot.

The easiest way to get 10.x is to run on functions v3 (FUNCTIONS_EXTENSION_VERSION=~3). Can you try that?

[2020-02-14 01:40] mhoeger commented on #283
And most of the changes from V2 => V3 are bug fixes: https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions#javascript

[2020-02-14 22:47] mhoeger commented on #282
@dcollien - Oof so sorry! Just published a newer version and keeping this issue to track adding this to our release flow.

[2020-02-17 07:48] AnthonyPhan commented on #168
We are also experiencing this issue here. Is there any update?

[2020-02-17 08:45] awoSYS commented on #283
@mhoeger thanks for your feedback!
Meanwhile I switched to Windows, Functions v2 which works. (Local testing with `"version": "3.0"` in host.json failed for me).
Btw, whats the difference between running Functions on Windows or Linux in Azure? I only guessed that Linux would be more appropriate for me since I'm developing on an Ubuntu machine.

[2020-02-20 11:54] kepikoi opened #284 "$return a "cookies" object has no effect in V2 - emit warning"
Using `node` runtime it is now possible to send multiple cookies  like documented here https://github.com/Azure/azure-functions-host/issues/2737

E.g.:

[code]

But it doesn't work using the `$return` binding:

[code]

[2020-02-20 20:34] ahmelsayed commented on #284
/cc @mhoeger for FYI

I can repro that using the function from the issue with this function.json

[code]

[2020-02-20 20:36] ahmelsayed commented on #284
Actually I see a [test here](https://github.com/Azure/azure-functions-nodejs-worker/blob/dev/test/end-to-end/testFunctionApp/HttpTriggerSetsCookie/index.js) for that scenario, so I'm not sure if it's a core-tools specific issue?

[2020-02-20 21:51] mhoeger commented on #284
@kepikoi - what version of functions are you using?

[2020-02-21 08:15] kepikoi commented on #284
@ahmelsayed I just tested the `$return` case on my azure functions instance and it doesn't seem to work there either. So is it then https://github.com/Azure/azure-functions-host specific?

@mhoeger
[code]

[2020-02-21 17:40] mhoeger commented on #284
@kepikoi - it looks like this is the root cause: https://github.com/Azure/azure-functions-nodejs-worker/issues/228 (sorry took me a bit to remember!)

In V2, we have this issue where HTTP output through $return does not go through the same code path to create an http request. We couldn't change it in V2 because it is a breaking change (there are some weird but nice things you can do in V2 like ret

[2020-02-21 20:12] aaomidi opened #285 "Do a 302 redirect"
Hi,

I looked through the documentation and it seems like there's no way to do a 302 redirect?

Thanks!

[2020-02-21 20:15] aaomidi commented on #285
Nevermind,
![image](https://user-images.githubusercontent.com/1465785/75068305-cb928100-54a3-11ea-87de-5b1cda4a925e.png)

[2020-02-21 20:15] #285 closed

[2020-02-24 00:56] dcollien commented on #282
Thanks very much Marie!

[2020-03-02 22:27] mhoeger commented on #283
@awoSYS - Version here is overloaded, it means host.json schema version 2 (http://json.schemastore.org/host), which applies to functions runtime V2 & V3

A lot of the differences between Linux and Windows are a point in time thing (ex: not having a good way of changing Node.js versions). The Linux offering is much newer, and so there are some experiences that still need to be ironed-out. So at thi

[2020-03-05 02:34] mhoeger commented on #274
Adding to this issue - in bindingData, it's "x-CUSTOM-HEADER". In req.headers, it's 'x-custom-header', and what we expect is "X-CUSTOM-HEADER"

[2020-03-07 18:26] ShawnTalbert commented on #169
Is there a reason we're not considering interface inheritance for this?

As an aside, perhaps this is a bit of a design smell around the abstraction function bindings are attempting to provide.

[2020-03-09 03:17] vicancy commented on #274
Any ETA to fix this?

[2020-03-09 15:55] pragnagopa opened #287 "Increase gRpc channel message size to int.MaxValue"
Related issue https://github.com/Azure/azure-functions-host/issues/5650

Need to set these values to int.MaxValue and ignore host settings.

[2020-03-09 17:22] mhoeger commented on #274
@vicancy - Don't have a good ETA on this item. Either we patch headers to have both combinations of casing (which is a bit strange but not a breaking change) or we fix the first letter to not become lower cased (which is a breaking change for people who are relying on that).

One thing that may be helpful is that the request object by default has a "[get](https://github.com/Azure/azure-functions-n

[2020-03-10 09:16] vicancy commented on #274
TBH, fixing the `req.headers` parser sounds the most important one to me. It is indeed unexpected behavior and is a bug.

[2020-03-10 17:20] mhoeger commented on #274
@vicancy - sorry what do you mean? HTTP headers are expected to be [case insensitive](https://tools.ietf.org/html/rfc7230#section-3.2). The reason why it's case sensitive is because we expose headers as a properties of a JavaScript object (in addition to exposing it through the `req.get` method, which is case insensitive).

If we pushed out a fix today to preserve a header's casing to the best of

[2020-03-11 18:41] pragnagopa commented on #287
@mhoeger - can you please get this into this sprint?

[2020-03-12 06:24] vicancy commented on #274
I mean the original issue: "Empty Headers are parsed incorrectly" in `req.headers`

[2020-03-17 00:47] mhoeger commented on #287
Re-posting comment from host issue 5650:

After talking to @pragnagopa , if the grpc server on the functions-host side has a smaller max send/receive, this will be the bottleneck. This change is to make sure that clients are not sent a max message size that will be too large for them to safely handle. For JavaScript, a [number](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Glob

[2020-03-17 00:47] #287 closed

[2020-03-18 18:34] pragnagopa opened #289 "Update grpc references"

[2020-03-20 00:22] #289 closed

[2020-03-30 02:38] bradoyler opened #293 "ServiceBus output binding, duplicate detection not working"
When using an output binding like:
[code]

I have tried setting the messageId (as below) and the dup detection on the sb queue never seems to work.
[code]
Only way I could get dup detection working is to use the `@azure/service-bus` client.

Is 'duplicate detection' a supported feature of the `serviceBus` output binding? I can't seem to find the messageId referenced in any example or this repo.

I

[2020-03-31 16:51] christian-vorhemus opened #294 "Azure Functions (node) doesn't process binary data properly"
My goal is to write a function which processes the binary HTTP body (for example, an image). I've created the function using the func CLI (version 2.7.2254) doing the following:

[code]

My function.json looks like this:
[code]

My expectation would be that now req.body is a Buffer but when I check the type
`typeof req.body;`

it seems to be a string. Therefore, my attempt to save this file to dis

[2020-03-31 17:15] virdeus commented on #276
I cannot verify if this works in other scenarios, but it does not work with version 3.0 in MS Learning. I am on Azure Developer Associate learning path and everything technologically has been fine until I started on the Durable module. Got a 500 error due to JSON issues. Essentially what has already been described. I did not save the stack however. I chose to switch to version 2.0 prior to googlin

[2020-04-01 19:57] #282 closed

[2020-04-01 20:25] mhoeger commented on #163
done https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#local-debugging

[2020-04-01 20:25] #163 closed

[2020-04-01 20:35] mhoeger commented on #98
Closing as not seen and no details

[2020-04-01 20:35] #98 closed

[2020-04-02 20:21] mhoeger commented on #294
"isRaw" is about the response but not the request. I also need to double check if that guidance is now deprecated, because "isRaw" was a V1 feature.

The "dataType" property is applied by some bindings, but isn't for the HttpBinding, which is misleading :\ agreed that we should document which ones we special-case to send as binary.

[2020-04-10 08:00] bennypowers commented on #104
You might try using `esm`, which allows seamless interop between cjs and esm in older node versions:

[code]
[code]
[code]

[2020-04-14 06:33] rukasakurai opened #295 "TypeError: context.log.warn is not a function"
#### Repro steps
1. For ah httpTrigger Azure Function written in TypeScript
2. Add `context.log.warn("xxx");` to the code
3. Run a unit test on the function using [jest](https://jestjs.io/)

#### Expected behavior
The expected behavior is that the unit test passes.

#### Actual behavior
`TypeError: context.log.warn is not a function`

[2020-04-14 11:37] gunzip commented on #124
sorry to bump this issue but there are a lot of examples in the docs that have an async handler + a call to context.done(), ie: https://docs.microsoft.com/it-it/azure/azure-functions/functions-bindings-warmup?tabs=javascript#trigger---example (just to quote one)

is this an accepted pattern in v2 ?

[2020-04-15 09:04] gunzip opened #296 "High latency sending blob to storage account using output bindings"
#### Investigative information

- Timestamp: 2020-04-15T08:11:44.3217089Z
- Function App name: io-p-func-app
- Function name: StoreSpidLogs
- Invocation ID: b5b0092e-42df-4825-9023-4aa89e40c1e8
- Region: west europe

#### Repro steps

We're experiencing significative latency writing on blob storage [using function output bindings](https://github.com/pagopa/io-functions-app/blob/master/StoreSpidLog

[2020-04-15 20:30] fabiocav commented on #169
@mhoeger do you have an update on this item?

[2020-04-16 03:27] rukasakurai commented on #295
Here's some sample code that reproduces the error when running `npm test` to execute the jest unit tests on the code:
https://github.com/rukasakurai/azure-functions-httptrigger-typescript-sample

[2020-04-21 00:57] mhoeger commented on #124
@gunzip - thanks for pointing that out! this definitely isn't a recommended pattern. We recommend either use async only or callbacks only (using context.done()). I'll try to change those

[2020-04-21 04:24] hannesne opened #297 "No w3c correlation headers in app insights on outgoing requests"
When using the app insights Nodejs sdk in a node app, it adds the following headers:

`
        "request-context": "appId=cid-v1:957b1ee6-64f0-4ac7-9562-44044ba525c6",
        "request-id": "|87114b1459694205a84de2d5b078cbdd.dd94903cc8a44eaa.",
        "traceparent": "00-87114b1459694205a84de2d5b078cbdd-dd94903cc8a44eaa-01",
        "x-ms-request-id": "87114b1459694205a84de2d5b078cbdd",
        "x

[2020-04-21 13:41] zidzin commented on #104
Is it okay to write
`require = require('esm')(module/* , options*/);
module.exports = require('./main.js');`
as
`module.exports = require('esm')('./main.js);`

[2020-04-27 20:31] yojagad opened #298 "Send WorkerStatusResponse when receiving WorkerStatusRequest. Send Capability "WorkerStatus" on Init"
When host sends a "WorkerStatusRequest" , the worker needs to return "WorkerStatusResponse". The latency from request to response is used for scale decisions for out-of-proc languages.

Reference Java commit: https://github.com/Azure/azure-functions-java-worker/commit/fbf0e4b62a1ddcb778cf7604c425082bdb743cb5

cc: @pragnagopa @mathewc

[2020-04-27 23:34] mhoeger commented on #295
Hi @rukasakurai, it looks like your original issue is resolved but I can keep this issue open to track better support for unit tests? Please note though that we likely won't publish those as there are many different testing frameworks and will rely on other folks to contribute (example: https://www.npmjs.com/package/azure-function-context-mock)

[2020-04-27 23:40] mhoeger commented on #296
Hi @gunzip, the biggest sources of latency we've seen are being addressed in this PR: https://github.com/Azure/azure-functions-host/pull/5897

Can I also ask how big a typical blob is too?

[2020-04-28 08:10] gunzip commented on #296
Hi @mhoeger, the average blob size it's around 10k. Btw, it looks like we are not experiencing this latency issue anymore since we went into production (low traffic = latency, high traffic = no latency)

[2020-04-29 19:02] mhoeger commented on #296
@gunzip - that's interesting! have you done investigations to see if that's related to cold start (which would be roughly expected)? or if there's another source we should investigate?

Hoping too when we release updates from Azure/azure-functions-host#5897 , you should see more improvement

[2020-04-29 20:21] fabiocav commented on #104
Flagging this as blocked for now. @mhoeger will provide an update and assign it to the correct milestone once we have more information.

[2020-05-01 12:56] gunzip commented on #296
We are on elastic premium plan (without coldstarts). I suspect this has something to do with some kind of buffering (ie. TCP) as the latency is alwaya around 2sec. in low traffic, see also https://github.com/Azure/azure-functions-host/issues/2845

[2020-05-07 01:00] #248 closed

[2020-06-05 17:41] mhoeger opened #312 "Upgrade to use grpc-js"
https://grpc.io/blog/grpc-js-1.0/

Should I use @grpc/grpc-js or grpc?

[2020-07-05 02:42] wkwkhautbois opened #315 "Error if exported object has single non-function property, though prototype object has function 'run()'"
#### Investigative information

- Invocation ID: e1bd289e-b080-4fbd-8d41-a91468f299ea
- Region: Japan East

#### Repro steps

Following code **without** setting "entryPoint" in function.json

[code]

#### Expected behavior

Prototype function  "run" is used as entry point.

#### Actual behavior

An error is occured:
`Error: The resolved entry point is not a function and cannot be invoked by the fu

[2020-07-07 19:41] mhoeger opened #317 "Remove "sys" from trigger data from host => language worker"
Currently, we pass data like "sys" (and for HTTP, "query" and "headers". However values in "sys" in particular are not RPC-friendly and we should avoid passing those values if we can.

Node.js worker is the only worker that we manage that exposes these values to end-users.

[2020-07-07 20:17] pragnagopa commented on #317
Transferred issue here. If possible please assign it to next sprint. Thanks!

[2020-07-15 02:35] #315 closed, assigned to nobody

[2020-07-15 02:37] #298 closed

[2020-07-16 02:06] SKHolmes opened #320 "Table Storage Binding doesn't allow for access or filtering of Table Storage 'Timestamp' property"
#### Investigative information

Upon retrieving the whole table via my bindings in a function that is triggered on a timer, (see below).
[code]
I would expect that the property _Timestamp_ which is a property maintained by the Storage Table server is included in the _eventTable_ binding in the code and be accessible as a property of the array elements of the eventTable, i.e
[code]
Instead it is un

[2020-07-22 17:26] mathewc commented on #317
Yes, for this change, we should add query/headers from the request body sent. Then we'll be able to reapply my http extension changes to omit these from the payload. As you mention, we'll also remove the "sys" node.

[2020-07-22 18:41] pragnagopa opened #321 "Upgrade to Functions V3"
Please see announcement here: https://github.com/Azure/app-service-announcements/issues/266

[2020-08-04 19:19] mhoeger opened #324 "Re-populate "query" and "header" properties on bindingData"
We need to get "query" and "headers" properties from bindingData instead of from the trigger metadata

[2020-08-04 19:21] mhoeger commented on #317
hey @mathewc - sorry I missed your note there! :(
Here's the issue tracking the change to our protobuf contract: https://github.com/Azure/azure-functions-language-worker-protobuf/issues/49
and this is tracking the node worker changes:
https://github.com/Azure/azure-functions-nodejs-worker/issues/324

These both will let us remove "query" and "headers" from trigger metadata that gets passed over

[2020-08-04 19:33] #317 closed, assigned to mhoeger

[2020-08-07 07:55] dcollien opened #325 "Typescript: Cookie sameSite type does not accept "None""
The Cookie type for the sameSite attribute allows only "Strict" | "Lax" | undefined

There is a functional difference between undefined (missing) and setting it to "None".

New Chrome versions will set all cookies to SameSite=Lax by default. i.e. Chrome has decided to make all cookies with the SameSite parameter missing to be the same as "Lax", and will require developers to mark cookies requiring

[2020-08-07 08:18] dcollien commented on #325
It appears this is updated in the repo:
https://github.com/Azure/azure-functions-nodejs-worker/blob/master/types/public/Interfaces.d.ts#L140

and in v1.2.2 on NPM
I just needed to update NPM packages

Closing.

[2020-08-07 08:18] #325 closed, assigned to nobody

[2020-08-13 10:33] rwebb-sgefdf commented on #283
This could be related to an issue I'm seeing:
Using function runtime 3.0.14120.0, and WEBSITE_NODE_DEFAULT_VERSION ~12 on Linux reports Node version 10.21 when following the same steps as above (logging process.version in an HTTP trigger)- is this related to the issue above as well?

I came across this after being surprised Object.fromEntries wouldn't work. My "fix" is to use lodash _.fromPairs.

[2020-08-13 17:43] mhoeger commented on #283
@divyagandhii - I'm assuming that we have the node 12 image for functions deployed? do we have any docs on how to change linuxfxversion?

[2020-08-13 17:51] divyagandhisethi commented on #283
@rwebb-sgefdf @mhoeger is right..WEBSITE_NODE_DEFAULT_VERSION is not honored on Linux function apps. You need to set the 'linuxfxversion' property of your app to node|12 to make it a node 12 app. You can do this by either using the azure resource explorer - https://microsoft.github.io/AzureTipsAndTricks/blog/tip25.html or use any of the arm templates - https://docs.microsoft.com/en-us/azure/azure-

[2020-08-13 17:57] mhoeger commented on #283
cc: @anthonychu as FYI

[2020-08-14 10:15] rwebb-sgefdf commented on #283
Thanks everyone - this has worked great for us.

In case anyone else stumbles across this, we were using terraform, and managed to update this setting like so:

[code]

[2020-08-27 15:23] Luperi commented on #200
How can NVM be used within VSCode? I'm following this guide, and if I run:

`nvm use 12.18.3`

I still get this error:

Any help is appreciated 😄

[2020-08-27 17:33] mhoeger commented on #200
Can you give me some more details on that? It sounds like it might be related to VS Code itself? As a note, I'm able to do this in VS Code:
<img width="967" alt="Screen Shot 2020-08-27 at 10 31 43 AM" src="https://user-images.githubusercontent.com/8888531/91475517-900cb100-e850-11ea-8ba5-b693fac6c0bc.png">

[2020-08-27 18:08] anthonychu commented on #200
Also note that VS Code starts a new terminal when you start debugging, so it might not use the session in which you switched versions with `nvm use`.

[2020-08-27 18:50] Luperi commented on #200
Yes, I think the problem is that if in VS Code you click _Run_ -> _Start Debugging_ it starts a new terminal. If, instead, you run it from the same terminal where you use `nvm use`, it works properly. Thanks for the help @mhoeger and @anthonychu

[2020-09-02 20:39] mhoeger opened #327 "Unblock Node.js 14 with warning (development only)"
DEVELOPMENT ONLY

[2020-09-09 10:20] mathiasmaerker commented on #283
@divyagandhii I tried to follow the resource explorer route, but the property is not updated at all, I use
`az resource update --id /subscriptions/xxx/resourceGroups/puppeteer-test/providers/Microsoft.Web/sites/puppeteer-app2?api-version=2015-08-01 --set properties.siteConfig.linuxFxVersion='"node|12"'` in power shell but the value is not set at all. is there any way in e.g. the portal on how to c

[2020-09-14 18:18] divyagandhisethi commented on #283
@mathiasmaerker I see that linuxfxversion is set to node|12 for your app. You should be on node12 now.

[2020-09-14 20:56] anthonychu commented on #283
@mhoeger @divyagandhii Can we do something to block when setting `WEBSITE_NODE_DEFAULT_VERSION` on Linux? I guess we could have the Node worker warn about this as well. Would love to come up with something here to let customers how to do this correctly.

[2020-09-15 06:54] mathiasmaerker commented on #283
Hi @divyagandhii I just checked with `az resource show..`but the ouput is still
![image](https://user-images.githubusercontent.com/4051929/93176054-f8083600-f730-11ea-949c-62b58a95c1fe.png)

[2020-09-15 18:40] divyagandhisethi commented on #283
Hi @mathiasmaerker I can repro this issue in az cli as well. Filed a bug here- https://github.com/Azure/azure-cli/issues/15171
 As for your app, I validated it is set to node12 in the backend. Your app will land on node12 containers.

[2020-09-16 01:27] mhoeger opened #331 "Move dev => v1.x and v2.x => dev"
Active development on worker v2.x

[2020-09-16 09:44] mathiasmaerker commented on #283
Hi @divyagandhii first thanks for your support! But unfortunately when I try to start the function app localy I get the following error
![image](https://user-images.githubusercontent.com/4051929/93320670-a5eb1180-f811-11ea-8e4d-1674a3833dd1.png)
I redownloaded local settings etc. to make sure it is up to date but the runtime seems still to be node 10

[2020-09-16 16:31] divyagandhisethi commented on #283
@mhoeger - do we not support running node12 locally? I believe it is LTS?

[2020-09-16 18:24] mhoeger opened #333 "Enable new Node.js placeholder templates"
Tracking item for Antares work

Related:
https://github.com/Azure/azure-functions-host/issues/6583

[2020-09-16 18:28] mhoeger opened #334 "CA work"
Tracking item for platform work

[2020-09-16 19:01] mhoeger commented on #283
@mathiasmaerker - what version of core tools are you using? It looks like an older version of V2, which blocked using node 12 before it was LTS. See supported node versions per function version here:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node#node-version

[2020-09-17 07:18] mathiasmaerker commented on #283
@mhoeger you where right, core tools had to be updated, sorry for not checking 😞 Thanks everybody for the great support!

[2020-09-21 20:11] warrenbuckley opened #335 "NodeJS - FailureException: Worker was unable to load function IsActiveSponsor: 'TypeError: isPlainObject is not a function'"
### Problem
After upgrading to the latest version 4.5.6 of @octokit/graphql a NodeJS serverless Azure Function now complains about
**isPlainObject is not a function at Object.keys.forEach.key**

If I revert the package.json dependency back to **4.5.4** then it continues to work as it once did.

This works fine locally with the Azure Functions CLI with VSCode, however once deployed to Azure it give

[2020-09-22 21:43] pragnagopa commented on #335
@mhoeger - transferring this issue to node worker repo. Please investigate. Thanks!

[2020-09-24 02:51] mhoeger commented on #335
Hi @warrenbuckley ! Sorry for the delay. I'm having a busy week and haven't had time to try to repro this on my own, but one thing to check out is the Kudu portal to see if there's anything odd about your node modules?

You can go to Kudu by going to: https://github-sponsor-check-deploy.scm.azurewebsites.net/ and "Debug Console" => CMD, `cd site\wwwroot` in the terminal

[2020-09-24 07:36] warrenbuckley commented on #335
I have checked the folder contents in Kudu and the **node_modules** folder seems to be fine @mhoeger
Hopefully you can investigate soon, so we can find the cause of this problem so I can pass back any info to the package author @gr2m of `@octokit/graphql`

[2020-09-28 07:50] warrenbuckley commented on #335
@mhoeger is there any update on this at all please?

[2020-09-29 20:34] mhoeger commented on #335
Hi @warrenbuckley ! I can't repro your issue :/ I'm using your same code and GitHub actions and am able to see things working here:
Main site:
https://mahoeger-octokit.azurewebsites.net/IsActiveSponsor
Deployment slot:
https://mahoeger-octokit-deploy.azurewebsites.net/IsActiveSponsor

[2020-09-29 20:36] mhoeger commented on #335
Is there anything specific about your environment you've changed? Ex: under "Configuration" => "General settings" => "Platform settings"? Ex: My platform is 32-bit

[2020-09-29 21:07] warrenbuckley commented on #335
Hi @mhoeger thanks for getting back to me
Here is a screenshot of the General Settings - mine also shows as 32Bit too, this is currently in production & being used so ideally I do not want to roll out a new Azure Function resource if I have to.

## General Settings
![image](https://user-images.githubusercontent.com/1389894/94615456-b08cb880-029f-11eb-85a9-7756a2130748.png)

So this seems that it c

[2020-09-30 05:06] mhoeger commented on #335
Thanks @warrenbuckley ! If you could try too that would be great. The "Kudu" (scm) site is a good place to debug, although please also be careful because what you see is what is running in production.  What I would do is make changes to the `IsActiveSponsor` even directly in code. Unfortunately we don't have remote debugging for node enabled yet :\ so adding print statements in deployed code or be

[2020-09-30 08:33] warrenbuckley commented on #335
## Azure Resource Settings & Region
![image](https://user-images.githubusercontent.com/1389894/94658705-10647d00-02fb-11eb-9805-5770140a6988.png)

## Logs from VSCode deploy via extension
Deployed this way to save time setting up connecting a new GitHub Action pipeline to deploy to the test Azure Function App

[code]

As suspected I cannot reproduce the error/problem.
https://github-issue-335.azur

[2020-09-30 20:08] fabiocav commented on #333
Is this done? Can we close this issue?

[2020-09-30 20:37] #327 closed, assigned to mhoeger

[2020-09-30 20:37] #324 closed, assigned to mhoeger

[2020-09-30 20:41] mhoeger commented on #334
Did not get a chance to work on this (and need Suwat's help) - bumping sprint

[2020-09-30 20:41] mhoeger commented on #333
Change needs to happen before 10/6 but is not in yet.

[2020-10-05 13:21] warrenbuckley commented on #335
Closed this @mhoeger as I managed to create a new Azure Function that is not freaking out on me & still deploys via GH Actions & transferred the domain over to this new function.

Thanks for looking into this - if this ever comes up again (doubt it will) I will re-open this issue 😄

[2020-10-05 13:21] #335 closed, assigned to mhoeger

[2020-10-05 17:16] mhoeger commented on #335
Sorry we weren't able to diagnose the weird behavior, please do re-open if you run into it again!

[2020-10-05 22:30] mhoeger commented on #333
Change made in Antares

[2020-10-05 22:30] #333 closed, assigned to mhoeger

[2020-10-14 20:10] pragnagopa commented on #334
@mhoeger - please update if any progress has been made for this item.

[2020-10-14 20:11] pragnagopa commented on #331
Moving to next sprint. Please move it triaged if there are higher priority work items.

[2020-10-21 00:20] rsousa88 commented on #283
I can confirm this works:
1. Updated Core Tools to latest version (2.7.2936)
2. Checked linuxFxVersion (it was `NODE|10`)
`az resource show --id /subscriptions/*****/resourceGroups/***-resource-group/providers/Microsoft.Web/sites/***-function-app`
3. Updated linuxFxVersion value to `NODE|12`
`az resource update --id /subscriptions/*****/resourceGroups/***-resource-group/providers/Microsoft.Web/sit

[2020-10-22 20:23] mhoeger opened #340 "Test effect of webpacking on cold start for large packages"
When we first decided not to go forward supporting azure-functions-pack, this was based off of evidence that reducing package size was not a significant factor. However, we should revisit this.

https://github.com/Azure/azure-functions-pack/issues/84

This is an item to explore the effects and if we could quickly update azure-functions-pack to have latest dependencies.

[2020-10-22 20:24] mhoeger commented on #340
CALL TO COMMUNITY: If anyone has evidence in this space please do share :) This isn't the highest priority for me but is something that we're thinking about

[2020-10-27 00:23] #331 closed, assigned to mhoeger

[2020-10-27 00:24] mhoeger commented on #331
Note: moved dev => v1.x and changed default branch to v2.x - dev staying as is

[2020-10-27 15:11] pragnagopa commented on #331
Can you please open an issue to track renaming master to `main` ?

[2020-10-28 18:27] mhoeger commented on #334
Unfortunately, didn't get much time to invest in this item (on servicing first half of sprint) - will be syncing up with Suwat for latest

[2020-10-28 18:29] mhoeger opened #343 "Prototype for new app model"
Polish code here: https://github.com/mhoeger/create-function-app
To make a useable prototype / demo

[2020-10-28 20:12] anthonychu opened #344 "Add support for ES Modules"
Allow Node 14 functions to use ESM by supporting `.mjs` files.

A function would look something like this:

[code]

[2020-10-30 06:50] anthonychu commented on #256
@mhoeger Could we do something like this instead if this is running in Core Tools? If Core Tools and the installed Node version is not officially supported but is >= the minimum supported version, print a warning but allow still worker to start.

[2020-10-30 16:58] mhoeger commented on #256
The behavior Chris described is what we do now for Node.js 12- do you think this should be the behavior for everything including Node.js 11, 13 and 15?

https://github.com/Azure/azure-functions-nodejs-worker/blob/67941a159bf893b9459fd9a9bbdd691f8ba10838/src/nodejsWorker.ts#L27

[2020-10-30 16:59] mhoeger commented on #256
And if yes, yeah we could make that change!

[2020-11-02 07:48] anthonychu commented on #256
I think that warning is gone on the v2.x branch. What I was thinking of was this:

https://github.com/Azure/azure-functions-nodejs-worker/blob/8dcd914ce2a053595e6a038475de53b7800c507e/src/nodejsWorker.ts#L31-L34

It should continue to throw in production if not running on a supported LTS version. But if running in Core Tools, perhaps it should only print a warning and continue, as long as they're

[2020-11-04 10:33] ntziolis opened #345 "Typings for Bindings"
Right now there are only bindings for a general context. Accessing input / output bindings is not typesafe:
https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-storage-blob-trigger?tabs=javascript

[code]

Instead it should be possible to provide a generic argument to the Context interface that holds a typed version of the bindings

[code]

Without these typings the typescrip

[2020-11-06 23:44] kbarnes3 opened #346 "LTS Node version (14.15.0) is not supported."
When trying to use a Node based Azure Function, I get the following error:

[code]

I find this error message clear and the documentation also looks consistent. However, v14.15.0 is the current LTS version offered on nodejs.org and it is somewhat difficult to find a compatible version on that site. Is there an ETA for support for version 14.* of Node?

#### Investigative information

[code]

[2020-11-10 20:15] anthonychu opened #347 "Automatically decode x-www-form-urlencoded and multipart/form-data HTTP request bodies"
Make it easy to parse data posted directly from HTML forms to an HTTP triggered function. This may be particularly useful for Azure Static Web Apps but in general this comes up regularly for Functions.

Examples from recent blog posts:
* @svdoever https://www.sergevandenoever.nl/Processing-multipart-form-data-in-nodejs-azure-function-with-httptrigger/
* @estruyf https://www.eliostruyf.com/parse-mu

[2020-11-10 22:57] zhamadagithub opened #399 "Blob Trigger - Event Hub Capture - Avro Issue Error: truncated bufferat RecordType.Type.fromBuffer"
I am using Azure EventHubs archive to store my event hubs data to an azure blob storage. Eventhubs archive stores the data in avro format. I've written an Azure function in NodeJS that listens to the blob trigger event (fired whenever data is sent to Eventhubs and written to the blob storage in avro format).

As soon as the trigger is fired, I want to decode the data sent in avro format (which is

[2020-11-11 21:09] fabiocav commented on #334
Moving to sprint 89

[2020-11-12 05:47] anthonychu commented on #346
@kbarnes3  This should be unblocked locally in Azure Functions Core Tools 3.0.2996. You'll be able to run function apps on Node 14 in Azure soon.

[2020-11-12 18:29] mhoeger opened #348 "Document how to pass command line options for Node.js"
The way to do it is with environment variable / app setting: languageWorkers__node__arguments

Example:
[code]

Add section [here](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2#local-debugging)

[2020-11-12 19:03] kbarnes3 commented on #346
Thanks @anthonychu, I updated my core tools and now I'm able to use Node 14 locally.

[2020-11-12 19:03] #346 closed, assigned to nobody

[2020-11-17 01:43] vrdmr opened #349 "[FeatureRequest] Enable Debug Logging for Functions"
Related: https://github.com/Azure/azure-functions-host/issues/6879

**Describe the request: A clear and concise description.**
Make sure we are doing the following things to enable logging:

- Allow functions to have `logging.debug` (or equivalent in the language) to be logged and sent to the customer.
- The plan currently is for the host to send the logging levels used for each function and defau

[2020-11-18 21:25] grbspltt opened #736 "Use ts-node for Typescript Projects"
It would be really nice to use `ts-node` under the hood for typescript projects when developing.  Debugging errors would be far easier seeing where the error happened in the TS code vs compiled JS.

[2020-11-18 21:44] apawast commented on #736
@mhoeger could you please take a look at this?

[2020-11-18 23:19] kpm-at-hfi opened #351 "NodeJS Functions running in VSCode shutting down after 15-20 minutes"
I'm not sure this is the right place for this issue, but it's hard to know for sure. Please redirect me if needed.

In VSCode I'm running a NodeJS Functions app. It starts and runs fine for 15-20 minutes, and then I see:

[code]

I don't remember seeing this happening for this project when I was working daily on it a few weeks ago.

Basic stats:

* Node: v10
* Core Tools Version: 3.0.2996 Commit h

[2020-11-18 23:39] mhoeger commented on #736
Hi @grbspltt - we're not very likely to fix this, it's quite a bit of work for a very specific scenario for us (especially because we would not want to run with ts-node in production for perf reasons).

One thing we are working on is fixing this, so that file changes can be made while debugging: https://github.com/Azure/azure-functions-host/issues/3543. Hopefully any errors are going to be easier

[2020-11-19 01:50] kpm-at-hfi commented on #351
I'm wondering if this might be related to developing in containers. I rolled back to just before I ran this in a container and it seems to run fine, without stopping.

I started running in a container by running "Remote Containers: Add Development Container Configuration Files..." and choosing "Azure Functions & Node.js". Which, BTW, was amazing for how seamlessly it got things running. The only f

[2020-11-19 07:34] grbspltt commented on #736
@mhoeger Thanks for the response.  I would expect that using ts-node would be for development purposes only.  I don't know anything about what happens under the hood when `func start` is run but perhaps a command like `func start-dev` could use ts-node and the source files instead of dist.

What I'm really looking for is a simpler way to read error messages.  I see the source maps in dist, but the

[2020-11-19 11:48] hlz commented on #736
Would love to see support for this as well!

[2020-11-23 22:21] kpm-at-hfi commented on #351
I _believe_ this was caused by an uncaught exception in my own function code, so closing this; I can't recreate it any more.

[2020-11-23 22:21] #351 closed, assigned to nobody

[2020-11-24 13:32] LwsSt opened #524 "Transfer-Encoding Chunked does not work in Javascript functions"
An HTTP request sent using Transfer-Encoding: Chunked to an Azure Function written in Javascript causes the body to be `undefined`.

I discovered this issue when a C# client was communicating with a javascript azure function.
I refactored the client to change from StringContent to ObjectContent, and therefore it would stream the request directly to the HTTP request stream, instead of creating an i

[2020-11-24 20:28] mfontes opened #352 "Worker crashing on RpcException"
#### Investigative information

- Timestamp: 193 failed operations between 11/24/2020, 11:27:20 AM and 11/24/2020, 11:49:47 AM
- Invocation ID: 6e9924ae-d470-4bfc-939a-65e41c3a3030 (first occurrence) and 6ba54e62-c877-4be2-bddb-acaab5577d41 (last occurrence)
- Region: West US 2

#### Repro steps
1. Invoke the function

#### Expected behavior
1. After invoking the function I expect it to run and id

[2020-11-25 21:15] fabiocav commented on #344
Work in progress. Moving to sprint 90

[2020-11-25 21:19] anthonychu commented on #348
@pragnagopa Can you share a bit more info on what needs to be done if we were to do this in production? I don't know if folks should be doing profiling in prod, but perhaps for configuring other arguments like this: https://github.com/Azure/azure-functions-host/issues/6550

[2020-11-25 21:27] mhoeger opened #353 "Update stacks to take Node.js 14 out of preview"
Need to:
 - Make sure ES Modules shipped
 - Tooling all has Node.js 14 capabilities (and defaults)
 - Placeholders (ANT 91) completely rolled out
 - Announcement sent out

[2020-11-25 22:08] pragnagopa commented on #348
Above instructions are OK for non-consumption skus .

In Consumption, we should call out the following in the docs:

If your app is using consumption plan, you need  to add following appsetting. **Note: This will increase cold starts for your functions**

**App setting key WEBSITE_USE_PLACEHOLDER with value set to 0**

[2020-11-27 18:20] katlimruiz commented on #283
Wasn't it easier to simply read also WEBSITE_NODE_DEFAULT_VERSION in linux? I guess this would be the sound question.

Or somehow in the engine use both interchangeable so the outer interface remain the same.  Common sense would tell you that linux and windows should not differ as much (sometimes it looks like Azure promotes Windows for this matter).

(enough rant), thanks for the examples and hel

[2020-12-03 01:07] #344 closed, assigned to mhoeger

[2020-12-05 16:24] shammelburg commented on #347
This would be amazing

[2020-12-07 17:59] pragnagopa opened #355 "Add log when nodejs worker received an invocation request"
This is a follow up from an internal investigation. As of now, there are no worker logs that indicate when it received an invocation request and when user code execution started

Sample logs:

Region: East US

FunctionsLogs
| where PreciseTimeStamp > datetime(2020-12-03 13:00:00)
| where PreciseTimeStamp < datetime(2020-12-03 13:55:00)
| where RoleInstance == "dw0SmallDedicatedWebWorkerRole_IN_hr0

[2020-12-09 06:45] anthonychu opened #356 "Errors don't show in log stream"
Internal issue: https://dev.azure.com/azuretracking/Azure%20tracking/_queries/edit/1703/?triage=true
Also: https://dev.azure.com/azuretracking/Azure%20tracking/_queries/edit/1723/?triage=true
https://dev.azure.com/azuretracking/Azure%20tracking/_queries/edit/1713/?triage=true

If you create a JS function that throws (adding "throw 'error';" in the code for example) and try to stream logs with the

[2020-12-09 06:46] anthonychu commented on #356
@mhoeger please take a look at this. It's being flagged as a P1 in Node end to end review.

[2020-12-09 09:18] hwride opened #358 "isPastDue is not set to true when TimeTrigger is late"
When a TimeTrigger is late running I would expect to see `isPastDue` set to `true` but it is always set to `false`.

Here is some example code I have run where the function is configured to trigger every 1s but takes 5s to run, meaning the next invocation is delayed. `isPasteDue` is always `false`.

### function.json
[code]
### index.js
[code]

### Versions
- Azure Functions Core Tools
[code]
- OS

[2020-12-10 19:07] apawast commented on #358
@mhoeger could you please take a look at this?

[2020-12-10 20:20] mhoeger commented on #358
Able to repro - adding to this sprint to take a look

[2020-12-10 22:51] fabiocav commented on #356
Primary goal here is for investigation. We need to identify the issue so we can scope and potentially commit to sprint.

[2020-12-21 20:28] G-Rath commented on #169
According to the [docs](https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2#response-object) the `res` interface should have `body`, `headers`, `isRaw`, `status`, and `cookies`.

Would be great to get an interface for this landed to compliment `HttpRequest` - even if it needs interaction, having an interface would serve as a starting point.

(also, in my testing

[2020-12-24 01:08] nsd-david opened #360 "Require Global Variable"
#### Investigative information

Please provide the following:

- Timestamp:2020-12-24T00:27:24.318Z
- Function App name:
- Function name(s) (as appropriate):
- Invocation ID:96e59651-920e-44dc-b6af-c9aa2bd8c594
- Region:US-East

#### Repro steps

Provide the steps required to reproduce the problem:

Here's my function.json
[code]

My function looks like this (I modified it, so it's easier to read)

[2021-01-06 07:10] anthonychu commented on #360
@nsd-david Yes what you have there should work. At startup, the Node worker requires/imports each function module and the initialization code outside the function body runs once and this is cached by Node. I don't believe the worker does anything to the require cache that can cause things to be reimported, but @mhoeger can confirm.

As you've noticed, the exported function itself will be run on ev

[2021-01-06 13:07] nsd-david commented on #360
@anthonychu I'll remove `context.done()` from my async functions. The reason I can't move

[code]

outside is because I need req in some cases
for example
[code]

In order to re-use inversify in all my functions I created a wrapper function

startup contains the inversify code, and I just re-use it in all functions
[code]

function 1
[code]

function 2
[code]

Do you see any issues with doing that

[2021-01-06 19:41] mhoeger commented on #360
+1 to what @anthonychu has said!

I think rather than doing the above, you're going to want to just setup the "inversify" object once.

Example (sorry for not great names):

inversifyInstance.js
[code]
Any index.js
[code]

[2021-01-06 19:55] nsd-david commented on #360
@mhoeger @anthonychu thank you for helping me with this. You're both going way above and beyond what I was expecting for help.

The reason I can't just create inversifyInstance.js is because my inversify instance depends on variables from **req**.

What I'm doing right now, and it seems to be working locally (I haven't tested remote yet) is using a higher order function

Any index.js
[code]

start

[2021-01-07 17:03] #353 closed, assigned to mhoeger

[2021-01-07 23:33] mhoeger commented on #360
@nsd-david - I believe that will work! If it all works as expected locally, then there shouldn't be any difference when deployed (each Functions instance is its own Node.js process, where each Functions instance can can process multiple Function invocations in parallel. Locally, you see what happens with just one Functions instance/one Node.js process)

[2021-01-08 13:02] nsd-david commented on #360
@mhoeger okay that makes sense. I feel better about pushing these changes to our remote functions. Thanks again for your help.

[2021-01-08 13:02] #360 closed, assigned to nobody

[2021-01-09 04:52] Rapol opened #415 "Worker command line arguments"
#### Is your question related to a specific version? No

#### What language does your question apply to? All

#### Question

Is there a way to pass command line arguments to the language worker? We use webpack and want to pass `--enable-source-maps` argument to the node process. I found this issue https://github.com/Azure/azure-functions-host/issues/2947 that has a merged PR but not sure if this i

[2021-01-13 20:29] mhoeger commented on #356
Unable to repro this
<img width="811" alt="Screen Shot 2021-01-13 at 12 27 44 PM" src="https://user-images.githubusercontent.com/8888531/104506892-d9a92e80-559a-11eb-8470-edf5429a700d.png">

Where this is my code:
[code]

[2021-01-14 01:45] mhoeger commented on #356
@sinedied - sorry for the late response on this by the way! I've tried deploying to a Linux Dedicated app as well as Windows consumption and am unable to repro. Can you give me some more details on when you ran into this behavior? And if you did something like the code above, was it just the failed executions that weren't showing up? Some helpful information would be: core tools version you used a

[2021-01-14 13:44] sinedied commented on #356
I don't have the Function App deployed anymore, but I'll try to roll up a new one and give you all the details to reproduce. The core tools version I had installed was 3.0.2996, using Node.js v12. The stack trace you show is what I could get using VS Code or the Portal, but using the CLI strangely all I got what nothing.

I'll test again on my current env, then retry with latest core tools/Node.js

[2021-01-15 00:44] Francisco-Gamino opened #361 "Functions Integration Tests—Onboard Nodejs worker"
Please follow the instructions in the OneNote to onboard your language worker.

[2021-01-15 05:13] mhoeger commented on #356
Thank you @sinedied !

[2021-01-18 10:40] sinedied commented on #356
@mhoeger I tried publishing the same project I used when I raised this issue, on a new azure function (both windows and linux, Node.js v12 and v14) and could not reproduce the issue I had before, but had some mixed results though.

My process was always the same:
- Use the same functions projects I used for E2E reviews, no code change
- Create a new function app with a new resource group (sometime

[2021-01-20 20:32] mhoeger commented on #356
Thanks for trying and for the extra details @sinedied! I'm going to close this particular issue, but please do file issues and tag folks with more specific details for some of these scenarios. There appear to be a variety of issues that may need investigating individually.

One thing that I think will help significantly is @Francisco-Gamino and @madelinegordon 's work to have daily automated E2E t

[2021-01-20 20:32] #356 closed, assigned to mhoeger

[2021-01-20 21:02] mhoeger opened #363 "Improve local dev experience for unsupported versions of Node.js"
It's a better local development experience if warnings are issued on local development rather than outright failure for missing Node.js versions

[2021-01-20 21:18] fabiocav commented on #334
@mhoeger FYI, moving this back to `triaged`

[2021-01-21 21:59] jagan-copilot opened #371 "Vulnerability in grpc package dependency"
A security vulnerability is recorded in the package grpc fore before 1.24.4 versions, and the latest version of azure-functions-core-tools (2.7.3188) is referencing 1.24.2

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2020-7768

I am using node package and wondering if there is any workaround to address this.

[2021-01-22 20:53] davidmrdavid opened #365 "Any thoughts on upgrade our TypeScript version?"
As per our [package.json](https://github.com/Azure/azure-functions-nodejs-worker/blob/v2.x/package.json#L29), we are currently pinned to TypeScript version  `2.x`. This prevents us from having neat tools like a [linter rule](https://github.com/typescript-eslint/typescript-eslint/blob/master/packages/eslint-plugin/docs/rules/strict-boolean-expressions.md) that would warn us of _suspicious_ if-state

[2021-01-25 23:07] mhoeger commented on #365
Note: upgrade to "any" types like `bindings` and `bindingData` on context to "unknown" https://github.com/Azure/azure-functions-nodejs-worker/pull/359#issuecomment-767147393

[2021-01-26 18:37] apawast commented on #371
@fabiocav @mhoeger can you help with this?

[2021-01-27 05:10] mhoeger commented on #371
+ @alrod - the work to update TypeScript version should come first since this gRPC update adds use of the "unknown" type

[2021-01-31 02:09] simonua commented on #104
Hi,

Quick check if there are any updates. Thank you!

[2021-01-31 19:25] anthonychu commented on #104
This is on the way. We’re adding support for ES modules. If you use the `.mjs` extension in your function file, you can use ESM syntax. This will be available as a preview feature when running on Node 14.

[2021-02-03 21:02] mhoeger commented on #363
This is a bigger item than expected - for local we also need to bundle native dependencies as done [here](https://github.com/Azure/azure-functions-nodejs-worker/blob/aa967888f5d7e983e8aa2889863bf5031975a752/package.ps1#L28)

For package size, we don't want to include these to our deployed versions on Azure

cc: @alrod

[2021-02-04 20:21] alrod opened #373 "Add support for RetryContext"
Issue: Azure/azure-webjobs-sdk#2595 added support to access retry context within execution context.

This tracking item to expose the same property in python functions. Currently blocked on Azure/azure-functions-host#7048

[2021-02-07 18:14] joelvarty opened #386 "Support running on M1 Macs [Node.js]"
Trying to get an azure function project running on an M1 Macbook Pro.

I think the main issue is this - any ideas for a workaround?

[code]

Full command output below:

[code]

[2021-02-09 18:45] apawast commented on #386
@mhoeger and @alrod it looks like we're missing the grpc binaries for the M1 Macbook Pro. What do you think we should do?

[2021-02-09 19:02] mhoeger commented on #386
We currently don't support ARM-based systems regardless of OS. Likely need to target_arch of `arm64` in generating our deployment bundles (I would say for node 10 - 14, no need to support for functions v2 / node 8): https://github.com/Azure/azure-functions-nodejs-worker/blob/aa967888f5d7e983e8aa2889863bf5031975a752/package.ps1#L34

@alrod - should look into how much this would increase our package

[2021-02-10 01:52] joelvarty commented on #386
I've worked around this by installing node 10 in a Rosetta 2 Terminal session with nvm.  Interestingly, now as long as I run `nvm use 10` my function app runs perfectly, even in a regular VS Code terminal.

[2021-02-13 02:46] kitazaki commented on #386
I've had same situation.
Following workaround works fine for me.

% npm init -y
% npm install grpc
% ln -s `pwd`/node_modules/grpc/src/node/extension_binary/node-v83-darwin-arm64-unknown  /opt/homebrew/Cellar/azure-functions-core-tools@3/3.0.3284/workers/node/grpc/src/node/extension_binary

[2021-02-19 23:12] #373 closed, assigned to alrod

[2021-02-22 18:46] #365 closed, assigned to alrod

[2021-02-22 20:17] mhoeger commented on #253
Resolved with https://github.com/Azure/azure-functions-nodejs-worker/pull/326

[2021-02-22 20:17] #253 closed

[2021-02-25 20:07] maximivanov commented on #283
Maybe it will be useful to someone finding this thread: I've tried to combine the information on how to change Node.js version in Linux/Windows function apps via Portal / Azure CLI / ARM / Terraform / Powershell: https://www.maxivanov.io/change-nodejs-version-in-azure-functions/

Basically I've created 4 function apps (Windows/Linux x Premium/Consumption) to verify the version change process. In a

[2021-02-25 20:40] anthonychu commented on #371
We should do this for Functions 3.x. Investigate 2.x and fix, or advise to switch to v3.

[2021-02-25 20:47] anthonychu commented on #363
Maybe allowing a version that's not supported in Azure could cause problems. Let's not do this for now.

[2021-02-25 20:58] anthonychu commented on #347
Needs further discussion. Perhaps we can ship a separate library (or in `@azure/functions`)?

[2021-02-25 20:59] anthonychu commented on #358
Looks like this might be a problem with how the host/webjobs sdk sets the flag in certain scenarios. Tracking that here: https://github.com/Azure/azure-webjobs-sdk-extensions/issues/436

[2021-02-25 20:59] #358 closed, assigned to mhoeger

[2021-03-05 18:56] brendandburns opened #377 "Binding Data for integers is inconsistent."
#### Investigative information

Please provide the following:
N/A - this issue is reproducible locally.

#### Repro steps

Provide the steps required to reproduce the problem:

Run the following Typescript function:
[code]

With the following `function.json`

[code]

Run `func start`

Hit the URL with 0 as the parameter:

`curl <function-url>/api/periods/0`

Output is:
[code]

Hit the URL with 1 a

[2021-03-05 21:28] anthonychu commented on #377
Thanks @brendandburns. This is an interesting behavior and we'll investigate.

We recommend that you use `req.params` to access routing parameters. The behavior should be consistent in that case.

[2021-03-05 21:34] anthonychu opened #378 "Add a detector for Linux apps that have WEBSITE_NODE_DEFAULT_VERSION set"
Helps identify situations where customers are trying to change the Node.js version on Linux by using the app setting.

[2021-03-05 21:39] anthonychu commented on #283
How to configure Node.js versions is also in our docs: https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2#setting-the-node-version

Also added a work item to see if we can detect when this setting is applied to Linux.

@katlimruiz This is currently a limitation in how the different platforms select a worker that has the correct Node.js version for running your

[2021-03-09 00:58] #371 closed, assigned to alrod

[2021-03-17 08:49] asbjornh opened #381 "[Question]: New type for context.req.query"
`@azure/functions` version `1.2.3` has apparently changed the TypeScript type of `context.req.query` from `Record<string, string>` to `Record<string, string | undefined>`.

Basically, I just need to know why this was changed, because this change has created a _ton_ of type errors in our app and I need to find the correct way of fixing them.

I can think of two reasons for this change:
1) Property

[2021-03-18 08:22] ruheni opened #382 "Azure Functions TypeScript version"
Hello folks 👋🏾

Awesome work with the Azure Functions. The experience is so much fun-c 🙂

I used the CLI to create a TypeScript serverless function. I noticed the typescript version used is `v3.3.3` in the devDependencies. Could this be updated to the latest version of TypeScript by default?

I got errors when working with `@prisma/client` and could not start the functions, but after making the up

[2021-03-19 17:34] anthonychu commented on #256
A quick update on this thread.

@mhoeger @alrod I think you looked into this and supporting more versions requires the worker to package more gRPC binaries. So based on this, we decided to park this item.

However, going through some user research right now (folks running functions in Static Web Apps), folks are installing node via stuff like homebrew, which defaults to latest current, and once th

[2021-03-26 19:44] mhoeger commented on #294
@alrod and @AnatoliB - this will be super important to get into the next major version release - very much a pain today. Either by making all "body" the raw version or actually populating "rawBody" with the bytes version. [This capability](https://github.com/Azure/azure-functions-host/wiki/Out-of-Proc-Worker-Capabilities#rawhttpbodybytes) is related, most other language workers consume raw bytes f

[2021-03-26 19:46] mhoeger commented on #382
Haha! Love the joke :)

cc: @alrod - we updated our own types package too to use the latest version of typescript and are planning on updating the VS Code template to default to a higher version of TypeScript. This is a good issue to track that work. Thanks!

[2021-03-28 12:45] zeyuri opened #384 "Setting node arguments on azure application settings dont work"
#### Investigative information

Please provide the following:

- Function name(s) (as appropriate):
- Invocation ID: d5d9c46b-6775-41b3-bc6a-ad38491372c3
- Region: East US

#### Repro steps

1. Setup an application setting "languageWorkers__node__arguments=--experimental-loader @node-loader/core"
2. Hit the function

#### Expected behavior

The invoked function should run with the experimental loa

[2021-03-29 22:39] gidich commented on #736
BUMP! Let's keep this one in the spotlight

[2021-03-30 18:16] mhoeger commented on #384
Hi @zeyuri - this settings is currently only meant for local development, but we are working on addressing your issue in this work item: https://github.com/Azure/azure-functions-host/issues/7139

Please note too that setting `languageWorkers:node:arguments` in production will have a small negative performance impact on cold start, which is something that we should be sure to document (cc: @anthony

[2021-03-30 18:17] mhoeger commented on #67
This has become less important since the introduction of "async/await" with Node.js 8 and having our templates default to use async. Still considered an "enhancement"

[2021-03-30 18:22] mhoeger commented on #133
done: https://github.com/Azure/azure-functions-nodejs-worker/blob/d792761bb79087eb779edc722beca4b0a538dd24/test/WorkerChannelTests.ts#L191

[2021-03-30 18:22] #133 closed

[2021-03-30 18:23] mhoeger commented on #134
Update on this - I believe that adding "dataType": "string" would make sure that the message is serialized as string content

[2021-03-30 18:24] mhoeger commented on #135
I believe this is possible by returning an array of items instead of a single item. Perhaps worth documenting cc: @anthonychu

[2021-03-30 18:29] mhoeger commented on #139
Closing as stale and likely fixed by many of the improvements around worker process management.

[2021-03-30 18:29] #139 closed

[2021-03-30 18:34] mhoeger commented on #179
Closing as done

[2021-03-30 18:34] #179 closed

[2021-03-30 18:37] mhoeger commented on #233
Closing as fixed - does not repro with Functions V3 and "got": "^11.8.2"

[2021-03-30 18:37] #233 closed

[2021-03-30 18:42] mhoeger commented on #204
Much duplication was removed on the data passing layer but not on the "context" object itself - worth considering for V4, but for V3 we tended towards limiting breaking changes.

[2021-03-30 18:46] mhoeger commented on #242
I'm not sure what the current status on this is, but if not yet addressed would be good to add after @soninaren 's Errors API work

[2021-03-30 18:47] mhoeger commented on #245
Effectively addressed by https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings#functions_worker_process_count, although perhaps needs more investigation

[2021-03-30 18:53] mhoeger commented on #363
Per Anthony's comment here: https://github.com/Azure/azure-functions-nodejs-worker/issues/256#issuecomment-802998063

_@mhoeger @alrod I think you looked into this and supporting more versions requires the worker to package more gRPC binaries. So based on this, we decided to park this item._

_However, going through some user research right now (folks running functions in Static Web Apps), folks a

[2021-03-30 18:54] mhoeger commented on #256
Closing as the original issue has been addressed and the update on allowing "current" versions during local dev is tracked here: https://github.com/Azure/azure-functions-nodejs-worker/issues/363

[2021-03-30 18:54] #256 closed

[2021-03-30 18:57] mhoeger commented on #274
Update: "Empty Headers are parsed incorrectly" issue has been fixed but not headers cased incorrectly issue.

[2021-03-30 18:58] mhoeger commented on #280
Closing as dupe of https://github.com/Azure/azure-functions-nodejs-worker/issues/214
cc: @alrod

[2021-03-30 19:02] mhoeger commented on #281
Closed by https://github.com/Azure/azure-functions-nodejs-worker/pull/241

[2021-03-30 19:02] #281 closed

[2021-03-30 19:12] mhoeger opened #387 "Add support for shared memory data transfers"
Need to take advantage of Gohar's changes that enable shared memory transfer. https://github.com/Azure/azure-functions-host/issues/6791

This will greatly improve performance for large trigger/binding data payloads.

Addresses: https://github.com/Azure/azure-functions-nodejs-worker/issues/296

[2021-03-30 19:13] mhoeger commented on #387
See python implementation: https://github.com/Azure/azure-functions-python-worker/pull/816/files

[2021-03-30 19:14] mhoeger commented on #296
Closing this issue as tracked by implementing this fix: https://github.com/Azure/azure-functions-nodejs-worker/issues/387

For more context, please see these details: https://github.com/Azure/azure-functions-host/issues/6791#issue-721658054

[2021-03-30 19:18] mhoeger commented on #348
This will be improved after: https://github.com/Azure/azure-functions-host/issues/7139
We should document the minor perf impact

[2021-03-30 19:30] mhoeger commented on #377
I'm not sure where exactly something is going wrong, but it seems very likely that in some code path, we aren't explicitly checking for `value == null`. Related: https://github.com/Azure/azure-functions-nodejs-worker/pull/364

This is a breaking change we need to make with V4.

[2021-03-30 19:32] mhoeger opened #388 "Handle all falsy values appropriately"
As @davidmrdavid, there are places where we do not treat falsy values as proper data and instead treat it as false.

Example: https://github.com/Azure/azure-functions-nodejs-worker/pull/364

These need to be addressed and proper linting rules need to be put in place to prevent this issue in the future

[2021-03-30 19:36] mhoeger commented on #381
Hi - the query parameter value can be undefined in the following cases:
[code]

where my code is this:
[code]

Did I understand your question correctly? Sorry about the inconvenience as well.

[2021-03-30 21:50] asbjornh commented on #381
Hi and thanks.
Yeah you got it, and no worries!

For the three URLs you mentioned, I get the following values for `context.req.query` using a function very similar to yours:

- `{ hello: "" }`
- `{ hello: "" }`
- `{}`

In other words, I get empty strings and no `undefined`.

[2021-03-31 05:01] mhoeger commented on #381
Ahh sorry - that's expected :) The case of `undefined` then is: `http://localhost:7071/api/HttpTrigger`

One thing you can do, if you know that your client will definitely always send the HTTP query of some name, is this:
[code]

[2021-03-31 07:59] asbjornh commented on #381
Unless I'm mistaken, the type `{ [key: string]: string | undefined }` means that the object in question can contain the _literal_ `undefined`: `{ something: "", hello: undefined }`, which is different from `{ something: "" }` if you have any logic that involves iterating over object properties (which we do). To me it still doesn't seem like the `query` object will ever contain `undefined` literals

[2021-03-31 08:33] pellebjerkestrand commented on #381
Seems like this is the commit that changed the types: https://github.com/Azure/azure-functions-nodejs-worker/commit/eb2845b31477d7f0b45a2b17de642d154944452c

The PR is at https://github.com/Azure/azure-functions-nodejs-worker/pull/359

I also can't produce any behavior in which the values are `undefined`.

[2021-03-31 11:23] zeyuri commented on #384
Thanks for the answer!

[2021-03-31 17:27] mhoeger commented on #384
As a workaround - you can also set an app setting with key `WEBSITE_USE_PLACEHOLDER` and value `0`. However, this has an even more significant cold start performance impact and we typically don't recommend it. The PR linked above, once merge and deployed, will let you consume your custom "arguments" without `WEBSITE_USE_PLACEHOLDER=0`. See more context here: https://github.com/Azure/azure-function

[2021-04-01 18:29] glasser commented on #274
Just to clarify: when writing a function that uses `@azure/functions` and reads headers, is the correct way to read the header to use `req.headers['lowercase-version-of-the-header-you-care-about']`?

@mhoeger refers to `req.get` but I don't see that in [the TypeScript definitions file](https://github.com/Azure/azure-functions-nodejs-worker/blob/master/types/public/Interfaces.d.ts).

[2021-04-01 20:03] etang93 commented on #736
This would be a great feature to have!

[2021-04-01 20:51] nguyenduy commented on #736
This would speed up the development process a lot!

[2021-04-02 19:35] zeyuri commented on #384
I think I'm gonna try using containers

[2021-04-04 20:06] mogupta-ecfmg commented on #736
This is something I have been expecting to see for a long time now! Its very inconvenient to stop/start the debug session everytime we make a change.

[2021-04-09 20:29] estruyf commented on #347
This would be great!

[2021-04-23 09:27] TobiScw opened #390 "EventHub Binding does not resolve Event Custom Properties in case cardinality "one" and EventMessage contains a properties field on the first level"
#### Investigative information
It seems like the EventHub binding cannot correctly parse the Custom Properties of an Event if the message body contains a "properties" object.

Message that is send in the ServiceBusExplorer
![image](https://user-images.githubusercontent.com/16148648/115849306-0b952100-a425-11eb-9db8-ac693c49cef1.png)

Function that recieves the message with wrongly set context.bind

[2021-04-24 16:47] #384 closed, assigned to nobody

[2021-05-01 14:12] wpitallo commented on #104
Any updates on this?

[2021-05-01 18:08] anthonychu commented on #104
Yes please see our docs for more details. It’s unclear if ES modules will become stable in Node.js 14 so this feature may keep its “preview” label in Azure Functions until Node.js 16 LTS is available on the platform. https://docs.microsoft.com/en-us/azure/azure-functions/functions-reference-node?tabs=v2#ecmascript-modules

[2021-05-03 20:05] rishabhkumarjain opened #391 "Status (Result) code is always setting as 0 in function error (ex timer trigger function). how to set custom status code (like 400,404)"
I want to know that how we can set result code in function (Timer Trigger) if any error generated in node js. Ex - If any error throw due to bad input, we want to log 400 status code.

#### Investigative information

NA

#### Expected behavior

Return Code should logged with the error stack for any function trigger.

Example:

 - I've created an timer trigger function, which is failing with invali

[2021-05-04 16:36] janpio commented on #158
This is very nice.

Is there a way to set these platform settings via CLI when creating a function as well or doe we have to use the web UI for that? Was hoping to find something on https://docs.microsoft.com/en-us/azure/azure-functions/functions-app-settings, but that is not the case.

[2021-05-06 04:14] tuomaskujala commented on #736
Would be great if this was included in the tools.

As a temporary solution, I'm running `tsc -w` in another bash tab.

[2021-05-12 18:25] wpitallo commented on #104
Awesome thank you :)

[2021-05-13 17:34] timjensen-kr commented on #399
@zhamadagithub Did you ever get this resolved? I am experiencing same error

[2021-05-18 13:20] mikkark commented on #320
I just bumped into this myself too. I thought about doing my custom backup solution for some data in Table Storage using a simple timed Azure Function in TS, but I will miss the timestamp field. It is not exactly a showstopper for me, but very strange indeed.

[2021-05-26 21:34] Francisco-Gamino opened #396 "Onboard Nodejs worker to be built as part of Integration Tests"

[2021-05-26 23:46] #396 closed, assigned to nobody

[2021-05-31 14:04] v-anvari commented on #399
Hi @zhamadagithub , Apologies for the delayed response. Thank you for your feedback! We will investigate this further and update you with the findings.

[2021-06-03 22:00] gidich opened #398 "Release v2 of TypeScript Typings"
The NPM Types Package [@azure/functions](https://www.npmjs.com/package/@azure/functions) has not been updated with latest types in awhile.

For instance RetryContext (part of the system since 2.1) is not available.

[2021-06-03 22:05] mkuklani commented on #398
We do not see this feature as mentioned above. It would be nice to be added to types

[2021-06-03 22:12] heruwala commented on #398
Please prioritize this request, With types, it would help access the retry count property.

[2021-06-07 14:33] kapoor1109 commented on #398
NPM type package needs to be updated to the latest with the released codebase.

[2021-06-07 14:35] nguyenduy commented on #398
It would be more stable and consistent if NPM type package is current with the released codebase.

[2021-06-07 14:41] mogupta-ecfmg commented on #398
We need to access the retry count property to implement the desired retry logic. Please consider this on priority

[2021-06-07 15:20] anthonychu commented on #398
@alrod Can you please take a look?

[2021-06-07 16:14] fabiocav commented on #399
FYI @alrod . Transferring this to the Node repo

[2021-06-23 17:02] hongzli opened #400 "Date toLocaleDateString produces incorrect locale format"
Specifying locale does not work correctly. This also impacts inline Javascript actions for Logic Apps Standard.

Code:
var text = new Date('12/25/2020').toLocaleDateString('en-CA');

Expected result - date in Canadian format (works in Node.js):
2020-12-25

Actual result - date in the US format:
12/25/2020

[2021-06-23 18:59] priya-patil9 opened #401 "Incompatible Node.js version (v16.3.0). The version of the Azure Functions runtime you are using (v2) & (v3)"
Getting incompatible Node version error when running func host start .

[2021-06-23T18:44:22.614Z] Incompatible Node.js version (v16.3.0). The version of the Azure Functions runtime you are using (v2) supports Node.js v8.x and v10.x. Refer to our documentation to see the Node.js versions supported by each version of Azure Functions: https://aka.ms/functions-node-versions
[2021-06-23T18:44:22.614Z]

[2021-06-24 19:55] justinstigall commented on #401
No version of Azure functions currently works on Node 16, downgrade to 14 to be able to use V3

https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions

[2021-06-28 22:32] fofiu commented on #386
Any resolution to this issue?

[2021-07-07 21:37] anthonychu commented on #401
Related: https://github.com/Azure/azure-functions-nodejs-worker/issues/363

Transferring to Node.js worker repo

[2021-07-09 04:05] briandunnington opened #407 "CVE-2020-7768 - Update grpc to newer version"
This was originally filed as Azure/azure-functions-core-tools#2594 but it was closed due to author inactivity. But the azure-functions-core-tools package was never updated so we are still getting flagged for this. Can you publish a new version with the updated dependency? (We are using v3)
![image](https://user-images.githubusercontent.com/1545776/125021816-39573280-e030-11eb-9c38-bb05c4e75917.png

[2021-07-09 05:57] akozlov75 commented on #386
Guys, Gals anything going on with this issue? It's the middle of July already!

[2021-07-12 14:34] vitor-l commented on #386
Any response yet? OMG!

[2021-07-12 16:33] fofiu commented on #386
FYI -- As a work around I used `nvm` to install an intel based earlier version of node.js `14.16` in my case and I use that for running the Azure Function code locally.

[2021-07-12 19:56] Francisco-Gamino opened #402 "setup-e2e-tests.ps1 should support enabling the test environment for integrations tests"

[2021-07-16 16:06] asbjornu commented on #283
Is this a problem for regular App Service as well? I've tried setting `engine` and `WEBSITE_NODE_DEFAULT_VERSION` to `14`, but the app service is still locked to `v12.19.0`.

[2021-07-17 06:10] balag0 commented on #283
yes linux webapps work the same way wrt WEBSITE_NODE_DEFAULT_VERSION

[2021-07-19 17:49] #402 closed, assigned to nobody

[2021-07-19 21:48] briandunnington commented on #407
Bumping in hopes of triage/response

[2021-07-20 13:58] asbjornu commented on #283
@balag0, nope; setting `WEBSITE_NODE_DEFAULT_VERSION` had absolutely no effect. What I had to do is [documented on Stack Overflow](https://stackoverflow.com/a/68412270/61818):

[2021-07-21 19:08] Francisco-Gamino opened #404 "Add Node language worker integration test pipeline"

[2021-07-27 00:28] #404 closed, assigned to nobody

[2021-07-28 21:23] AnatoliB commented on #400
I was unable to reproduce this: a simple Node.js 14 app on Windows gave me the expected result (2020-12-25). Please add more details on how exactly you are observing the wrong result:

- Node.js version
- OS
- Hosting plan details
- Entire repro app code

[2021-07-28 21:56] hongzli commented on #400
This appears to repro only with NodeJS 12. I used a function app deployed to Azure on a Windows app service plan, consumption SKU.

Result using NodeJS 12 (incorrect result):
![image](https://user-images.githubusercontent.com/69482556/127400662-728c46d5-cd43-4768-9266-00f167c4dda3.png)

Result using NodeJS 14 (desired, correct result):
![image](https://user-images.githubusercontent.com/69482556/12

[2021-07-28 22:13] AnatoliB commented on #400
I would highly recommend upgrading your app to Node.js 14 or looking for code workarounds. The chances of fixing this for Node.js 12 are slim because:

1. Even if it is technically possible to fix on the Functions side, this would be a breaking change potentially affecting existing apps. We can consider this breaking change for the next Functions runtime version (v4), but we cannot do that for the

[2021-07-28 22:43] hongzli commented on #400
Ok thanks. Closing this issue with that workaround.

[2021-07-28 22:43] #400 closed, assigned to nobody

[2021-07-29 17:54] apawast commented on #407
@alrod could you please help take a look at this?

[2021-08-05 14:32] PCOffline commented on #398
Bumping this! The timer input in the functions doesn't have a type either

[2021-08-05 16:20] ghost commented on #335
Hello,

I had a similar issue as described here: My code worked well on my local machine (using VS Studio) however failed on Azure with weird error messages reporting that modules (not always the same!) couldn´t be loaded.

For the record one such error message:
`Result: Failure Exception: Worker was unable to load function mailWatchDog: 'Error: Cannot find module 'qs' Require stack: - C:\home\sit

[2021-08-05 17:37] apawast commented on #407
@AnatoliB could help take a look at this?

[2021-08-05 21:04] Francisco-Gamino opened #408 "Nodejs language worker end to end test should also be run on Linux"
Nodejs language worker end to end test should also be run on Linux. Currently, the end to end tests are only running on Windows.

[2021-08-05 21:04] Francisco-Gamino commented on #408
cc: @AnatoliB

[2021-08-07 11:48] tobim-dev commented on #386
It's interesting. I now tried multiple versions of node using `nvm`. Found out that version `10.24.1` worked as well as version `14.16.1`. However, the current LTS version `14.17.4` does not work. So for now I think it's best to stay with `14.16.1`.

[2021-08-30 23:42] bm77525-kr commented on #398
Also interested in getting proper access to the retry context that now lives on the execution context property

[2021-09-06 12:34] v-anvari commented on #293
Tagging @alrod , for more insights

[2021-09-08 04:19] ssidnal opened #412 "NodeJs Azure function local variables per invocation"
Trying to find an object in Azure Function NodeJs which can hold level variables per invocation.

something like res.locals in expressjs http://expressjs.com/en/5x/api.html#res.locals

Please suggest if there is any other way in which I can have local variables per execution with azure functions.

[2021-09-14 13:00] v-anvari commented on #415
Hi @Rapol , Can you tell us what is the expected output. Can you give us more details on what you are trying here

[2021-09-18 13:00] ghost commented on #415
This issue has been automatically marked as stale because it has been marked as requiring author feedback but has not had any activity for **4 days**. It will be closed if no further activity occurs **within 3 days of this comment**.

[2021-09-21 13:09] Rapol commented on #415
We want to pass command line arguments to the runtime process. In our case we use node runtime and wanted to pass the `--enable-source-maps` command line option https://nodejs.org/dist/latest-v12.x/docs/api/cli.html#cli_enable_source_maps

Our use case no longer needs us to pass the command line options so I have abandoned this ticket. After investigating, it is possible to pass node CLI options t

[2021-09-21 14:02] v-anvari commented on #415
Transferring this issue to node worker for more insights

[2021-09-30 15:39] flo-sch opened #426 "How to adjust structure folder for monorepositories?"
I work with typescript and [nx.dev](https://nx.dev/) workspace: a build tool allowing to easily lint, test, build and share source code inside a monorepo (using TS path mapping from a root `tsconfig.base.json`).

It works with a specific folder structure which makes it a bit hard to combine with Azure Functions:

    /tsconfig.base.json
    /package.json
    /node_modules
    /host.json (?)
    /.

[2021-10-01 23:05] anthonychu opened #421 "Automatically decode x-ms-client-principal header"
Add a `user` property to the `HttpRequest` that contains an object representing the logged in user.

If a user is logged in, the platform sets the `x-ms-client-principal` header, which is in base64 encoded JSON. Both AppService/Functions authentication and Static Web Apps authentication support this header. However, they each have a slightly different schema.

Option 1: automatically decode the he

[2021-10-05 18:03] ejizba opened #427 "Add TimerTrigger types"
Specifically, add a type to be used for `myTimer` instead of `any`:

[code]

Need to keep in mind that starting in v2 of the worker (v3 of the host), TimerTrigger [changed from](https://docs.microsoft.com/en-us/azure/azure-functions/functions-versions?tabs=javascript%2Cv4#breaking-changes-between-2x-and-3x) camelCase to PascalCase in v2 of the worker (v3 of the host)

[2021-10-05 18:08] ejizba opened #428 "'@azure/functions' npm package versioning"
As of right now, the only version of the `@azure/functions` [npm package](https://www.npmjs.com/package/@azure/functions) that has been published is v1.x. However, each new version of the Node.js worker can introduce breaking changes that would affect the TypeScript types. My proposal is that the TypeScript types should be directly tied to the worker version and we should release/maintain each maj

[2021-10-05 18:15] ejizba opened #429 "Establish pattern for updating templates with new TypeScript types"
Once we get [updated types](https://github.com/Azure/azure-functions-nodejs-worker/issues/427) in for TimerTrigger, we ideally want to update the templates to use those types. However, users with old versions of the package will get build errors if we start referencing the new `Timer` type. For example:

<img width="1411" alt="Screen Shot 2021-10-05 at 10 47 30 AM" src="https://user-images.githubu

[2021-10-05 18:27] ejizba commented on #398
Hi folks - I just joined the team and will be focusing on the Node.js experience, including a lot of improvements to the TypeScript types. I would appreciate if you filed issues on this repo for any and all things you would like addressed in the types going forward. I've already started creating some issues myself - just take a look at the 'typescript-types' label for more information: https://git